// * Buffer region dialog styles
//  *******************************************

.buffer-form {
  .control-label {
    width: 125px;
  }

  .controls {
    margin-left: 130px;
  }

  h6 {
    margin-bottom: 0;
  }
}
