// Feature info window styles

.feature-info-window {
  .feature-tabs {
    .nav-tabs {
      padding-top: 5px;
    }
  }

  .tab-content {
    padding: 5px 0 0;

    >.tab {
      height: 100%;
      overflow: auto;
    }
  }

  .description-tab {
    padding: 0;
  }

  .description-frame {
    display: block;
    height: 100%;
    width: 100%;
  }

  .table {
    border: 1px solid #000;
    margin-bottom: 0;
  }

  .table-striped tbody>tr:nth-child(odd)>th {
    border: 1px solid #444;
  }

  .table-striped tbody > tr:nth-child(even) > td,
  .table-striped tbody > tr:nth-child(odd) > td {
    background-color: inherit;
  }

  .table-striped tbody > tr:nth-child(even) {
    background-color: #777;

    &.selected a,
    &:hover a {
      color: #000;
    }

    &.selected {
      color: #000;

      &:not(:hover) {
        background: #0cc;
      }
    }

    &:hover {
      background: #98ff98;
      color: #000;
      cursor: pointer;
    }
  }

  .table-striped tbody > tr:nth-child(odd) {
    background-color: #666;

    &.selected a,
    &:hover a {
      color: #000;
    }

    &.selected {
      color: #000;

      &:not(:hover) {
        background: #0cc;
      }
    }

    &:hover {
      background: #98ff98;
      color: #000;
      cursor: pointer;
    }
  }

  .table-condensed th {
    cursor: pointer;
    padding: 2px 5px;
  }

  .table-condensed td {
    border: 0;
    padding: 2px 5px;
  }

  .pre {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
  }

  .col-act {
    display: inline;
  }

  .slick-sort-indicator {
    margin-top: 2px;
  }
}
