// Inline (Glyph) button styles

.glyphs {
  position: relative;
  z-index: 1;
}

.glyph {
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 .8em;
  }
}

.glyph-remove {
  color: #d00;
}

.glyph-filter {
  color: #0d0;
}
