// * Navbar Styles
// *******************************************/
#scale-line {
  min-width: 175px;
  text-align: right;
}

#zoom-level {
  font-size: 13px;
  min-width: 90px;

  > .ol-zoom-level > :not(:first-child) {
    margin-left: 20px;
  }
}

#mouse-position {
  cursor: pointer;
  min-width: 200px;
}

.mouse-position {
  color: $color-white;
  text-align: right;
}

#log-control {
  margin-top: 3px;
}

// Nav Button Styles

.nav-btn-group .nav-btn {
  &:first-child {
    @include border-radius(4px 0 0 4px);

    button {
      @include border-radius(2px 0 0 2px);
      margin-right: 0;
    }
  }

  + .nav-btn {
    margin-left: -4px;
  }

  &:last-child {
    @include border-radius(0 4px 4px 0);

    button {
      @include border-radius(0 2px 2px 0);
      margin-left: 0;
    }
  }
}

.nav {
  .btn-separator {
    top: 3px;
  }
}

.nav-btn {
  @include border-radius(4px);
  background: #999;
  display: inline-block;
  padding: 1px;
  vertical-align: middle;

  button {
    // sass-lint:disable no-vendor-prefixes
    @include border-radius(2px);
    -webkit-appearance: none;
    background: $color-medium-gray;
    border: 0;
    color: #fff;
    display: block;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 22px;
    margin: 1px;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: rgba(0, 60, 136, .7);
    }

    &:disabled {
      @include opacity(.75);
      background: $color-medium-gray;
      cursor: not-allowed;
    }
  }

  span {
    font-size: 14px;
  }

  i {
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
  }

  &.selected button {
    background: $color-dark-gray;
  }

  &.active i {
    color: #ff0;
    font-weight: bold;
  }

  &.addon {
    button {
      padding: 0 1px;
    }

    i {
      font-size: 8px;
    }
  }

  &.nav-btn-mini {
    i {
      font-size: 8px;
    }

    button {
      height: 14px;
      line-height: 14px;
      padding: 0 4px;
    }
  }
}
