// * Tabs
// ***************************************/

.nav-tabs {
  border-bottom: 1px solid $color-black;
  padding-top: 3px;

  > {
    li {

      > a {
        background-color: #444;
        border: 1px solid $color-black !important;
        padding-bottom: 0;
        padding-top: 0;
        text-decoration: none;
      }

      &.first > a {
        margin-left: 5px;
      }

      &.active > a {
        background-color: $color-gray !important;
        border-bottom-color: transparent !important;
      }
    }

    .active > a:focus {
      border: 0;
      color: $color-white;
    }
  }
}

.tab-content {
  @include box-sizing(border-box);
  padding: 5px;
}
