// * Import Wizard Styles
// *******************************************

.wizard-step {
  .panel {
    background: $overrides-box-bg-color;
    margin-bottom: 5px;
  }

  .form-horizontal {
    .control-label {
      width: 0;
    }

    .control-no-label {
      padding-top: 3px;
    }

    .controls-short {
      margin-left: 55px;
      padding-top: 3px;
    }

    .controls {
      margin-left: 70px;

      &.units {
        margin-left: 40px;
      }
    }
  }

  &.csvconfig .spinner-container {
    display: inline-block;
    width: 50px;
  }

  [class*='span'] {
    select,
    input {
      @include box-sizing(border-box);
      height: 24px;
      width: 100%;
    }
  }

  &.csvconfig {
    input[type=checkbox] {
      margin-left: 2px;
      width: auto;
    }

    .wizard-preview {
      @include calc(height, '50% - 36px');
    }

    .form-horizontal .controls {
      margin-left: 85px;
    }
  }

  &.geometry .ellipse-fields .controls {
    &.column {
      margin-left: 85px;
    }
  }
}

.dedupe-params {
  background-color: #555;
  border: 1px solid #333;
  border-top: 0;
}

.dedupe-params-top {
  border-top: 1px solid #333;
}

.fieldset {
  border: 1px groove #333;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: 287px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: auto;
  padding: 5px;
}

.fs-legend {
  border: 0;
  display: block;
  line-height: inherit;
  margin-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  width: auto;
}

.dedupe-info {
  font-weight: bold;
  margin-bottom: 5px;
}

.dedupe-config-button {
  font-size: 12px;
}

.dedupe-config-pane {
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.dedupe-table {
  border: 0;
}

.dedupe-configname {
  display: block;
  width: 195px;
}

.dedupe-config {
  margin-top: 2px;
  width: calc(100% - 60px);
}

.dedupe-step-content-compact {
  height: 100%;
  width: 100%;
}

.dedupe-step-content-full {
  float: right;
  height: 100%;
  width: calc(100% - 330px);
}

.dedupe-steps-pane {
  @include box-sizing(border-box);
  background: #777 !important;
  font-size: 13px;
  height: 100%;
  padding: 0;
  width: 325px;
}

.panel .table {
  margin-bottom: $overrides-margin-bottom;

  tr {
    &:first-child > {
      th,
      td {
        border-top: 0;
      }
    }

    &:last-child > {
      th,
      td {
        border-bottom: $overrides-border-width solid #1c1e22;
      }
    }
  }
}

// * Export Styles
// *******************************************/

.export-dialog .form-horizontal .control-label {
  width: 60px;
}

.export-dialog .form-horizontal .controls {
  margin-left: 65px;
}

.export-options h6 {
  margin-bottom: 0;
}

.kml-export label {
  line-height: 21px;
  margin: 0;
}

