<div ng-form="durationForm" class="duration-picker">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center" ng-if="useWeeks">
        <spinner
            min="0"
            step="1"
            value="durCtrl.weeks"
            name="weekSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label ng-class="{'disabled': disabled}">
          weeks
        </label>
      </div>
      <div class="text-center" ng-if="useDays">
        <spinner
            min="0"
            max="durCtrl.maxdays"
            step="1"
            value="durCtrl.days"
            name="daySpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label ng-class="{'disabled': disabled}">
          days
        </label>
      </div>
      <div class="text-center" ng-if="useHours">
        <spinner
            min="0"
            max="durCtrl.maxhours"
            step="1"
            value="durCtrl.hours"
            name="hourSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label ng-class="{'disabled': disabled}">
          hours
        </label>
      </div>
      <div class="text-center" ng-if="useMinutes">
        <spinner
            min="0"
            max="durCtrl.maxminutes"
            step="1"
            value="durCtrl.minutes"
            name="minuteSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label ng-class="{'disabled': disabled}">
          minutes
        </label>
      </div>
      <div class="text-center" ng-if="useSeconds">
        <spinner
            min="0"
            max="durCtrl.maxseconds"
            step="1"
            value="durCtrl.seconds"
            name="secondSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label ng-class="{'disabled': disabled}">
          seconds
        </label>
      </div>
      <div class="pl-2">
        <validation-message target="durCtrl.errors.duration"></validation-message>
      </div>
      <input type="hidden" name="duration" ng-model="durCtrl.valid" required/>
    </div>
  </div>
</div>
