<div ng-form="durationForm" class="c-duration">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center" ng-if="useWeeks">
        <spinner
            ng-class="{'d-inline-block u-input-number__width-2': short, 'u-input-number__width-4': !short}"
            min="0"
            step="1"
            value="durCtrl.weeks"
            name="weekSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label class="mb-0" ng-class="{'disabled': disabled}">
          {{short ? 'w ' : 'weeks'}}
        </label>
      </div>
      <div class="text-center" ng-if="useDays">
        <spinner
            ng-class="{'d-inline-block u-input-number__width-2': short, 'u-input-number__width-4': !short}"
            min="0"
            max="durCtrl.maxdays"
            step="1"
            value="durCtrl.days"
            name="daySpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label class="mb-0" ng-class="{'disabled': disabled}">
          {{short ? 'd ' : 'days'}}
        </label>
      </div>
      <div class="text-center" ng-if="useHours">
        <spinner
            ng-class="{'d-inline-block u-input-number__width-2': short, 'u-input-number__width-4': !short}"
            min="0"
            max="durCtrl.maxhours"
            step="1"
            value="durCtrl.hours"
            name="hourSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label class="mb-0" ng-class="{'disabled': disabled}">
          {{short ? 'h&nbsp;' : 'hours'}}
        </label>
      </div>
      <div class="text-center" ng-if="useMinutes">
        <spinner
            ng-class="{'d-inline-block u-input-number__width-2': short, 'u-input-number__width-4': !short}"
            min="0"
            max="durCtrl.maxminutes"
            step="1"
            value="durCtrl.minutes"
            name="minuteSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label class="mb-0" ng-class="{'disabled': disabled}">
          {{short ? 'm&nbsp;' : 'min'}}
        </label>
      </div>
      <div class="text-center" ng-if="useSeconds">
        <spinner
            ng-class="{'d-inline-block u-input-number__width-2': short, 'u-input-number__width-4': !short}"
            min="0"
            max="durCtrl.maxseconds"
            step="1"
            value="durCtrl.seconds"
            name="secondSpinner"
            live="true"
            disabled="disabled">
        </spinner>
        <label class="mb-0" ng-class="{'disabled': disabled}">
          {{short ? 's' : 'sec'}}
        </label>
      </div>
      <div class="pl-2" ng-if="!short">
        <validation-message target="durCtrl.errors.duration"></validation-message>
      </div>
      <input type="hidden" name="duration" ng-model="durCtrl.valid" ng-required="durCtrl.isrequired"/>
    </div>
  </div>
</div>
