<div ng-form="dateForm">
  <div class="form-row">
    <div class="form-group">
      <label for="startControls">{{startEndCtrl.startLabel}}:</label>
      <div id="startControls">
        <input type="hidden" name="startDate" data-ng-required="startEndCtrl.startRequired" data-ng-model="startEndCtrl.start" />
        <div data-date-time class="d-inline-block" data-value="startEndCtrl.start" data-disabled="disabled" is-required="startEndCtrl.startRequired" data-invalid="startEndCtrl.startInvalid"></div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="endControls">{{startEndCtrl.endLabel}}:</label>
      <div id="endControls">
        <input type="hidden" name="endDate" data-ng-required="startEndCtrl.endRequired || startEndCtrl.endInvalid" data-ng-model="startEndCtrl.end" />
        <div data-date-time class="d-inline-block" data-value="startEndCtrl.end" data-disabled="disabled" is-required="startEndCtrl.endRequired" data-invalid="startEndCtrl.endInvalid"></div>
      </div>
    </div>
  </div>

  <div class="form-group" data-ng-show="!startEndCtrl.orderValid">
    <!-- Just require that its valid -->
    <input type="hidden" data-ng-required="!startEndCtrl.orderValid" data-ng-model="startEndCtrl.orderValid"/>
    <span class="text-danger">{{startEndCtrl.startLabel}} is after {{startEndCtrl.endLabel}}!</span>
  </div>
</div>
