<div ng-form="dateForm">
  <div ng-class="{'container-fluid':!startEndCtrl.vertical}" ng-show="startEndCtrl.showLabels">
    <div ng-class="{'row':!startEndCtrl.vertical,'form-group':startEndCtrl.vertical}">
      <label ng-class="{'col-3 text-right':!startEndCtrl.vertical, 'col p-0': startEndCtrl.vertical, 'u-required': startEndCtrl.startRequired}" for="startControls">{{startEndCtrl.startLabel}}</label>
      <div id="startControls" ng-class="{'col':!startEndCtrl.vertical}">
        <input type="hidden" name="startDate" data-ng-required="startEndCtrl.startRequired" data-ng-model="startEndCtrl.start" />
        <div data-date-time class="d-inline-block" data-value="startEndCtrl.start" data-disabled="disabled" is-required="startEndCtrl.startRequired" data-invalid="startEndCtrl.startInvalid"></div>
      </div>
    </div>
  </div>

  <div ng-class="{'container-fluid':!startEndCtrl.vertical}" ng-show="startEndCtrl.showLabels">
    <div ng-class="{'row':!startEndCtrl.vertical,'form-group':startEndCtrl.vertical}">
      <label ng-class="{'col-3 text-right':!startEndCtrl.vertical, 'col p-0': startEndCtrl.vertical, 'u-required': startEndCtrl.endRequired}" for="endControls">{{startEndCtrl.endLabel}}</label>
      <div id="endControls" ng-class="{'col':!startEndCtrl.vertical}">
        <input type="hidden" name="endDate" data-ng-required="startEndCtrl.endRequired || startEndCtrl.endInvalid" data-ng-model="startEndCtrl.end" />
        <div data-date-time class="d-inline-block" data-value="startEndCtrl.end" data-disabled="disabled" is-required="startEndCtrl.endRequired" data-invalid="startEndCtrl.endInvalid"></div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column" ng-show="!startEndCtrl.showLabels">
    <input type="hidden" name="startDate" data-ng-required="startEndCtrl.startRequired" data-ng-model="startEndCtrl.start" />
    <div data-date-time class="d-inline-block form-group" data-value="startEndCtrl.start" data-disabled="disabled" is-required="startEndCtrl.startRequired" data-invalid="startEndCtrl.startInvalid"></div>
    <input type="hidden" name="endDate" data-ng-required="startEndCtrl.endRequired || startEndCtrl.endInvalid" data-ng-model="startEndCtrl.end" />
    <div data-date-time class="d-inline-block" data-value="startEndCtrl.end" data-disabled="disabled" is-required="startEndCtrl.endRequired" data-invalid="startEndCtrl.endInvalid"></div>
  </div>

  <div class="form-group" data-ng-show="!startEndCtrl.orderValid">
    <!-- Just require that its valid -->
    <input type="hidden" data-ng-required="!startEndCtrl.orderValid" data-ng-model="startEndCtrl.orderValid"/>
    <span class="invalid-feedback d-block">{{startEndCtrl.startLabel}} is after {{startEndCtrl.endLabel}}!</span>
  </div>
</div>
