//=== Top Gaps ===


.top-gap-3px {
  margin-top: 3px;
}

.top-gapxs {
  margin-top: 5px;
}

.top-gaps {
  margin-top: 8px;
}

.top-gap {
  margin-top: 15px;
}

.top-gapm {
  margin-top: 22px;
}

.top-gapl {
  margin-top: 35px;
}

.top-gapxl {
  margin-top: 55px;
}

.right-gapxxs {
  margin-right: 2px;
}

.right-gapxs {
  margin-right: 5px;
}

.right-gaps {
  margin-right: 8px;
}

.right-gap {
  margin-right: 15px;
}

.right-gapm {
  margin-right: 22px;
}

.right-gapl {
  margin-right: 35px;
}

.right-gapxl {
  margin-right: 55px;
}

.bot-gap-3px {
  margin-bottom: 3px;
}

.bot-gapxs {
  margin-bottom: 5px;
}

.bot-gaps {
  margin-bottom: 8px;
}

.bot-gap {
  margin-bottom: 15px;
}

.bot-gapm {
  margin-bottom: 22px;
}

.bot-gapl {
  margin-bottom: 35px;
}

.bot-gapxl {
  margin-bottom: 55px;
}

.left-gapxxs {
  margin-left: 2px;
}

.left-gapxs {
  margin-left: 5px;
}

.left-gaps {
  margin-left: 8px;
}

.left-gap {
  margin-left: 15px;
}
