<div class="d-flex flex-column flex-fill u-overflow-y-auto container-fluid">
  <h4>Bearing</h4>
  <div class="form-group">Select how you would like bearings to be displayed:</div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="radio" id="trueNorth" value="trueNorth" ng-model='ctrl.format'>
      <label class="form-check-label" for="trueNorth" title="Use true north for bearings">True North</label>
      <p>Show bearings relative to true geographic north.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="radio" id="magnetic" value="magnetic" ng-model='ctrl.format'>
      <label class="form-check-label" for="magnetic" title="Use magnetic north for bearings">Magnetic North</label>
      <p>Show magnetic bearings by calculating magnetic declination via the joint NGA-DGC World Magnetic Model (WMM). The current coefficient data in use is the {{cofVersion}} version.</p>
      <p ng-if="helpUrl"><a ng-href="{{helpUrl}}" target="_blank">Click here</a> for more details on the WMM.</p>
    </div>
  </div>
</div>
