<div class="d-flex flex-column flex-fill u-overflow-y-auto container-fluid">
  <h4>Interpolation</h4>
  <div class="form-group">The interpolation settings used by the application for line/polygon segments.</div>

  <h5>Method</h5>
  <div class="form-group">
    <div class="form-check" title="Use geodesic interpolation">
      <input class="form-check-input" id="geodesicInterpolation" type="radio" ng-model="method" value="geodesic"/>
      <label class="form-check-label" for="geodesicInterpolation">Geodesic</label>
      <p>Also known as "shortest arc" or "orthodrome", a Geodesic is the shortest path between two points
      over the surface of the earth. This path follows a constantly-variable bearing and typically
      requires computer navigation equipment to follow.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check" title="Use rhumb interpolation">
      <input class="form-check-input" id="rhumbInterpolation" type="radio" ng-model="method" value="rhumb"/>
      <label class="form-check-label" for="rhumbInterpolation">Rhumb</label>
      <p>Also known as "loxodrome" or "azimuth". This path, while not the shortest distance, follows a constant bearing over the
      surface of the earth. It is easier to navigate with a compass.</p>
    </div>
  </div>

  <h5>Granularity</h5>
  <div class="form-group row flex-shrink-0">
    <label class="col-form-label col-auto" title="Distance between coordinates">Distance between coordinates in kilometers</label>
    <input class="form-control col-2" type="number" name="kilometers" step="1" min="10" max="1000" ng-model="kilometers"/>
  </div>
</div>
