<div class="d-flex flex-column flex-fill container-fluid u-overflow-x-auto u-overflow-y-auto">
  <div class="d-flex flex-row flex-shrink-0">
    <h4 class="col p-0">Legend</h4>
    <div class="my-auto">
      <button class="btn btn-primary" ng-click="legend.openLegend()"
          title="Open the legend on the map">
        <i class="fa fa-map-signs"></i>
        Open Legend
      </button>
    </div>
  </div>
  <div class="form-group">Use these settings to configure the map legend.</div>

  <div class="card form-group flex-shrink-0">
    <div class="card-header">Content Options</div>
    <div class="card-body">
      <div class="form-group">
        <div class="form-check" title="Show feature layers in the legend">
          <input class="form-check-input" id="legendShowVector" type="checkbox" name="showVector"
              ng-model="legend.options.showVector"
              ng-change="legend.toggle('showVector')"/>
          <label class="form-check-label" for="legendShowVector">Show feature layers</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check" title="Show feature layers in the legend">
          <input class="form-check-input" id="legendShowVectorType" type="checkbox" name="showVectorType" ng-disabled="!legend.options.showVector"
              ng-model="legend.options.showVectorType"
              ng-change="legend.toggle('showVectorType')"/>
          <label class="form-check-label" for="legendShowVectorType">Show feature layer type</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check" title="Show feature count in the legend">
          <input class="form-check-input" id="legendShowCount" type="checkbox" name="showCount" ng-disabled="!legend.options.showVector"
              ng-model="legend.options.showCount"
              ng-change="legend.toggle('showCount')"/>
          <label class="form-check-label" for="legendShowCount">Show feature count</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check" title="Show tile layers in the legend">
          <input class="form-check-input" id="legendShowTile" type="checkbox" name="showTile"
              ng-model="legend.options.showTile"
              ng-change="legend.toggle('showTile')"/>
          <label class="form-check-label" for="legendShowTile">Show tile layers</label>
        </div>
      </div>
      <div class="js-legend-settings__plugin-options"></div>
    </div>
  </div>

  <div class="card form-group flex-shrink-0">
    <div class="card-header">Display Options</div>
    <div class="card-body">
      <div class="form-group">
        <div class="form-check" title="Show legend background">
          <input class="form-check-input" id="legendShowBackground" type="checkbox" name="showBackground"
              ng-model="legend.options.showBackground"
              ng-change="legend.toggle('showBackground')"/>
          <label class="form-check-label" for="legendShowBackground">Show background</label>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" ng-click="legend.toggleBold()"
            ng-class="legend.options.bold && 'active'"
            title="Toggle bold font">
          <i class="fa fa-fw fa-bold" />
        </button>
        <button class="btn btn-secondary" ng-click="legend.decreaseFontSize()"
            ng-disabled="!legend.canDecreaseFontSize()"
            title="Decrease the font size">
          <i class="fa fa-fw fa-minus" />
        </button>
        <button class="btn btn-secondary" ng-click="legend.increaseFontSize()"
            ng-disabled="!legend.canIncreaseFontSize()"
            title="Increase the font size">
          <i class="fa fa-fw fa-plus" />
        </button>
        <colorpicker color="legend.options.bgColor" title="Change the legend background color"
            disabled="!legend.options.showBackground">
        </colorpicker>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-auto">Opacity</label>
        <div class="col-6 my-auto">
          <slider min="0.1" max="1" step="0.1" value="legend.options.opacity" live="true" name="opacity"></slider>
        </div>
      </div>
    </div>
  </div>
</div>
