<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body d-flex flex-row">
    <nav class="col-6 d-flex border px-0">
      <slicktree x-data="metricsNodes" selected="selected" show-root="false" multi-select="false"></slicktree>
    </nav>
    <section class="col-6">
      <metricdetails metric="selected"></metricdetails>
    </section>
  </div>
  <div class="modal-footer justify-content-between">
    <span>
      <input class="ml-1 pl-1 rounded" type="text" ng-model="setCon.term" ng-change="setCon.search()"
          placeholder="Search features" />
      <span ng-click="setCon.clearSearch()" ng-show="setCon.term" title="Clear the search term">
        <i class="fa fa-times"></i>
      </span>
    </span>
    <button type="button" class="btn btn-primary" ng-click="setCon.close()">
      <i class="fa fa-fw fa-check"></i>
      Close
    </button>      
  </div>
</div>
