<div class="d-flex flex-column flex-fill u-overflow-y-auto container-fluid">
  <h4>Projection</h4>
  <div class="form-group">Select the map projection:</div>
  <div class="d-flex flex-row form-group">
    <select class="custom-select" ng-model="projCtrl.projection"
        ng-options="item.code + ' ' + item.title for item in projCtrl.projections track by item.code">
    </select>
    <button class="btn btn-primary col-auto ml-1" ng-disabled="projCtrl.projection.code == projCtrl.appProjection.code" ng-click="projCtrl.apply()">
      <i class="fa fa-check"></i>
      Apply
    </button>
  </div>
</div>
