<div class="ui-settings-container window-content-wrapper">
  <div class="window-content">
    <nav class="settings-nav">
      <slicktree x-data="settingsNodes" selected="selected" show-root="false"></slicktree>
    </nav>
    <section class="settings-container">
      <uiswitch class="h-100" items="selected" directive-function="setCon.getUi" generic="defaultsettingui"></uiswitch>
    </section>
  </div>
  <div class="window-footer">
    <div class="pull-right" >
      <button type="button" class="btn btn-default" ng-click="setCon.close()">
        <i class="fa fa-fw fa-check"></i>
        Close
      </button>
    </div>
    <button type="button" class="btn btn-default pull-left" ng-click="setCon.reset();">
      <i class="color-red fa fa-fw fa-refresh"></i>
      Reset
    </button>
  </div>
</div>
