<div class="container u-flex-grow d-flex flex-column">
  <div class="row p-2 u-flex-grow">
    <div class="col-4 px-0 u-flex-grow d-flex">
      <slicktree x-data="settingsNodes" selected="selected" show-root="false" class="u-flex-grow border rounded"></slicktree>
    </div>
    <div class="d-flex flex-column col-8 pr-0 u-flex-grow u-overflow-y-hidden">
      <uiswitch class="d-flex flex-column u-flex-grow" items="selected" directive-function="setCon.getUi" generic="defaultsettingui"></uiswitch>
    </div>
  </div>
  <div class="m-2 row js-settings-container__bottom-row">
    <button type="button" class="btn btn-outline-danger" ng-click="setCon.reset();">
      <i class="fa fa-fw fa-refresh"></i>
      Reset
    </button>
  </div>
</div>
