<div class="d-flex flex-column flex-fill u-overflow-y-auto container-fluid">
  <div>
    <h4>Theme</h4>
    <div class="d-flex align-items-center">
      <div class="col-form-label mr-2 flex-shrink-0">Primary Theme</div>
      <select class="custom-select" ng-options="key as key for (key, value) in ctrl.themes" ng-change="ctrl.onThemeChange()"
        ng-model="ctrl.theme"></select>
    </div>
  </div>
  <div ng-if="ctrl.accessibleThemes" class="mt-2">
    <div class="animate-slide border-top pt-3 mt-3 a-transition-duration__200ms">
      <div class="d-flex align-items-center">
        <div class="col-form-label mr-2 flex-shrink-0">Accessibility Options</div>
        <select class="custom-select" ng-options="key as key for (key, value) in ctrl.accessibleThemes[ctrl.theme]"
          ng-change="ctrl.onAccessableThemeChange()" ng-model="ctrl.accessibleTheme">
          <option value="" ng-value="null">Default</option>
        </select>
      </div>

      <h4 class="mt-3 text-center pt-3">Examples (for display only)</h4>
      <div class="d-flex flex-wrap mt-1 justify-content-center border rounded p-2">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="ml-2 btn btn-secondary">Secondary</button>
        <button type="button" class="ml-2 btn btn-success">Success</button>
        <button type="button" class="ml-2 btn btn-info">Info</button>
        <button type="button" class="ml-2 btn btn-warning">Warning</button>
        <button type="button" class="ml-2 btn btn-danger">Danger</button>
      </div>
      <div class="d-flex flex-wrap mt-3 justify-content-center border rounded p-2">
        <div class="text-primary">Primary</div>
        <div class="ml-3 text-secondary">Secondary</div>
        <div class="ml-3 text-success">Success</div>
        <div class="ml-3 text-info">Info</div>
        <div class="ml-3 text-warning">Warning</div>
        <div class="ml-3 text-danger">Danger</div>
      </div>
      <div class="d-flex flex-wrap mt-3 justify-content-center border rounded p-2">
        <div class="mb-0 alert alert-primary">Primary</div>
        <div class="ml-3 mb-0 alert alert-secondary">Secondary</div>
        <div class="ml-3 mb-0 alert alert-success">Success</div>
        <div class="ml-3 mb-0 alert alert-info">Info</div>
        <div class="ml-3 mb-0 alert alert-warning">Warning</div>
        <div class="ml-3 mb-0 alert alert-danger">Danger</div>
      </div>
    </div>
    <div ng-if="ctrl.accessibilitySupportPage" class="text-center pt-5 mt-5">
      Want more customization? Checkout our <a href="{{ctrl.accessibilitySupportPage}}">support page</a>
    </div>
  </div>
</div>
