<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body container flex-fill">
    <form ng-submit="ctrl.accept()">
      <div class="form-group m-0">
        <label for="serverType">Select a server type:</label>
        <select title="ServerType" class="custom-select w-50"
            ng-model="ctrl.serverType"
            ng-change="ctrl.onServerTypeChange_()",
            ng-options="value.label for value in ctrl.items">
        </select>
        <button class="btn btn-secondary" ng-click="ctrl.launchHelp()" ng-if="ctrl.serverType" title="Help for server specific URL formats">
          <i class="fa fa-question-circle"></i>
          Format Help
        </button>
      </div>
    </form>
  </div>
  <div>
    <uiswitch items="ctrl.serverType" directive-function="ctrl.getUi"></uiswitch>
  </div>
  <div class="modal-footer d-flex" ng-if="!ctrl.serverType">
    <button class="btn btn-secondary" ng-click="ctrl.close()" title="Cancel Adding Server">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
