<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body container flex-fill">
    <form>
      <div class="form-group m-0">
        <label for="serverType">Select a server type:</label>
        <select title="ServerType" class="custom-select w-50"
            ng-model="ctrl.serverType"
            ng-disabled="ctrl.loading"
            ng-options="value.label for value in ctrl.items">
        </select>
      </div>
    </form>
    <div>
      <uiswitch items="ctrl.serverType" directive-function="ctrl.getUi" scope-update-function="ctrl.updateUiScope"></uiswitch>
    </div>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn btn-primary" ng-click="ctrl.accept()" ng-disabled="form.$invalid || testing">
      <i class="fa fa-check"></i>
      Save
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.close()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
