<div class="d-flex flex-column">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <b class="px-1 u-word-wrap-break-word">{{file.getFileName()}}</b>
      </div>
      <div class="row">
        <div ng-if="!isZip"><i class="fa fa-warning text-warning"></i> The file type could not be detected</div>
        <div ng-if="isZip"><i class="fa fa-warning text-warning mr-1"></i> Zip file detected - may need to unzip this file before importing</div>
        <div>Please choose from the list of supported types:</div>
      </div>
      <div class="row justify-content-center">
        <select class="custom-select w-25" ng-model="anytype.import" ng-options="importer.title for importer in importers"></select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="anytype.accept()" ng-disabled="!anytype.import" title="Import the file">
      <i class="fa fa-check"></i> OK
    </button>
    <button class="btn btn-secondary" ng-click="anytype.close()" title="Cancel import">
      <i class="fa fa-ban"></i> Cancel
    </button>
  </div>
</div>
