<div>
  <div class="modal-body">
    <div>
      <div class="row justify-content-center"><b class="w-100 px-1 u-word-wrap-break-word">{{file.getFileName()}}</b></div>
      <div ng-if="!isZip">
        <div class="row justify-content-center">
          <div><i class="fa fa-warning text-warning"></i> The file type could not be detected</div>
          <div>Please choose from the list of supported types:</div>
        </div>
        <div class="row justify-content-center">
          <select class="custom-select w-25" ng-model="anytype.import" ng-options="importer.title for importer in importers"></select>
        </div>
      </div>
      <div ng-if="isZip" class="row justify-content-center align-items-center"><i class="fa fa-warning text-warning mr-1"></i> Zip file detected - please unzip this file before importing</div>
    </div>
  </div>
  <div class="modal-footer">
    <div ng-if="!isZip">
      <button class="btn btn-primary" ng-click="anytype.accept()" ng-disabled="!anytype.import" title="Import the file">
        <i class="fa fa-check"></i> OK
      </button>
      <button class="btn btn-secondary" ng-click="anytype.close()" title="Cancel import"><i class="fa fa-ban"></i> Cancel</button>
    </div>
    <button ng-if="isZip" class="btn btn-secondary" ng-click="anytype.close()" title="Close">
      <i class="fa fa-times"></i> Close
    </button>
  </div>
</div>
