<div class="d-flex flex-column flex-fill">
  <div class="modal-body d-flex flex-fill flex-column">
    <form name="exportForm" class="d-flex flex-fill flex-column">

      <div class="d-flex flex-fill form-group">
        <label class="col-3 col-form-label text-right u-required">Name</label>
        <div class="col">
          <input class="form-control" type="text" name="title" ng-model="options.title" ng-maxlength="200" required/>
          <validation-message target="exportForm.title"></validation-message>
        </div>
      </div>

      <div class="d-flex flex-fill form-group" ng-show="exportdialog.getKeys(exportdialog.persisters).length">
        <label class="col-3 col-form-label text-right">Save To</label>
        <div class="col">
          <select class="custom-select" ng-model="persister" ng-options="value as key for (key, value) in exportdialog.persisters" />
        </div>
      </div>

      <div class="d-flex flex-fill form-group" ng-show="exportdialog.getKeys(exportdialog.exporters).length">
        <label class="col-3 col-form-label text-right">Type</label>
        <div class="col">
          <select class="custom-select" ng-model="exporter" ng-options="value as key for (key, value) in exportdialog.exporters" />
        </div>
      </div>

      <div class="js-export-ui__wrapper" ng-show="exporter && exportdialog.getExporterUI()">
        <h5 class="mt-3 text-center">{{exportdialog.getExporterLabel()}} Options</h5>
        <div class="js-export-ui__container"></div>
      </div>
      <div class="js-custom-ui"></div>

    </form>
  </div>


  <div class="modal-footer flex-fill justify-content-between">
    <div>
      <ng-pluralize class="align-middle" ng-class="{'text-warning': options.items.length == 0}" count="options.items.length" when="{'0': 'Nothing to export.',
                 'one': 'Exporting {} {{itemText}}.',
                 'other': 'Exporting {} {{itemText}}s.'}">
      </ng-pluralize>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="exportdialog.confirm()" ng-disabled="exportForm.$invalid || options.items.length == 0">
        <i class="fa fa-check"></i>
        OK
      </button>
      <button class="btn btn-secondary" ng-click="exportdialog.cancel()">
        <i class="fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
