<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body">
    <div class="container-fluid" ng-form="fileForm">
      <div class="custom-file" title="{{fileImport.fileName ? fileImport.fileName : 'Choose File...'}}">
        <input type="text" ng-model="fileImport.fileName" ng-click="fileImport.openFileBrowser()" class="custom-file-input" required />
        <label ng-click="fileImport.openFileBrowser()" class="custom-file-label text-truncate mb-0" >
          <i class="fa fa-fw fa-file"></i> {{fileImport.fileName ? fileImport.fileName : 'Choose File...'}}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="fileImport.accept()" ng-disabled="fileForm.$invalid || fileImport.loading"
        title="Import the file">
      <i class="fa" ng-class="fileImport.loading && 'fa-spin fa-spinner' || 'fa-chevron-circle-right'"></i>
      {{fileImport.loading ? 'Loading' : 'Next'}}
    </button>
    <button class="btn btn-secondary" ng-click="fileImport.close()" title="Cancel file import">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
