<div class="d-flex flex-column u-flex-grow">
  <div ng-form="importForm" class="modal-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Choose a file or enter a URL" name="url" ng-model="importdialog.url" ng-required="true" ng-maxlength="1000" ng-readonly="importdialog.fileChosen || importdialog.loading">
      <div class="input-group-append">
        <button class="btn form-control border border-left-0" ng-click="importdialog.clearFile()" ng-disabled="importdialog.loading"
            title="Clear the file/URL">
          <i class="fa fa-times text-danger"></i>
        </button>
        <button class="btn btn-secondary" ng-if="importdialog.fileSupported" ng-click="importdialog.openFileBrowser()" ng-disabled="importdialog.loading" title="Choose a local file">
          Browse...
        </button>
      </div>
    </div>
    <validation-message target="importForm.url"></validation-message>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="importdialog.accept()" ng-disabled="importForm.$invalid || importdialog.loading" title="Load the file for import">
        <i class="fa" ng-class="importdialog.loading && 'fa-spin fa-spinner' || 'fa-chevron-circle-right'"></i>
        <span>{{importdialog.loading ? 'Loading' : 'Next'}}</span>
      </button>
      <button class="btn btn-secondary" ng-click="importdialog.close()" title="Cancel file import">
        <i class="fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
