<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body container flex-fill">
    <form name="urlForm" ng-submit="urlImport.accept()">
      <div class="form-group m-0" ng-class="{'text-danger': urlForm.url.$invalid && urlForm.url.$dirty}">
        <label for="url">Enter a URL</label>
        <input class="form-control c-url-input" type="text" name="url" ng-model="urlImport.url" ng-required="true" ng-maxlength="1000"/>
        <validation-message target="urlForm.url"></validation-message>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn btn-primary" ng-click="urlImport.accept()" ng-disabled="urlForm.$invalid || urlImport.loading" title="Import the URL">
      <i class="fa" ng-class="urlImport.loading && 'fa-spin fa-spinner' || 'fa-chevron-circle-right'"></i>
      <span ng-if="!urlImport.loading">Next</span>
      <span ng-if="urlImport.loading">Loading</span>
    </button>
    <button class="btn btn-secondary" ng-click="urlImport.close()" title="Cancel URL import">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
