<div class="ui-columnactionprompt window-content-wrapper">
  <div class="window-content">

    <form name="choiceForm" class="form-compressed">
      <div class="upload-options-group">
        <table class="list-table table table-striped table-bordered">
          <thead>
            <tr>
              <th class="ui-state-default"><h4>Actions</h4></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="match in matched">
              <td>
                <a ng-click="columnActionPrompt.executeMatch(match, value)" href="#" 
                   title="{{columnActionPrompt.getToolTip(match, value)}}" ng-bind-html="columnActionPrompt.getDescription(match)"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    <!--<a ng-click="columnActionPrompt.done($index)">open</a>-->
  </div>
  <div class="window-footer">
    <div class="pull-right" >
      <button ng-class="doneButtonClass" class="btn btn-default" ng-click="columnActionPrompt.close();">
        <i class="fa fa fa-ban red-icon"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
