<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body">
    <form name="choiceForm">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr ng-repeat="match in matched">
            <td>
              <a ng-click="columnActionPrompt.executeMatch(match, value)" href="#" 
                 title="{{columnActionPrompt.getToolTip(match, value)}}" ng-bind-html="columnActionPrompt.getDescription(match)"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <div>
      <button ng-class="doneButtonClass" class="btn btn-primary" ng-click="columnActionPrompt.close();">
        <i class="fa fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
