// Needed for color pallet to have white text on buttons
$yiq-contrasted-threshold: 166 !default;

$blue: #08c !default;
$green: #469408 !default;
$yellow: #ff0 !default;
$orange: #f89406 !default;
$indigo: #6c94bc !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7a8288 !default;
$gray-700: #52575c !default;
$gray-800: #3a3f44 !default;
$gray-900: #272b30 !default;
$black: #000 !default;
$white: #fff !default;

$primary: $blue !default;
$success: $green !default;
$warning: $orange !default;
$info: $indigo !default;

$body-color: $gray-300 !default;
$dark: darken($gray-800, 5%) !default;

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$dropdown-link-hover-bg: $primary;

$custom-control-indicator-bg: $white;
$custom-control-indicator-checked-color: $black;
$custom-control-indicator-checked-bg: $gray-200;
$custom-control-indicator-checked-disabled-bg: rgba($gray-200, .5);
$custom-control-indicator-active-color: $black;
$custom-control-indicator-active-bg: $gray-200;
$custom-checkbox-indicator-indeterminate-bg: $gray-200;
$custom-control-indicator-disabled-bg: $gray-500;
$custom-control-label-disabled-color: $gray-600;
$custom-select-indicator-color: $white;

@import 'slate/variables';

$link-color: #8be;
$border-color: rgba($black, .6);
$input-bg: #555;
$input-disabled-bg: $gray-600;
$input-color: $white;
$input-border-color: $gray-900;
$input-group-addon-border-color: $gray-900;
$input-group-addon-bg: $gray-600;
$input-placeholder-color: $gray-500;
$close-color: $white;
$close-text-shadow: $black;
$table-accent-bg: lighten($body-bg, 3%);

// Original button padding (slate overrides this)
$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;
// Original Nav Link (slate overrides this)
$nav-link-padding-y: .5rem;
$navbar-padding-y: .5rem;
$navbar-padding-x: 1rem;

// Active/selected color.
$list-group-active-bg: darken($success, 15%);
$list-group-active-color: $white;

// Highlight/hover color.
$list-group-hover-bg: darken($primary, 10%);
$list-group-action-hover-color: $white;

// Start Theme Variable Overides
$u-theme-variables--bg-offset: $gray-800;
$u-theme-variables--navtop-subnav-color: darken($dark, 5%);
// End Theme Variable Overides
