<div>
  <div class="btn-group btn-group-sm" ng-if="!radio">
    <button title="Display in Decimal Degrees" class="btn btn-secondary" ng-class="{'btn-success':simpleLocationControlsCtrl.format=='deg'}" ng-click="simpleLocationControlsCtrl.formatChanged('deg', $event)">
      DD</button>
    <button title="Display in Degrees Minutes Seconds" class="btn btn-secondary" ng-class="{'btn-success':simpleLocationControlsCtrl.format=='dms'}" ng-click="simpleLocationControlsCtrl.formatChanged('dms', $event)">
      DMS</button>
    <button title="Display in Degrees Decimal Minutes" class="btn btn-secondary" ng-class="{'btn-success':simpleLocationControlsCtrl.format=='ddm'}" ng-click="simpleLocationControlsCtrl.formatChanged('ddm', $event)">
      DDM</button>
    <button title="Display in Military Grid Reference System" class="btn btn-secondary" ng-class="{'btn-success':simpleLocationControlsCtrl.format=='mgrs'}" ng-click="simpleLocationControlsCtrl.formatChanged('mgrs', $event)">
      MGRS</button>
  </div>
</div>
