<span class="downloadcopy">
  <div ng-class="options.length > 1 && 'input-append' || 'btn-group'">
    <select ng-if="options.length > 1" class="input-small" ng-model="downloadCopy.selectedOption" ng-options="option.name for option in options"></select>
    <button class="btn btn-default" ng-disabled="xdisabled || !(options && downloadCopy.selectedOption)" ng-click="downloadCopy.download()" title="{{downloadTooltip}}">
      <i class="{{downloadIconClass}}"></i>
      {{downloadTitle}}
    </button>
    <button class="btn btn-default" ng-disabled="xdisabled || !(options && downloadCopy.selectedOption)" ng-click="downloadCopy.toggleCopy()" ng-class="{active:showCopy}"
    title="Copy download URL">
      <i class="fa fa-copy yellow-icon"></i>
      Copy URL
    </button>
  </div>

  <input id="copyInput" type="text" class="input-med copyslide" ng-model="downloadCopy.selectedOption.url" readonly="readonly" title="Press CTRL+C to copy">
</span>
