$compact-y: .1rem;
$compact-x: .25rem;

$font-size-base: .875rem;

$input-btn-padding-y-sm: $compact-y;
$input-btn-padding-x-sm: $compact-x;

$input-btn-padding-y: $compact-y;
$input-btn-padding-x: $compact-x;

$input-btn-padding-y-lg: .375rem;
$input-btn-padding-x-lg: .75rem;

$custom-select-padding-y: $compact-y;
$custom-select-padding-x: $compact-x;

$dropdown-padding-y: .15rem;
$dropdown-item-padding-y: $compact-y;
$dropdown-item-padding-x: 1rem;

$list-group-item-padding-y: $compact-y * 2;
$list-group-item-padding-x: $compact-x * 2;

$grid-gutter-width: 1rem;

$navbar-padding-y: .2rem;
$navbar-padding-x: .4rem;
$nav-link-padding-y: 0;
$nav-link-padding-x: .5rem;

$modal-header-padding: .5rem;
$modal-inner-padding: .5rem;
$card-spacer-y: .5rem;
$card-spacer-x: .5rem;
$alert-padding-y: .5rem;
$alert-padding-x: .5rem;

$hr-margin-y: .2rem;
$jumbotron-padding: 1.5rem;

$form-group-margin-bottom: .25rem;

$table-cell-padding: .25rem;
