// Not sure if needed
// $table-cell-padding-sm: .1rem .3rem;

$font-size-base: .875rem;

$input-btn-padding-y-sm: .1rem;
$input-btn-padding-x-sm: .25rem;

$input-btn-padding-y: .1rem;
$input-btn-padding-x: .25rem;

$input-btn-padding-y-lg: .375rem;
$input-btn-padding-x-lg: .75rem;

$custom-select-padding-y: .1rem;
$custom-select-padding-x: .25rem;

$navbar-padding-y: .2rem;
$navbar-padding-x: .4rem;
$nav-link-padding-y: 0;

$modal-header-padding: .5rem;
$modal-inner-padding: .5rem;
$card-spacer-y: .5rem;
$card-spacer-x: .5rem;
$list-group-item-padding-y: .5rem;
$list-group-item-padding-x: .5rem;
$alert-padding-y: .5rem;
$alert-padding-x: .5rem;

$hr-margin-y: .2rem;
$jumbotron-padding: 1.5rem;
