// * History View
// ************************************************************

.history-view-container {
  position: relative;
}

.history-gray {
  color: #999 !important;
}

li:not(:first-child) > .history-row {
  border-top: 1px solid #ddd !important;
}

.history-row {
  text-decoration: none;
}
