<div class="buffer-form">
  <form name="bufferForm" class="form-compact form-horizontal form-popover-help">
    <basicinfo config="config" columns="buffer.columns" help="buffer.help"></basicinfo>

    <div class="control-group" title="{{buffer.help.distance}}">
      <label class="control-label">Buffer Distance:</label>
      <div class="controls">
        <input class="w-100" type="number" name="distance" min="0" step="any"
            ng-min="1e-16"
            ng-change="buffer.updatePreview()"
            ng-model="config.distance"
            ng-required="true" />
        <popover class="pull-right" x-title="'Buffer Distance'" x-content="buffer.help.distance" x-pos="'right'"></popover>
      </div>
    </div>
    <div class="control-group" title="{{buffer.help.units}}">
      <label class="control-label">Distance Units:</label>
      <div class="controls">
        <select class="w-100" name="units" ng-model="config.units" ng-required="true" ng-change="buffer.updatePreview()"
            ng-options="unit as label for (label, unit) in buffer.units"/>
        <popover class="pull-right" x-title="'Distance Units'" x-content="buffer.help.units" x-pos="'right'"></popover>
      </div>
    </div>
    <div class="control-group" ng-if="buffer.supportsBidirectional()" title="{{buffer.help.outside}}">
      <label class="control-label">Buffer Outside:</label>
      <div class="controls">
        <input type="checkbox" name="outside" ng-model="config.outside" ng-change="buffer.updatePreview()" ng-required="!config.inside">
        <popover class="pull-right" x-title="'Buffer Outside'" x-content="buffer.help.outside" x-pos="'right'"></popover>
      </div>
    </div>
    <div class="control-group" ng-if="buffer.supportsBidirectional()" title="{{buffer.help.inside}}">
      <label class="control-label">Buffer Inside:</label>
      <div class="controls">
        <input type="checkbox" name="inside" ng-model="config.inside" ng-change="buffer.updatePreview()" ng-required="!config.outside">
        <popover class="pull-right" x-title="'Buffer Inside'" x-content="buffer.help.inside" x-pos="'right'"></popover>
      </div>
    </div>
    <div class="control-group" title="{{buffer.livePreviewContent}}">
      <label class="control-label" ng-disabled="!buffer.liveAllowed">Live Preview:</label>
      <div class="controls">
        <input type="checkbox" name="liveEnabled" ng-model="buffer.liveEnabled" ng-change="buffer.updatePreview()"
            ng-disabled="!buffer.liveAllowed">
        <popover class="pull-right" x-title="'Buffer Preview'" x-content="buffer.livePreviewContent" x-icon="buffer.livePreviewIcon" x-pos="'right'"></popover>
      </div>
    </div>
    <div class="control-group" ng-if="!buffer.liveEnabled">
      <label class="control-label">Update Preview:</label>
      <div class="controls">
        <button type="button" class="btn btn-default" ng-click="buffer.updatePreview(true)">
          <i class="fa fa-refresh lt-blue-icon"></i>
        </button>
      </div>
    </div>
  </form>

  <div ng-if="showSourcePicker">
    <div ng-if="buffer.sourceItems.length > 0">
      <div class="top-gapxs">
        <h6>Source Features</h6>
      </div>
      <div style="margin-left:6px;">
        <label class="checkbox inline"
            title="If checked, only selected features will be included in the buffer. If unchecked or nothing is selected, all visible features will be buffered.">
          <input type="checkbox" name="buffer.useSelected" ng-model="buffer.useSelected"
              ng-change="buffer.updateItems()">
          Use Selected Features
        </label>
      </div>
      <checklist name="sourcelist" allow-multiple="false" items="buffer.sourceItems"></checklist>
    </div>
    <div ng-if="buffer.sourceItems.length <= 0">
      <i class="fa fa-warning orange-icon"></i>
      <em>There are currently no visible sources. Please add at least one data source to the application and make sure it's visible.</em>
    </div>
  </div>
</div>
