// sass-lint:disable-all
$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:400,700";
@import url($web-font-path);

.custom-control-label::before,
.custom-control-label::after {
  height: $font-size-base;
  left: -1.25rem;
  top: .2rem;
  width: $font-size-base;
}
