<div class="d-flex flex-column u-flex-grow">
  <form name="optionsForm" novalidate>
    <div class="form-row form-group col">
      <label class="col-form-label col-2">Layer Title:</label>
      <div class="col p-0">
        <input class="form-control col" type="text" name="title" ng-model="config.title" ng-required="true" ng-maxlength="500"/>
        <small class="form-text invalid-feedback" ng-if="optionsForm.title.$error.required">Required!</small>
        <small class="form-text invalid-feedback" ng-if="optionsForm.title.$error.maxlength">Title is too long!</small>
        <small class="form-text invalid-feedback" ng-if="optionsForm.title.$error.exists">Title is already in use by another layer!</small>
      </div>
    </div>
    <div class="form-row form-group col">
      <label class="col-form-label col-2">Description:</label>
      <div class="col p-0">
        <input class="form-control col" type="text" name="desc" ng-model="config.description" ng-maxlength="2000"
            placeholder="Add a custom description"/>
        <small class="form-text invalid-feedback" ng-if="optionsForm.desc.$error.maxlength">Description is too long!</small>
      </div>
    </div>
    <div class="form-row form-group col">
      <label class="col-form-label col-2">Tags:</label>
      <div class="col p-0">
        <input class="form-control col" type="text" name="tags" ng-model="config.tags" ng-maxlength="2000"
            placeholder="Tags organize layers: e.g. states, population"/>
        <small class="form-text invalid-feedback" ng-if="optionsForm.tags.$error.maxlength">Tags are too long!</small>
      </div>
    </div>
    <div class="form-row form-group col">
      <label class="col-form-label col-2">Color:</label>
      <div class="col p-0">
        <colorpicker name="color" color="config.color"></colorpicker>
      </div>
    </div>
  </form>
</div>
