<div class="d-flex flex-column flex-fill">
  <form name="optionsForm" novalidate>
    <div class="form-row form-group col">
      <label class="col-form-label col-3 text-right u-required">Layer Title</label>
      <div class="col">
        <input class="form-control col" type="text" name="title" ng-model="config.title" ng-required="true" ng-maxlength="500"/>
        <validation-message target="optionsForm.title"></validation-message>
      </div>
    </div>
    <div class="form-row form-group col">
      <label class="col-form-label col-3 text-right">Description</label>
      <div class="col">
        <input class="form-control col" type="text" name="desc" ng-model="config.description" ng-maxlength="2000"
            placeholder="Add a custom description"/>
        <validation-message target="optionsForm.desc"></validation-message>
      </div>
    </div>
    <div class="form-row form-group col">
      <label class="col-form-label col-3 text-right">Tags</label>
      <div class="col">
        <input class="form-control col" type="text" name="tags" ng-model="config.tags" ng-maxlength="2000"
            placeholder="Tags organize layers: e.g. states, population"/>
        <validation-message target="optionsForm.tags"></validation-message>
      </div>
    </div>
    <div class="form-row form-group col">
      <label class="col-form-label col-3 text-right">Color</label>
      <div class="col">
        <colorpicker name="color" color="config.color"></colorpicker>
      </div>
    </div>
  </form>
</div>
