<div class="d-flex flex-column flex-fill u-overflow-y-hidden">
  <form name="timeForm" novalidate>
    <button class="btn btn-info float-right" ng-click="timeStep.launchHelp()" title="Help for custom date and time formats">
      <i class="fa fa-question-circle"></i>
      Format Help
    </button>

    <div class="form-group col-8 pl-0">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="timeTypeRadios" data-ng-model="step.timeType" value="none">
          No Time
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="timeTypeRadios" data-ng-model="step.timeType" value="instant">
          Time Instant
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="timeTypeRadios" data-ng-model="step.timeType" value="range">
          Time Range
        </label>
      </div>
    </div>

    <div class="card form-group u-bg-body" ng-if="step.timeType != 'none'">
      <div class="card-body">
        <timeinstantui
            config="config"
            model="step.startModel"
            valid="timeStep.startValid"
            label="{{step.timeType == 'range' ? 'Start' : ''}}">
        </timeinstantui>
        <hr ng-if="step.timeType == 'range'">
        <timeinstantui ng-if="step.timeType == 'range'"
            config="config"
            model="step.endModel"
            valid="timeStep.endValid"
            label="End">
        </timeinstantui>
      </div>
    </div>
  </form>
  <wizardpreview config="config" resize-with=".js-window"></wizardpreview>
</div>
