<div id="wizard" class="window-content-wrapper" ng-class="wiz.wizardClass">
  <div class="window-content">
    <div id="wizard-step-content" class="pull-right"></div>
    <div id="wizard-steps-pane" class="scroll-pane-wrapper panel">
      <div id="wizard-scroll-pane" class="scroll-pane ps-container">
        <div class="wizard-scroll-pane-inner">
          <table class="wizard-steps table table-hover table-condensed">
            <tbody>
              <tr ng-repeat="step in wiz.steps" ng-class="{'active': wiz.isActive(step)}"
                  ng-click="wiz.setStepIndex($index)">
                <td>
                  <span class="step-status"><i class="fa" ng-class="wiz.getStepIcon(step)"></i></span>
                  <span ng-class="{'font-warning': wiz.getStepState(step) == 'error'}">
                    <span>{{$index + 1}}.</span> {{step.getTitle()}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="window-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="wiz.prev()" title="Previous step"
          ng-disabled="wiz.activeIndex <= 0 || wiz.loading">
        <i class="fa fa-chevron-circle-left"></i> Prev
      </button>
      <button class="btn btn-default" ng-click="wiz.next()" title="Next step"
          ng-disabled="!wiz.canContinue() || wiz.loading">
        <i class="fa fa-chevron-circle-right"></i> Next
      </button>
      <button class="btn btn-default" ng-click="wiz.accept()" ng-disabled="!wiz.canAccept() || wiz.loading">
        <i class="fa" ng-class="wiz.loading && 'fa-spin fa-spinner' || 'fa-check lt-blue-icon'"></i>
        {{wiz.loading ? 'Loading' : 'Done'}}
      </button>
      <button class="btn btn-default" ng-click="wiz.cancel()"><i class="fa fa-ban red-icon"></i> Cancel</button>
    </div>
  </div>
</div>
