.custom-control-label::before,
.custom-control-label::after {
  height: $font-size-base;
  left: -1.25rem;
  top: .2rem;
  width: $font-size-base;
}

.custom-control {
  min-height: ($font-size-base * $line-height-base);
}

.pagination {
  margin: .5rem;
}
