<div class="h-100 w-100 d-flex flex-column u-flex-grow">
  <div class="modal-body">
    <form class="h-100" ng-class="formClass" name="confirmForm"
        ng-submit="confirm.confirm()" novalidate>
      <span class="js-confirm-text" ng-transclude></span>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-class="yesButtonClass" ng-click="confirm.confirm()" ng-disabled="confirmForm.$invalid || !valid" title="{{yesButtonTitle}}">
      <i ng-class="yesIcon" ng-if="yesIcon"></i>
      {{yesText}}
    </button>
    <button class="btn btn-secondary" ng-hide="!noIcon && !noText" type="button" ng-class="noButtonClass" ng-if="!hideCancel" ng-click="confirm.cancel()" title="{{noButtonTitle}}">
      <i ng-class="noIcon" ng-if="noIcon"></i>
      {{noText}}
    </button>
  </div>
</div>
