<div id="geo-help" class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body container flex-fill">
    <h5>Location Tokens</h5>
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>Input</th>
          <th>Example</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>DDD DD</code></td>
          <td><code>113</code></td>
          <td>2-3 digit degrees</td>
        </tr>
        <tr>
          <td><code>MM</code></td>
          <td><code>14</code></td>
          <td>2 digit minutes</td>
        </tr>
        <tr>
          <td><code>SS</code></td>
          <td><code>61</code></td>
          <td>Seconds</td>
        </tr>
        <tr>
          <td><code>DD.DD</code></td>
          <td><code>37.314039037</code></td>
          <td>Decimal degrees</td>
        </tr>
        <tr>
          <td><code>MM.MM</code></td>
          <td><code>03.815552</code></td>
          <td>Decimal minutes</td>
        </tr>
        <tr>
          <td><code>SS.SS</code></td>
          <td><code>09.24546</code></td>
          <td>Decimal seconds</td>
        </tr>
        <tr>
          <td><code>&deg; &#39; &quot;</code></td>
          <td><code>32&deg; 18&#39; 23.1&quot; N</code></td>
          <td>Degrees, minutes and seconds</td>
        </tr>
        <tr>
          <td><code>N S E W</code></td>
          <td><code>55.614650W</code></td>
          <td>Compass direction</td>
        </tr>
        <tr>
          <td><code>+ -</code></td>
          <td><code>-55&deg; 14.650&#39;</code></td>
          <td>Signed format</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn btn-primary" ng-click="th.close()">
      <i class="fa fa-check"></i>
      Close
    </button>
  </div>
</div>
