<div class="d-flex flex-column flex-fill">
  <div class="modal-body">
    <ng-form name="form" ng-submit="stateForm.accept()">

      <div class="form-group row">
        <label for="persister" class="col-3 col-form-label text-right u-required">Name</label>
        <div class="col">
          <input statetitle type="text" class="form-control" name="title" ng-model="title" ng-init="form.title.$validate()" ng-required="true" ng-maxlength="500" />
          <div class="invalid-feedback" ng-show="form.title.$invalid && !form.title.$error.required && !form.title.$error.maxlength && form.title.$dirty">This name has already been used. Please try another.</div>
          <validation-message target="form.title"></validation-message>
        </div>
      </div>

      <div class="form-group row" ng-if="stateForm.isSaving">
        <label for="persister" class="col-3 col-form-label text-right">Save to</label>
        <div class="col">
          <select class="custom-select" name="persister" ng-model="stateForm.persister" ng-options="value as key for (key, value) in stateForm.persisters">
            <option ng-if="stateForm.appName" value="">{{stateForm.appName}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="desc" class="col-3 col-form-label text-right">Description</label>
        <div class="col">
          <input type="text" name="desc" class="form-control" ng-model="description" ng-maxlength="4000" placeholder="Add a custom description"
          />
          <validation-message target="form.desc"></validation-message>
        </div>
      </div>

      <div class="form-group row">
        <label for="tags" class="col-3 col-form-label text-right">Tags</label>
        <div class="col">
          <input type="text" name="tags" class="form-control" ng-model="tags" ng-maxlength="1000" placeholder="Tags organize states: e.g. states, population"
          />
          <validation-message target="form.tags"></validation-message>
        </div>
      </div>

      <input type="submit" class="d-none">

      <div class="container-fluid">

        <div class="row" ng-if="stateForm.showClear && !stateForm.isSaving">
          <div class="col form-check">
            <label class="mb-0 form-check-label" title="Clear all currently loaded application data before activating the state">
              <input class="form-check-input" type="checkbox" name="clear" ng-model="stateForm.clear"> Clear current application data
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col form-check">
            <label class="mb-0 form-check-label">
              <input class="form-check-input" type="checkbox" name="showOptions" ng-model="stateForm.showOptions"> Choose which parts of the state to {{stateForm.isSaving && 'save' || 'import'}}
            </label>
          </div>
        </div>

        <div class="row" ng-if="stateForm.showOptions">
          <div class="col">
            <table class="table table-sm table-striped border mb-0">
              <thead>
                <tr class="thead-dark">
                  <th class="align-items-center">
                    <input type="checkbox" name="all" ng-model="stateForm.all" ng-change="stateForm.toggleAll()"> All
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="s in stateForm.states" title="{{stateForm.getDescription(s)}}">
                  <td class="align-items-center">
                    <label class="mb-0 form-check">
                      <input class="form-check-input" type="checkbox" ng-model="s.enabled"> {{stateForm.getTitle(s)}}
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </ng-form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="stateForm.accept()" ng-disabled="form.$invalid">
      <i class="fa fa-check"></i>
      OK
    </button>
    <button class="btn btn-secondary" ng-click="stateForm.close()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
