<div class="d-flex flex-column u-flex-grow">
  <div class="modal-body">
    <div class="container-fluid" ng-form="form" ng-submit="stateForm.accept()">
      <div class="form-group row" ng-if="stateForm.isSaving">
        <label for="persister" class="col-3 col-form-label text-right">Save to</label>
        <div class="col">
          <select class="custom-select" name="persister" ng-model="stateForm.persister" ng-options="value as key for (key, value) in stateForm.persisters">
            <option ng-if="stateForm.appName" value="">{{stateForm.appName}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="persister" class="col-3 col-form-label text-right">Name</label>
        <div class="col">
          <input type="text" class="form-control" name="title" statetitle ng-model="title" ng-required="true" ng-maxlength="500"/>
          <validationmessage target="form.title"></validationmessage>
        </div>
      </div>

      <div class="form-group row">
        <label for="desc" class="col-3 col-form-label text-right">Description</label>
        <div class="col">
          <input type="text" name="desc" class="form-control" ng-model="description" ng-maxlength="4000" placeholder="Add a custom description"/>
          <validationmessage target="form.desc"></validationmessage>
        </div>
      </div>

      <div class="form-group row">
        <label for="tags" class="col-3 col-form-label text-right">Tags</label>
        <div class="col">
          <input type="text" name="tags" class="form-control" ng-model="tags" ng-maxlength="1000" placeholder="Tags organize states: e.g. states, population"/>
          <validationmessage target="form.tags"></validationmessage>
        </div>
      </div>

      <input type="submit" class="d-none">
    </div>

    <div class="container-fluid">
      <div class="row" ng-if="stateForm.showClear && !stateForm.isSaving">
        <div class="col">
          <label class="mb-0 form-check" title="Clear all currently loaded application data before activating the state">
            <input class="form-check-input" type="checkbox" name="clear" ng-model="stateForm.clear">
            Clear current application data
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="mb-0 form-check">
            <input class="form-check-input" type="checkbox" name="showOptions" ng-model="stateForm.showOptions">
            Choose which parts of the state to {{stateForm.isSaving && 'save' || 'import'}}
          </label>
        </div>
      </div>

      <div class="row" ng-if="stateForm.showOptions">
        <div class="col">
          <table class="table table-sm table-striped border mb-0">
            <thead>
              <tr class="thead-dark">
                <th class="align-items-center">
                  <input type="checkbox" name="all" ng-model="stateForm.all" ng-change="stateForm.toggleAll()"> All
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="s in stateForm.states" title="{{stateForm.getDescription(s)}}">
                <td class="align-items-center">
                  <label class="mb-0 form-check">
                    <input class="form-check-input" type="checkbox" ng-model="s.enabled">
                    {{stateForm.getTitle(s)}}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="stateForm.accept()" ng-disabled="form.$invalid">
        <i class="fa fa-check"></i>
        OK
      </button>
      <button class="btn btn-secondary" ng-click="stateForm.close()">
        <i class="fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
