<div>
  <div class="window widget unselectable" gridster-item row="itemOptions.row" col="itemOptions.col"
      size-x="itemOptions.sizeX" size-y="itemOptions.sizeY">
    <div class="window-header" ng-style="header">
      <div class="pull-right">
        <div ng-if="helpContext" style="display: inline-block;">
          <context-onboarding context="{{helpContext}}"></context-onboarding>
        </div>
        <div ng-click="widget.close()" title="Close" style="display: inline-block;">
          <i class="fa fa-times window-close"></i>
        </div>
      </div>
      <div class="header-text nowrap"><i ng-if="icon" ng-class="icon"></i> {{label}}</div>
    </div>
    <div class="widget-content"></div>
  </div>
</div>
