<div class="js-window modal d-block c-window" ng-class="{'active': active}">
  <div class="modal-content h-100" ng-class="headerClass">
    <div class="js-window__header modal-header d-flex justify-content-between" ng-dblclick="windowCtrl.toggle()">
      <div class="js-window__header-text text-truncate" title="{{label}}">
        <i ng-if="icon" ng-class="icon" class="mr-1"></i>
        <span ng-if="iconHtml" ng-bind-html="iconHtml"></span>
        {{label}}
      </div>
      <div>
        <div ng-if="helpContext" class="d-inline-block">
          <context-onboarding context="{{helpContext}}"></context-onboarding>
        </div>

        <div ng-show="headerBtns.length" class="d-inline-block">
          <button type="button" ng-repeat="headerBtnCfg in headerBtns"
            class="close"
            ng-click="windowCtrl.onHeaderBtnClick($event, headerBtnCfg);"
            title="{{headerBtnCfg.tooltip}}">
              <i class="{{headerBtnCfg.iconClass}}"></i>
            </button>
        </div>

        <div ng-if="showCollapse && !modal && !overlay" ng-click="windowCtrl.toggle()" title="{{collapsed ? 'Expand' : 'Collapse'}}" class="d-inline-block">
          <i class="fa window-close" ng-class="{'fa-compress': !collapsed, 'fa-expand': collapsed}"></i>
        </div>

        <button ng-if="showClose" type="button" class="close" ng-click="windowCtrl.close(true)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <button ng-if="showHide" type="button" class="close" ng-click="windowCtrl.hide()"  aria-label="Hide">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="js-window__wrapper w-100 h-100 d-flex flex-column" ng-transclude></div>
  </div>
</div>
