<div class="d-flex flex-column flex-fill">
  <div class="d-flex flex-column flex-fill" url-drag-drop dd-drop="areasCtrl.onDrop" dd-text="Import areas">
    <div class="form-row align-items-center flex-shrink-0 mt-1">
      <div class="col-auto col-form-label">
        Group By
      </div>
      <div class="col">
        <select class="custom-select" ng-model="view" ng-change="areasCtrl.search()" ng-options="key for (key, value) in views"/>
      </div>

      <div class="input-group mt-1 mx-1">
        <input class="form-control" ng-model="term" ng-change="areasCtrl.search()" placeholder="Search areas"/>
        <div class="input-group-append">
          <button class="btn btn-secondary" ng-click="areasCtrl.clearSearch()" title="Clear the search term">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row flex-fill mh-0 mt-1">
      <slicktree class="border" x-data="areas" selected="selected" show-root="true" context-menu="contextMenu" checkbox-tooltip="Show or hide the area" multi-select="true" disposable="true"></slicktree>
    </div>

    <div class="mt-1">
      <div class="float-right">
        <button class="btn btn-primary" ng-click="areasCtrl.launch()" title="Sets the areas and filters for each layer">
          <i class="fa fa-filter"></i> Advanced
        </button>
      </div>
      <button class="btn btn-secondary" ng-click="areasCtrl.export()" ng-disabled="areasCtrl.exportDisabled()"><i class="fa fa-download"></i> Export</button>
      <div class="js-import-group btn-group" ng-right-click="areasCtrl.openImportMenu()">
        <button class="btn btn-secondary" ng-click="areasCtrl.import()" title="Import areas only">
          <i class="fa fa-sign-in"></i>
          Import
        </button>
        <button class="btn btn-secondary" ng-click="areasCtrl.openImportMenu()" title="Additional area import options">
          <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>
  </div>
</div>
