<div class="d-flex flex-column u-flex-grow" ng-form="checklistForm">
  <div class="form-check pl-4 bg-primary">
    <label class="form-check-label col-form-label">
      <input class="form-check-input" type="checkbox" name="all" ng-model="checklist.allCheckbox" ng-change="checklist.toggleAll()">
      All
    </label>
  </div>
  <div class="u-overflow-y-auto">
    <div class="form-check pl-4" ng-repeat="item in items" title="{{item.tooltip || ('Enable/disable ' + item.label)}}"
        ng-class-odd="'bg-secondary'">
      <label class="form-check-label col-form-label">
        <input class="form-check-input" type="checkbox" name="items" ng-model="item.enabled" ng-change="checklist.onItemChange(item)"/>
        <span ng-bind-html="item.customFormat"/>
        {{item.label}}
        <span ng-bind-html="item.detailText"/>
      </label>
    </div>
  </div>
</div>
