<div class="modal c-consent__modal" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{consentCtrl.server}}</h5>
      </div>
      <div class="modal-body" ng-bind-html="consentCtrl.text"></div>
      <div class="modal-footer text-right">
        <button class="btn btn-primary" ng-click="consentCtrl.saveCookie()">
          <span><i class="fa fa-check"></i> OK</span>
        </button>
      </div>
    </div>
  </div>
</div>
