<div class="position-absolute w-100 d-flex flex-column text-light u-pointer-events-none" style="z-index:1;">
  <div class="ml-auto mr-auto u-pointer-events-all">
    <div class="d-inline-block bg-dark px-2 pb-2 rounded-bottom">
      <div class="form-inline">
        <date-control></date-control>
        <button class="btn btn-secondary ml-1" ng-click="ctrl.toggleExtend()" title="{{ctrl.sliceTip}}">
          hh/mm <i class="fa" ng-class="ctrl.extended ? 'fa-caret-up' : 'fa-caret-down'"></i>
        </button>
        <button id="timelineButton" class="btn btn-secondary ml-1" ng-click="ctrl.expand()" title="Expand to full timeline">
          <i class="fa fa-fw fa-clock-o"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="js-slice-panel" class="ml-auto mr-auto u-pointer-events-all" ng-show="ctrl.extended">
    <div class="d-inline-block bg-dark px-2 pb-2 rounded-bottom">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input class="form-control" type="number" min="0" max="23" step="1" ng-model="ctrl.startHour"
              ng-change="ctrl.onChange('startHour', 0, 23, '{{ctrl.startHour}}')"></input>
        </div>
        h
        <div class="col-auto">
          <input class="form-control" type="number" min="0" max="59" step="1" ng-model="ctrl.startMinute"
              ng-change="ctrl.onChange('startMinute', 0, 59, '{{ctrl.startMinute}}')"></input>
        </div>
        m to
        <div class="col-auto">
          <input class="form-control" type="number" min="0" max="23" step="1" ng-model="ctrl.endHour"
              ng-change="ctrl.onChange('endHour', 0, 23, '{{ctrl.endHour}}')"></input>
        </div>
        h
        <div class="col-auto">
          <input class="form-control" type="number" min="0" max="59" step="1" ng-model="ctrl.endMinute"
              ng-change="ctrl.onChange('endMinute', 0, 59, '{{ctrl.endMinute}}')"></input>
        </div>
        m {{ctrl.getOffset()}}

        <div class="col-auto">
          <button class="btn btn-secondary" ng-click="ctrl.applySlice()" title="Apply time slice" ng-disabled="!ctrl.sliceValid() || ctrl.active">
            <div ng-if="!ctrl.active"><i class="fa fa-fw fa-check green-icon"></i></div>
            <div ng-if="ctrl.active"><i class="fa fa-fw fa-check"></i></div>
          </button>
        </div>

        <div class="col-auto">
          <popover data-title="ctrl.sliceTitle" data-content="ctrl.sliceDescription" data-pos="'bottom'"></popover>
        </div>
      </span>
    </div>
  </div>
</div>
