<div class="position-absolute w-100 text-center" style="z-index:1;">
  <div class="d-inline-block bg-dark px-2 pb-2 rounded-bottom">
    <div class="form-inline">
      <date-control></date-control>
      <button class="btn btn-secondary ml-1 dropdown-toggle" ng-click="ctrl.toggleExtend()" title="{{ctrl.sliceTip}}">
        hh/mm
      </button>
      <button id="timelineButton" class="btn btn-secondary ml-1" ng-click="ctrl.expand()" title="Expand to full timeline">
        <i class="fa fa-fw fa-clock-o yellow-icon"></i>
      </button>
    </div>
  </div>
  <div id="slice-panel" style="display:none;font-size:13px;margin-top:3px;">
    <span style="display: inline-block;">
      <input class="time-spin" type="number" min="0" max="23" step="1" ng-model="ctrl.startHour"
          ng-change="ctrl.onChange('startHour', 0, 23, '{{ctrl.startHour}}')"></input>
      h :
      <input class="time-spin" type="number" min="0" max="59" step="1" ng-model="ctrl.startMinute"
          ng-change="ctrl.onChange('startMinute', 0, 59, '{{ctrl.startMinute}}')"></input>
      m&nbsp; to &nbsp;
      <input class="time-spin" type="number" min="0" max="23" step="1" ng-model="ctrl.endHour"
          ng-change="ctrl.onChange('endHour', 0, 23, '{{ctrl.endHour}}')"></input>
      h :
      <input class="time-spin" type="number" min="0" max="59" step="1" ng-model="ctrl.endMinute"
          ng-change="ctrl.onChange('endMinute', 0, 59, '{{ctrl.endMinute}}')"></input>
      m &nbsp;{{ctrl.getOffset()}}
      <button class="btn btn-secondary" ng-click="ctrl.applySlice()" title="Apply time slice" ng-disabled="!ctrl.sliceValid() || ctrl.active">
        <div ng-if="!ctrl.active" style="font-size:13px"><i class="fa fa-fw fa-check green-icon"></i></div>
        <div ng-if="ctrl.active" style="font-size:13px"><i class="fa fa-fw fa-check" style="color:#0d0"></i></div>
      </button>
      <popover data-title="ctrl.sliceTitle" data-content="ctrl.sliceDescription" data-pos="'bottom'"></popover>
    </span>
  </div>
</div>
