<div class="js-feature-info h-100 w-100 d-flex flex-column">
  <div class="modal-body h-100 d-flex flex-column">
    <div class="js-feature-info__header">
      <simple-location latdeg="lat" londeg="lon" ng-if="lat !== undefined && lon !== undefined"></simple-location>
      <span ng-if="alt"> - Altitude: {{alt}}</span>
    </div>
    <ul class="nav nav-tabs js-feature-info__tabs" ng-show="description">
      <li class="nav-item">
        <a href="" class="nav-link" ng-class="{active: tab == 'properties'}" ng-click="info.showProperties()">Properties</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" ng-class="{active: tab == 'description'}" ng-click="info.showDescription()">Description</a>
      </li>
    </ul>
    <div class="u-overflow-y-auto u-flex-grow">
      <div ng-show="tab == 'properties'">
        <table class="table table-sm table-striped">
          <tr class="border-bottom" scope="row">
            <th ng-click="info.order('field')" scope="col-4">
              Field <i ng-show="columnToOrder == 'field'" class="slick-sort-indicator" ng-class="{'slick-sort-indicator-desc': !reverse, 'slick-sort-indicator-asc': reverse}"></i>
            </th>
            <th ng-click="info.order('value')" scope="col">
              Value <i ng-show="columnToOrder == 'value'" class="slick-sort-indicator" ng-class="{'slick-sort-indicator-desc': !reverse, 'slick-sort-indicator-asc': reverse}"></i>
            </th>
          </tr>
          <tr scope="row" ng-repeat="property in properties | orderBy:columnToOrder:reverse" ng-click="info.select($event, property)" ng-class="{'selected': selected==property}">
            <td class="text-truncate" scope="col-4">{{property.field}}</td>
            <td scope="col"><featureinfocell property="property"></featureinfocell></td>
          </tr>
        </table>
      </div>
      <div ng-show="tab == 'description'">
        <iframe class="description-frame" id="descriptionFrame"></iframe>
      </div>
    </div>
  </div>
</div>
