<div class="filters" style="height:100%">
  <div class="layers-header">
    <table style="width:100%;margin-bottom:5px;">
      <tr>
        <td class="control-label">Group By:</td>
        <td style="width:100%;padding-left:0px;">
          <select style="width: 100%" class="no-margin" ng-model="view" ng-change="filtersCtrl.onGroupChange()" ng-options="key for (key, value) in views"/>
        </td>
        <td><addfilter></addfilter></td>
      </tr>
    </table>
    <div class="search-box">
      <input class="search top-gapxs" type="text" ng-model="term" ng-change="filtersCtrl.onSearchTermChange()"
          placeholder="Search filters"></input>
      <span class="input-clear" ng-click="filtersCtrl.clearSearch()" ng-show="term" title="Clear the search term">
        <i class="fa fa-times"></i>
      </span>
    </div>
  </div>
  <div class="layers-main" autoheight siblings=".layers-header, .filters-footer">
    <slicktree x-data="filters" selected="selected" show-root="true" context-menu="contextMenu" checkbox-tooltip="Show or hide the filter" multi-select="true" disposable="true"></slicktree>
  </div>
  <div class="filters-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="filtersCtrl.launch()" title="Sets the areas and filters for each layer">
        <i class="fa fa-filter green-icon"></i> Advanced
      </button>
    </div>
    <button class="btn btn-default" ng-click="filtersCtrl.export()" ng-disabled="filtersCtrl.exportDisabled()"><i class="fa fa-download yellow-icon"></i> Export</button>
    <div class="import-group" ng-class="filtersCtrl.showImportMenu && 'btn-group' || 'inline-block'">
      <button class="btn btn-default" ng-click="filtersCtrl.import()" title="Import">
        <i class="fa fa-sign-in color-import"></i>
        Import
      </button>
    </div>
  </div>
</div>
