<div class="d-flex flex-column flex-fill">
  <div class="form-row align-items-center flex-shrink-0 mt-1">
    <div class="col-auto form-check form-check-inline m-0 pr-0" >
      <label class="d-flex align-items-center form-check-label" title="{{viewEnabledTooltip}}">
        <input class="form-check-input" type="checkbox"
            ng-model="viewEnabled"
            ng-change="layers.onGroupByChanged()">
        Group By
      </label>
    </div>
    <div class="col">
      <select class="custom-select" ng-model="view"
          ng-change="layers.onGroupByChanged()"
          ng-disabled="!viewEnabled"
          ng-options="key for (key, value) in views">
      </select>
    </div>
    <div class="col-auto pl-0">
      <button class="btn btn-sm btn-primary" title="{{createFolderTooltip}}"
          ng-click="layers.createFolder()">
        <i class="fa fa-folder-plus"></i>
        Add Folder
      </button>
    </div>
  </div>

  <div class="form-row align-items-center flex-shrink-0 mt-1">
    <div class="col">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="term" ng-change="layers.search()" placeholder="Search active layers" >
        <div class="input-group-append">
          <button class="btn btn-secondary" ng-click="layers.clearSearch()" title="Clear the search term">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-auto pl-0">
      <div class="btn-group add-data-group" ng-right-click="layers.openMenu('.add-data-group')">
        <button class="btn btn-sm btn-success" title="Add data to the map" ng-click="layers.toggle('addData')"
          ng-class="{active: layers.isWindowActive('addData')}">
          <i class="fa fa-plus"></i>
          Add Data
        </button>
        <button class="btn btn-sm btn-success dropdown-toggle" ng-click="layers.openMenu('.add-data-group')"></button>
      </div>
    </div>
  </div>

  <div class="form-row align-items-center flex-shrink-0 mt-1">
    <div class="col-auto d-flex flex-fill justify-content-between">
      <div>
        <button class="btn btn-sm btn-secondary" title="Toggle Tile Layers" ng-click="layers.toggleTileLayers()">
          <img ng-src="{{tilesBtnIcon}}">
          Toggle Tiles
        </button>
        <button class="btn btn-sm btn-secondary" title="Toggle Feature Layers" ng-click="layers.toggleFeatureLayers()">
          <img ng-src="{{featuresBtnIcon}}">
          Toggle Features
        </button>
      </div>
      <div class="flex-shrink-0">
        <button class="btn btn-sm btn-primary dropdown-toggle" title="Perform actions on selected layer(s)"
            ng-click="layers.openSelectedActionsMenu($event)"
            ng-disabled="!selected || !selected.length">
          <i class="far fa-check-square"></i>
          Selected Actions
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-fill mt-1">
    <layertree class="border" x-data="layerTree"
        drag-enabled="true"
        selected="selected"
        context-menu="contextMenu"
        checkbox-tooltip="Enable or disable the layer"
        multi-select="true"
        disposable="true"
        group-by="view"
        group-by-enabled="viewEnabled">
    </layertree>
  </div>

  <uiswitch items="selected" directive-function="layers.getUi" generic="defaultlayerui"></uiswitch>
</div>
