<div style="height:100%">
  <div class="layers-header">
    <table style="width:100%;margin-bottom:5px;">
      <tr>
        <td class="control-label">Group By:</td>
        <td style="width:100%;padding-left:0px;">
          <select style="width: 100%" class="no-margin" ng-model="view" ng-change="layers.onGroupByChanged()" ng-options="key for (key, value) in views"/>
        </td>
        <td>
          <div class="btn-group add-data-group" ng-right-click="layers.openMenu('.add-data-group')">
            <button class="btn btn-default" title="Add data to the map" ng-click="layers.toggle('addData')"
              ng-class="{active: layers.isWindowActive('addData')}">
              <i class="fa fa-plus green-icon"></i>
            </button>
            <button class="btn addon"  ng-click="layers.openMenu('.add-data-group')" ng-class="{active: menu == '.add-data-group'}">
              <i class="fa fa-chevron-down"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
    <div class="search-box">
      <input class="search top-gapxs" type="text" ng-model="term" ng-change="layers.search()"
          placeholder="Search active layers"></input>
      <span class="input-clear" ng-click="layers.clearSearch()" ng-show="layers.term" title="Clear the search term">
        <i class="fa fa-times"></i>
      </span>
    </div>
  </div>
  <div class="layers-main" autoheight siblings=".layers-header, .layers-footer">
    <layertree x-data="layerTree" drag-enabled="true" selected="selected" context-menu="contextMenu" checkbox-tooltip="Show or hide the layer" multi-select="true" disposable="true"></layertree>
  </div>
  <div class="layers-footer">
    <uiswitch items="selected" directive-function="layers.getUi" generic="defaultlayerui"></uiswitch>
  </div>
</div>
