<div class="d-flex flex-column flex-fill">
  <div class="form-row align-items-center flex-shrink-0 mt-1">
    <div class="col-auto col-form-label">
      Group By
    </div>
    <div class="col">
      <select class="custom-select" ng-model="view" ng-change="layers.onGroupByChanged()" ng-options="key for (key, value) in views"/>
    </div>
    <div class="col-auto">
      <div class="btn-group add-data-group" ng-right-click="layers.openMenu('.add-data-group')">
        <button class="btn btn-primary" title="Add data to the map" ng-click="layers.toggle('addData')"
          ng-class="{active: layers.isWindowActive('addData')}">
          <i class="fa fa-plus color-secondary"></i>
        </button>
        <button class="btn btn-primary dropdown-toggle" ng-click="layers.openMenu('.add-data-group')"></button>
      </div>
    </div>
  </div>

  <div class="form-row align-items-center flex-shrink-0 mt-1">
    <div class="col">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="term" ng-change="layers.search()" placeholder="Search active layers" />
        <div class="input-group-append">
          <button class="btn btn-secondary" ng-click="layers.clearSearch()" title="Clear the search term">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="btn-group">
        <button class="btn btn-secondary" title="Toggle Tile Layers" ng-click="layers.toggleTileLayers()">
          <img ng-src="{{tilesBtnIcon}}"/>
        </button>
        <button class="btn btn-secondary" title="Toggle Feature Layers" ng-click="layers.toggleFeatureLayers()">
          <img ng-src="{{featuresBtnIcon}}"/>
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-fill mt-1">
    <layertree class="border" x-data="layerTree" drag-enabled="true" selected="selected" context-menu="contextMenu" checkbox-tooltip="Show or hide the layer" multi-select="true" disposable="true"></layertree>
  </div>

  <uiswitch items="selected" directive-function="layers.getUi" generic="defaultlayerui"></uiswitch>
</div>
