<div class="u-hover-container js-legend__render-container position-fixed">
  <div class="u-card-popup position-absolute text-right animate-fade u-hover-show">
    <button class="btn btn-sm btn-outline-primary border-0 bg-transparent" title="Open settings"
        ng-click="legend.openSettings()">
      <i class="c-glyph fa fa-fw fa-gear"></i>
    </button>
    <button class="btn btn-sm btn-outline-primary border-0 bg-transparent" title="Close the legend"
        ng-click="legend.close()">
      <i class="c-glyph fa fa-fw fa-times"></i>
    </button>
  </div>
  <canvas></canvas>
</div>
