<div id="js-window__container" class="h-100 w-100 position-absolute js-main d-flex overflow-hidden">
  <div class="dd-target c-main d-flex flex-column flex-fill w-100" url-drag-drop dd-element=".os-app">
    <nav-top></nav-top>
    <div id="js-main" class="d-flex flex-row flex-fill position-relative">
      <div list list-id="main-content" list-prefix="<div>" list-suffix="</div>"></div>
      <canvas class="c-timeline-panel_animation"></canvas>
      <map></map>
    </div>
    <timeline-panel ng-if="mainCtrl.timeline"></timeline-panel>
    <div id="js-dock-bottom__container"></div>
    <nav-bottom></nav-bottom>
  </div>

  <!-- ditch this? It isn't a typical window though -->
  <legendguide ng-if="mainCtrl.legend" widget="true" close-flag="mainCtrl.legend"></legendguide>

  <!-- these are OK since they are legitimately always in the DOM -->
  <global-menu id="js-global-menu"></global-menu>
  <onboarding></onboarding>
</div>
