<div id="win-container" class="c-main d-flex flex-column h-100 position-absolute w-100">
  <div class="drag-container dd-target h-100" url-drag-drop>
    <nav-top></nav-top>
    <div id="main" class="h-100">
      <date-panel ng-show="!mainCtrl.timeline"></date-panel>
      <div list list-id="main-content" list-prefix="<div>" list-suffix="</div>"></div>
      <map class="mw-0"></map>
    </div>
    <timeline-panel ng-if="mainCtrl.timeline"></timeline-panel>
    <nav-bottom></nav-bottom>
  </div>

  <!-- ditch this? It isn't a typical window though -->
  <legendguide ng-if="mainCtrl.legend" widget="true" close-flag="mainCtrl.legend"></legendguide>

  <!-- these are OK since they are legitimately always in the DOM -->
  <global-menu id="globalMenu"></global-menu>
  <onboarding></onboarding>
</div>
