<div class="js-navbottom w-100">
  <footer class="navbar navbar-expand navbar-dark bg-dark o-navbottom" ng-show="navBottom.getNavContentSize() != 0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav flex-fill justify-content-start" list list-id="nav-bottom-left"
          list-prefix="<li class='nav-item mr-1 my-auto'>" list-suffix="</li>"></ul>
      <ul class="navbar-nav flex-fill justify-content-center" list list-id="nav-bottom-middle"></ul>
      <ul class="navbar-nav flex-fill justify-content-end" list list-id="nav-bottom-right"
          list-prefix="<li class='nav-item ml-1 my-auto'>" list-suffix="</li>"></ul>
    </div>
  </footer>
</div>
