<div class="js-navbottom w-100">
  <footer class="navbar navbar-expand o-navbottom" ng-show="navBottom.getNavContentSize() != 0">
    <div class="collapse navbar-collapse d-flex flex-md-row flex-wrap">
      <ul class="navbar-nav flex-fill flex-wrap justify-content-start" punyparent list list-id="nav-bottom-left"
          list-prefix="<li class='nav-item mr-1 my-auto flex-shrink-0'>" list-suffix="</li>"></ul>
      <ul class="navbar-nav justify-content-center" punyparent list list-id="nav-bottom-middle"></ul>
      <ul class="navbar-nav flex-fill justify-content-end" punyparent list list-id="nav-bottom-right"
          list-prefix="<li class='nav-item ml-1 my-auto flex-shrink-0'>" list-suffix="</li>"></ul>
    </div>
  </footer>
</div>
