<div class="js-navbottom w-100">
  <footer class="navbar navbar-expand-xl navbar-dark bg-dark" ng-show="navBottom.getNavContentSize() != 0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" list list-id="nav-bottom-left" list-prefix="<li class='nav-item mr-1 my-auto'>" list-suffix="</li>"></ul>
      <ul class="navbar-nav mx-auto" list list-id="nav-bottom-middle"></ul>
      <ul class="navbar-nav ml-auto" list list-id="nav-bottom-right" list-prefix="<li class='nav-item ml-1 my-auto'>" list-suffix="</li>"></ul>
    </div>
  </footer>
</div>
