<div class="js-navtop w-100">
  <header ng-show="!hideNav" class="d-flex flex-column navbar navbar-expand o-navtop p-1 navbar-dark bg-dark">
    <div class="row w-100 no-gutters">
      <ul class="navbar-nav col-lg-4 col-6" punyparent
          list list-id="nav-top-left" list-prefix="<li class='nav-item mr-1 my-auto'>" list-suffix="</li>">
      </ul>
      <ul class="navbar-nav col-lg-4 justify-content-center order-2 order-lg-1 pt-1 pt-lg-0" punyparent
          list list-id="nav-top-center" list-prefix="<li class='nav-item mx-1 my-auto'>" list-suffix="</li>">
      </ul>
      <ul class="navbar-nav col-lg-4 col-6 justify-content-end order-1 order-lg-2" punyparent
        list list-id="nav-top-right" list-prefix="<li class='nav-item ml-1 my-auto'>" list-suffix="</li>">
      </ul>
    </div>
  </header>
</div>
