<div class="js-navtop w-100">
  <header class="c-navtop__header navbar navbar-expand-{{navTop.breakpointSize}} o-navtop" ng-class="{ 'p-3 c-navtop__transparent': bgTransparent === 'true', 'bg-dark': bgTransparent !== 'true', 'c-navtop__header-light navbar-light border-dark' : bgTransparent === 'true' && filled, 'navbar-dark border-light' : bgTransparent === 'true' && !filled, 'navbar-dark' : bgTransparent !== 'true' }" ng-hide="hideNav">
    <a ng-if="brand" class="navbar-brand c-navtop__navbar-brand py-0" href="{{brand.target}}">
      <img ng-if="!svg" class="img-fluid" buttonheight ng-src="{{brand.src}}"/>
      <span ng-if="svg" ng-include buttonheight src="brand.src"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#js-navtop__navbar-collapse" ng-click="navTop.toggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="js-navtop__navbar-collapse">
      <ul class="navbar-nav mr-auto" list list-id="nav-top-left" list-prefix="<li class='nav-item mr-1 my-auto'>" list-suffix="</li>"></ul>
      <ul class="navbar-nav ml-auto" list list-id="nav-top-right" list-prefix="<li class='nav-item ml-1 my-auto'>" list-suffix="</li>"></ul>
    </div>
  </header>
</div>
