<div class="row w-100 p-0 no-gutters">
  <ul class="navbar-nav col-lg-4 col-6" punyparent
      list list-id="nav-top-left"
      list-prefix="<li class='nav-item mr-1 py-1 my-auto'>"
      list-suffix="</li>">
  </ul>
  <ul class="navbar-nav col-lg-4 justify-content-center order-2 order-lg-1" punyparent
      list list-id="nav-top-center"
      list-prefix="<li class='nav-item mx-1 py-1 my-auto flex-shrink-0''>"
      list-suffix="</li>">
  </ul>
  <ul class="navbar-nav col-lg-4 col-6 justify-content-end order-1 order-lg-2" punyparent
      list list-id="nav-top-right"
      list-prefix="<li class='nav-item ml-1 py-1 my-auto'>"
      list-suffix="</li>">
  </ul>
</div>
