<div class="save-status">
  <div class="alert alert-success animate-fade" ng-if="statusCtrl.saved">
    <h3>Success!</h3>
    Saved <strong style="color:#333;"><em>{{name}}</em></strong> successfully.
  </div>
  <div class="alert alert-danger animate-fade" ng-if="statusCtrl.fail">
    <button type="button" class="close btn" ng-click="statusCtrl.reset()"><i class="fa fa-times"></i></button>
    <h3>Oops! Something went wrong...</h3>
    Unable to save <strong><em>{{name}}</em></strong> {{errorDetail}}. Please contact <strong style="color:#333">{{supportContact}}</strong> for support.
  </div>
</div>