// * Add Data Window styles
// *******************************************

.adw-banner {
  display: inline-block;
  float: left;
  width: 100%;
}

.adw-header {
  display: inline-block;
  float: left;
  width: 100%;

  .search {
    margin-bottom: 5px;
    width: 300px;
  }

  .groupby {
    margin-bottom: 5px;
  }

  .adw-filter {
    margin: 0 0 5px 5px;

    .c--action {
      cursor: pointer;
    }
  }
}

.adw-main {
  float: left;
  width: 100%;

  .slick-tree {
    @include calc(width, '50% - 2.5px');
  }
}

.adw-info {
  @include calc(width, '50% - 2.5px');
  height: 100%;
}

.panel {
  @include box-sizing(border-box);
  border: 1px solid #000;
  overflow: auto;
  padding: 5px;
}

