// * Form Styles
// ************************************************************/

form {
  input.ng-invalid.ng-dirty,
  span.ng-invalid.ng-dirty,
  div:not([ng-form]).ng-invalid.ng-dirty,
  select.ng-invalid.ng-dirty,
  textarea.ng-invalid.ng-dirty {
    background-color: #ffe8e8;
    background-image: none;
  }

  .ng-invalid.ng-dirty {
    > .select2-container {
      background-color: #ffe8e8;
      background-image: none;

      .select2-choice {
        background-color: #ffe8e8;
        background-image: none;
      }
    }

    .select2-container .select2-choices {
      background-color: #ffe8e8;
      background-image: none;
    }
  }

  input.ng-pristine.ng-invalid,
  span.ng-pristine.ng-invalid,
  div:not([ng-form]).ng-pristine.ng-invalid,
  select.ng-pristine.ng-invalid,
  textarea.ng-pristine.ng-invalid {
    background-color: #fffff5;
    background-image: none;
  }

  .ng-pristine.ng-invalid .select2-container {
    background-color: #fffff5;
    background-image: none;

    .select2-choice,
    .select2-choices {
      background-color: #fffff5;
      background-image: none;
    }
  }

  .examples {
    color: #009b14;
    display: inherit;
  }
}

.select2-container .select2-choices {
  @include border-radius(5px);
}

select.ng-invalid option {
  color: $color-font;
}

// display an asterisk on required fields
.mark-required .control-label.required::after {
  // sass-lint:disable no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #da3030;
  content: '\f069';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 6.5px;
  line-height: initial;
  padding-left: 1px;
  text-rendering: auto;
  vertical-align: text-top;
  }

.type-combo {
  @include border-radius(0 0 $os-border-radius $os-border-radius);
  @include box-shadow(0 4px 4px #ddd);
  background: #fff;
  border-color: #aaa;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  color: #000;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.combo-drop {
  @include box-shadow(0 4px 4px #ddd);
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 0 0 4px 4px;
  color: #000;
  position: absolute;
  width: 80%;
  z-index: 100010;

  .grid-canvas {
    width: 100% !important;
  }
}

.form-focus:focus {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6));
  border-color: rgba(82, 168, 236, .8) !important;
  outline: thin dotted \9 !important;
}

.icons-chooser.form-horizontal {
  .control-label {
    width: 125px;
  }

  .controls {
    margin-left: 133px;
  }
}

form[name='areaForm'].form-horizontal {
  .control-label {
    width: 120px;
  }

  .controls {
    margin-left: 125px;
  }
}
