$color-add: #0d0;
$color-import: #0cf;
$color-refresh: #f92;
$color-cancel: #d00;
$color-globe: #0df;
$color-layer: #f92;

// ********************************************************************
// * Custom scrollbar for Webkit-based browsers. Sorry, Firefox/IE!
// *
// sass-lint:disable no-vendor-prefixes
::-webkit-scrollbar {
  background-color: #eee;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}
// sass-lint:enable no-vendor-prefixes

[class*='-hover'] {
  @include transition(color 200ms ease);
}

// **************************************************
// Convenience classes


// Use a custom mixin in a class definition
.unselectable {
  @include unselectable();
}

.selectable {
  @include selectable();
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.do-wrap {
  white-space: normal;
  word-break: break-word;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.tall {
  height: 100%;
}

.wide {
  width: 100%;
}

.resize-vertical {
  resize: vertical;
}

textarea.wide,
.wide textarea {
  @include box-sizing(border-box);
  height: auto;
}

input.wide,
.wide input {
  @include box-sizing(border-box);
}

// make room for the popover icons when we're using them to explain form controls
form.form-popover-help {
  .wide {
    @include calc(width, '100% - 20px');
  }
}

.left-aligned {
  text-align: left;
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.italic {
  font-style: italic;
}

//*** For forms which place buttons outside of the form but still would
// * like to use ngSubmit, just put this on your submit input
// Moves off screen

.hidden {
  display: none !important;
  height: 1px;
  left: -9999px;
  position: absolute;
  width: 1px;
  z-index: -1;
}

// Resize indicator - use with 'fa fa-ellipsis-v'

.resize-grippy {
  color: #777;
  position: absolute;
  right: 3px;
  top: 50%;
}

.ui-resizable-e {
  right: -2px;
  width: 7px;
}

.pointer {
  cursor: pointer;
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// * prompt styles
// ************************************************************

.prompt {
  width: calc(100% - 10px);
}

// * spinner styles
// ************************************************************/

.spinner {
  display: block;
  width: 20px;
}

.spinner-container.wide input.spinner {
  width: 40px;
}

input.spinner[disabled] {
  background: none;
  cursor: default;
}

// * Inline (Glyph) button styles
//  ************************************************************/

.glyphs {
  position: relative;
  z-index: 1;
}

.glyph {
  cursor: pointer;

  &:hover {
    @include text-shadow(0 0 .3em);
  }
}

.glyph-remove {
  color: #d00;
}

.glyph-filter {
  color: #0d0;
}

// Misc
.keep-height::after {
  clear: both;
  content: '';
  display: block;
}

img.vendor-logo {
  width: 100px;
}

.vendor-attribution {
  display: inline-block;
  margin-left: 20px;
}

.important-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.app-icon {
  width: 16px;
}

// Remove some default styling in Firefox
// ************************************************************

a:focus,
button:focus,
select:focus,
textarea:focus,
div:focus {
  outline: none;
}

// sass-lint:disable no-vendor-prefixes
a::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner,
div::-moz-focus-inner {
  border: 0;
}
// sass-lint:enable no-vendor-prefixes

.form-compressed label {
  font-size: 13px;
  margin-bottom: 0;
}

.form-compressed .alert {
  margin-bottom: 0;
}

// * Slick Header Buttons
// ************************************************************/

.slick-header-buttons {
  padding-left: 2px;
  padding-right: 5px;
  position: absolute;
  right: -1px;
}

// Use bootstrap table formatting plus this stuff to create a list with a heading.
.list-table {
  border-radius: 0;
  margin: 0;

  &.table {
    td,
    th {
      margin-bottom: 0;
      margin-top: 0;
      overflow: hidden;
      padding-bottom: 0;
      padding-top: 0;
      vertical-align: inherit;
    }
  }
}

@include keyframes(pulsate) {
  0% { opacity: .3; }
  75% { opacity: 1; }
  100% { opacity: .3; }
}

.pulsate {
  @include animation(pulsate 1s infinite steps(15));
}

@include keyframes(ellipsis1) {
  0%,
  20% {
    @include translateY(0); // sass-lint:disable-line mixin-name-format
    opacity: .5;
  }

  30% {
    @include translateY(-4px); // sass-lint:disable-line mixin-name-format
    opacity: 1;
  }

  40%,
  100% {
    @include translateY(0); // sass-lint:disable-line mixin-name-format
    opacity: .5;
  }
}

@include keyframes(ellipsis2) {
  0%,
  40% {
    @include translateY(0); // sass-lint:disable-line mixin-name-format
    opacity: .5;
  }

  50% {
    @include translateY(-4px); // sass-lint:disable-line mixin-name-format
    opacity: 1;
  }

  60%,
  100% {
    @include translateY(0); // sass-lint:disable-line mixin-name-format
    opacity: .5;
  }
}

@include keyframes(ellipsis3) {
  0%,
  60% {
    @include translateY(0); // sass-lint:disable-line mixin-name-format
    opacity: .5;
  }

  70% {
    @include translateY(-4px); // sass-lint:disable-line mixin-name-format
    opacity: 1;
  }

  80%,
  100% {
    @include translateY(0); // sass-lint:disable-line mixin-name-format
    opacity: .5;
  }
}

.ellipsis-bounce {
  font-size: .5em;
  opacity: .5;
  text-align: bottom;

  > .ellipsis-bounce1 {
    @include animation(ellipsis1 1s infinite steps(15));
  }

  > .ellipsis-bounce2 {
    @include animation(ellipsis2 1s infinite steps(15));
  }

  > .ellipsis-bounce3 {
    @include animation(ellipsis3 1s infinite steps(15));
  }
}


// * Colors
// ************************************************************/

.color-add {
  color: $color-add;
}

.color-import {
  color: $color-import;
}

.color-refresh {
  color: $color-refresh;
}

.color-cancel {
  color: $color-cancel;
}

.color-globe {
  color: $color-globe;
}

.color-layer {
  color: $color-layer;
}

.location-properties-link {
  cursor: pointer;
  text-decoration: underline;
}

.border-glow {
  @include transition(border 500ms ease);
  border-color: #72b2ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

.insetshadowed {
  color: rgba(192, 192, 192, .2);
  text-shadow: 0 2px 2px #fff, 0 0 0 #000, 1px 4px 6px transparent;
}

.insetembossed {
  color: rgba(255, 255, 255, .5);
  text-shadow: 0 1px 1px #fff, 0 0 0 #000, 0 0 0 transparent;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }

  10%,
  20% {
    transform: rotate(-16deg);
  }

  30% {
    transform: rotate(16deg);
  }

  40% {
    transform: rotate(-16deg);
  }

  50% {
    transform: rotate(16deg);
  }

  60% {
    transform: rotate(-16deg);
  }

  70% {
    transform: rotate(16deg);
  }

  80%,
  100% {
    transform: rotate(0);
  }
}

.faa-wiggle {
  animation: wiggle 2s linear 8;
}

.faa-wiggle-short {
  animation: wiggle 2s linear 2;
}

.handle {
  @include grab-cursor();
}

.handle.moving {
  @include grabbing-cursor();
}

.handle > i {
  color: #999;
  font-size: 14px;
  margin-right: 2px;
}

.c-loading-spinner {
  font-size: 24px;
}
