//
//=== Popovers ===
//Styles for creating popovers
//Popovers are fixed on the page with absolute positioning just underneath the target element,
//and include an arrow pointing back to target element.  Popovers fill 80% of the screen.
//They open and close with css transition animations.


.bits-modal-content {
  @include opacity(0);
  @include scaleX(.7); // sass-lint:disable-line mixin-name-format
  @include scaleY(.1); // sass-lint:disable-line mixin-name-format
  @include transform-origin(50%, 0);
  @include transition(all .3s);
  @include box-shadow(0 25px 50px #333);
  @include border-radius($os-border-radius);
  background: #fff;
  border: solid 1px #333;
  left: 25%;
  margin-top: 12px;
  max-width: 1000px;
  min-width: 675px;
  padding: 4px;
  position: absolute;
  visibility: hidden;
  width: 50%;
  z-index: 1015;

  &.bottom .arrow::after {
    border-bottom-color: #fff;
    border-top-width: 0;
    margin-left: -10px;
    top: 1px;
  }

  .arrow {

    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    display: block;
    height: 0;
    position: absolute;
    width: 0;

    &::after {
      border-color: transparent;
      border-style: solid;
      border-width: 10px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }
  }

  &.bottom .arrow {
    border-bottom-color: rgba(0, 0, 0, .25);
    border-top-width: 0;
    left: 50%;
    margin-left: -11px;
    top: -11px;
  }
}

.modal-huge {
  bottom: 12px;
  left: 12px;
  margin: 0;
  position: fixed;
  right: 12px;
  top: 12px;
  width: auto;
}

.modal-huge .modal-footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: auto;
}

.modal-full {
  left: 10%;
  margin-left: 0;
  width: 80%;
}

.modal-half {
  left: 20%;
  margin-left: 0;
  width: 60%;
}

.modal-dialog-medium {
  left: 30%;
  margin-left: 0;
  width: 45%;
}

.modal-dialog {
  left: 30%;
  margin-left: 0;
  width: 40%;
}


@media (max-width: 1750px) {
  .modal-dialog,
  .modal-dialog-medium {
    left: 20%;
    margin-left: 0;
    width: 60%;
  }
}

@media (max-width: 1315px) {
  .modal-dialog,
  .modal-dialog-medium {
    left: 10%;
    margin-left: 0;
    width: 80%;
  }

  .modal-dialog-medium {
    left: 10%;
    margin-left: 0;
    width: 80%;
  }
}

.modal .bits-modal-content {
  position: fixed;
  top: 20%;

  .arrow {
    display: none !important;
  }
}

.bits-modal-container.bits-modal-show .bits-modal-content {
  @include opacity(1);
  @include scale(1);
  visibility: visible;
}

@media (max-width: 1199px) {
  .bits-modal-content {
    left: 10%;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .bits-modal-content {
    left: 5%;
    max-width: 550px;
    min-width: 550px;
    width: 90%;
  }
}

.popover {
  z-index: 2012; // same as windows
}


.popover-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popover-content {
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: #08c;
  }
}

popover > i {
  color: #666;
}
