<div>
  <div class="btn btn-secondary btn-block" title="Text Box controls for the feature" data-toggle="collapse"
      data-target="#featureAnnotation{{ctrl.uid}}">
    Text Box Options
  </div>
  <div class="card-body collapse"
      data-parent="#featureControls{{ctrl.uid}}" ng-attr-id="featureAnnotation{{ctrl.uid}}">
    <div class="form-row">
      <div class="col">
        <div class="custom-control custom-checkbox d-inline-block"
            title="Show an interactive map text box for this feature">
          <input type="checkbox" class="custom-control-input" name="showAnnotation"
              ng-attr-id="showAnnotation{{ctrl.uid}}"
              ng-change="ctrl.updateAnnotation()"
              ng-model="ctrl.annotationOptions.show" />
          <label class="custom-control-label" ng-attr-for="showAnnotation{{ctrl.uid}}">
            Show Text Box
          </label>
        </div>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col">
        <div class="custom-control custom-checkbox d-inline-block"
            title="Show the Name field as the text box header">
          <input type="checkbox" class="custom-control-input" name="showAnnotationName"
            ng-attr-id="showAnnotationName{{ctrl.uid}}"
            ng-change="ctrl.updateAnnotation()" ng-disabled="!ctrl.annotationOptions.show"
            ng-model="ctrl.annotationOptions.showName"/>
          <label class="custom-control-label" ng-attr-for="showAnnotationName{{ctrl.uid}}">
            Show Name
          </label>
        </div>
      </div>
      <div class="col">
        <div title="Change the background color of the header">
            <colorpicker name="headerColor"
                ng-attr-id="headerColor{{ctrl.uid}}"
                color="ctrl.tempHeaderBG"
                show-reset="true"
                title="Sets the background color for header"
                disabled="!ctrl.annotationOptions.show || !ctrl.annotationOptions.showName"></colorpicker>
            <label class="col-form-label" ng-attr-for="headerColor{{ctrl.uid}}">
              Header Background
            </label>
          </div>
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col">
          <div class="custom-control custom-checkbox d-inline-block"
              title="Show the Description field in the text box">
            <input type="checkbox" class="custom-control-input" name="showAnnotationDescription"
              ng-attr-id="showAnnotationDescription{{ctrl.uid}}"
              ng-change="ctrl.updateAnnotation()" ng-disabled="!ctrl.annotationOptions.show"
              ng-model="ctrl.annotationOptions.showDescription"
            />
            <label class="custom-control-label" ng-attr-for="showAnnotationDescription{{ctrl.uid}}">
              Show Description
            </label>
          </div>
        </div>
        <div class="col">
          <div class="d-inline-block" title="Change the background color of the description">
              <colorpicker name="bodyColor"
                  ng-attr-id="bodyColor{{ctrl.uid}}"
                  color="ctrl.tempBodyBG"
                  show-reset="true"
                  title="Sets the background color for body"
                  disabled="!ctrl.annotationOptions.show || !ctrl.annotationOptions.showDescription"></colorpicker>
              <label class="col-form-label" ng-attr-for="bodyColor{{ctrl.uid}}">Description Background</label>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col">
          <label class="col-form-label mr-2">Tail Style</label>
          <div class="custom-control custom-checkbox d-inline-block">
            <input ng-checked="true" type="radio" ng-attr-id="showAnnotationDefaultTail{{ctrl.uid}}" class="form-check-input" name="showAnnotationTail"
              ng-change="ctrl.updateAnnotation()" value="default" ng-model="ctrl.annotationOptions.showTail" ng-disabled="!ctrl.annotationOptions.show"
            />
            <label class="form-check-label" ng-attr-for="showAnnotationDefaultTail{{ctrl.uid}}" ng-disabled="disabled">Default</label>
          </div>
          <div class="custom-control custom-checkbox d-inline-block">
            <input type="radio" ng-attr-id="showAnnotationLineTail{{ctrl.uid}}" class="form-check-input" name="showAnnotationTail" value="line"
              ng-change="ctrl.updateAnnotation()" ng-model="ctrl.annotationOptions.showTail" ng-disabled="!ctrl.annotationOptions.show"
            />
            <label class="form-check-label" ng-attr-for="showAnnotationLineTail{{ctrl.uid}}" ng-disabled="disabled">Line</label>
          </div>
          <div class="custom-control custom-checkbox d-inline-block">
            <input type="radio" ng-attr-id="showAnnotationNoTail{{ctrl.uid}}" class="form-check-input" name="showAnnotationTail" ng-change="ctrl.updateAnnotation()"
              value="none" ng-model="ctrl.annotationOptions.showTail" ng-disabled="!ctrl.annotationOptions.show" />
            <label class="form-check-label" ng-attr-for="showAnnotationNoTail{{ctrl.uid}}" ng-disabled="disabled">None</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
