<div class="c-filter-import flex-column d-flex flex-fill">
  <div class="modal-body u-overflow-y-auto">
    <div class="form-group" ng-if="!layerId">
      <div class="form-row">Please choose layers to associate these filters with:</div>
      <div class="form-row">
        <div class="col">
          <layerpicker is-required="false" layer="ctrl.layer" layers-filter="ctrl.getLayersFunction()"></layerpicker>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" ng-click="ctrl.addUnmatched()" ng-disabled="!ctrl.hasMatchedFilters" title="Add matching {{ctrl.getFilterTitle()}} to the list to import">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div>
    </div>
    <div ng-if="ctrl.hasUnmatchedFilters">
      The file contains the following {{ctrl.getFilterTitle(ctrl.unmatched.length)}}.
      <span ng-if="ctrl.layer">Any {{ctrl.getFilterTitle(1)}} with an <i class="fa fa-times text-danger"></i> does not match the selected layer.</span>
    </div>

    <div class="u-table u-table__no-hover my-1 border" ng-if="ctrl.hasUnmatchedFilters && ctrl.unmatched.length">
      <filterimportmodel
          layer-selected="!!ctrl.layer"
          models="ctrl.unmatched"
          icon="ctrl.getFilterIcon()"
          found="false">
      </filterimportmodel>
    </div>

    <div ng-if="ctrl.matchedCount > 0" class="u-table u-table-striped u-table__no-hover border">
      <div class="u-table__head px-1">
        <i class="fa fa-check text-success"></i>
        Importing <b>{{ctrl.matchedCount}}</b> {{ctrl.getFilterTitle(ctrl.matchedCount)}} to these layers:
      </div>
      <div ng-repeat="(layerId, layer) in ctrl.matched" class="u-table__row p-1 border-top">
        <div class="d-flex px-1">
          <span class="text-truncate mr-auto" title="{{layer.layerTitle}}">
            <span ng-bind-html="layer.layerIcon"></span>
            {{layer.layerTitle}}
          </span>

          <span ng-show="ctrl.showMatch" class="mr-1" title="Whether to pass all filters (AND) or any filter (OR)">
            <select class="custom-select" ng-model="layer.filterGroup" ng-init="layer.filterGroup = ctrl.groups[layer.match ? 0 : 1]" ng-options="item as item for item in ctrl.groups" ng-change="layer.match = !layer.match"/>
          </span>

          <button type="button" class="close flex-shrink-0" ng-click="ctrl.removeLayer(layerId)" aria-label="close" title="Don't import {{ctrl.getFilterTitle()}} for this layer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <filterimportmodel ng-if="layer.filterModels.length" models="layer.filterModels" icon="ctrl.getFilterIcon()" found="true"></filterimportmodel>
      </div>
    </div>
    <div ng-if="ctrl.matchedCount == 0" class="text-center p-2">There are no filters that match available layers.</div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.finish()" ng-disabled="!ctrl.matchedCount">
      <i class="fa fa-check"></i> Import
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">
      <i class="fa fa-ban"></i> Cancel
    </button>
  </div>
</div>
