<div class="c-filter-import flex-column d-flex flex-fill">
  <div class="modal-body u-overflow-y-auto">
    <div ng-if="ctrl.notFound.length">
      We were unable to match <b>{{ctrl.notFound.length}}</b> {{ctrl.getFilterTitle(ctrl.notFound.length)}} to a layer. Please choose layers to add them to:
      <div class="form-group row">
        <div class="col">
          <layerpicker is-required="false" layer="ctrl.layer" layers-filter="ctrl.getLayersFunction()"></layerpicker>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" ng-click="ctrl.addNotFound()" ng-disabled="!ctrl.hasMatchedFilters" title="Add matching {{ctrl.getFilterTitle()}} to the list to import">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div>
      <div ng-if="ctrl.hasUnmatchedFilters">
        <i class="fa fa-warning text-warning"></i> Any {{ctrl.getFilterTitle(1)}} with <i class="fa fa-times text-danger"></i> will be discarded.
      </div>
      <div class="u-table u-table-striped mt-1 border">
        <div title="{{filter.tooltip}}" ng-repeat="filter in ctrl.notFound" class="u-table__row">
          <div>
            <span class="text-truncate">
              <i class="fa mx-1" ng-class="{'fa-times text-danger': !filter.matches, 'fa-check text-success': filter.matches}"
                  title="{{{false: 'This filter does not match the selected layer', true: 'This filter matches the columns for the selected layer'}[filter.matches]}}"></i>
              {{filter.title}}
            </span>
            <span class="float-right mr-5" title="This {{ctrl.getFilterTitle(1)}} most likely matches {{filter.type}}">
              ({{filter.type}})
            </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="ctrl.foundCount > 0" class="u-table u-table-striped u-table__no-hover border">
      <div class="u-table__head px-1">
        <i class="fa fa-check text-success"></i>
        Importing <b>{{ctrl.foundCount}}</b> {{ctrl.getFilterTitle(ctrl.foundCount)}} to these layers
      </div>
      <div ng-repeat="(layerId, layer) in ctrl.found" class="u-table__row p-1 border-top">
        <div class="d-flex px-1">
          <span class="text-truncate mr-auto" title="{{layer.layerTitle}}">
            <span ng-bind-html="layer.layerIcon"></span>
            {{layer.layerTitle}}
          </span>

          <span ng-show="ctrl.showMatch" class="mr-1" title="Whether to pass all filters (AND) or any filter (OR)">
            <select class="custom-select" ng-model="layer.filterGroup" ng-init="layer.filterGroup = ctrl.groups[layer.match ? 0 : 1]" ng-options="item as item for item in ctrl.groups" ng-change="layer.match = !layer.match"/>
          </span>

          <button type="button" class="close flex-shrink-0" ng-click="ctrl.removeLayer(layerId)" aria-label="close" title="Don't import {{ctrl.getFilterTitle()}} for this layer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div ng-repeat="filter in layer.filterModels" title="{{filter.tooltip}}" class="ml-4 text-truncate">
          <i class="fa" ng-class="ctrl.getFilterIcon()"></i> {{filter.title}}
        </div>
      </div>
    </div>
    <div ng-if="ctrl.foundCount == 0" class="text-center p-2">Nothing to import</div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.finish()" ng-disabled="!ctrl.foundCount">
      <i class="fa fa-check"></i> Import
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">
      <i class="fa fa-ban"></i> Cancel
    </button>
  </div>
</div>
