<div class="c-filter-import flex-column d-flex u-flex-grow">
  <div class="modal-body u-overflow-y-auto">
    <div class="border rounded bg-secondary" ng-if="ctrl.notFound.length">
      We were unable to match <b>{{ctrl.notFound.length}}</b> {{ctrl.getFilterTitle(ctrl.notFound.length)}} to a layer. Please choose layers to add them to:
      <div class="form-group row">
        <div class="col">
          <layerpicker is-required="false" layer="ctrl.layer" layers-filter="ctrl.getLayersFunction()"></layerpicker>
        </div>
        <label class="col-form-label col-1 mr-3">
          <button class="btn btn-primary" ng-click="ctrl.addNotFound()" ng-disabled="!ctrl.hasMatchedFilters" title="Add matching {{ctrl.getFilterTitle()}} to the list to import">
            <i class="fa fa-plus"></i>
            Add
          </button>
        </label>
      </div>
      <div ng-if="ctrl.hasUnmatchedFilters">
        <i class="fa fa-warning text-warning"></i> Any {{ctrl.getFilterTitle(1)}} with <i class="fa fa-times text-danger"></i> will be discarded.
      </div>
      <div class="border rounded bg-secondary">
        <div title="{{filter.tooltip}}" ng-repeat="filter in ctrl.notFound" ng-class="{'u-bg-body' : $index % 2 == 0}">
          <div>
            <span class="text-truncate">
              <i class="fa mx-1" ng-class="{'fa-times text-danger': !filter.matches, 'fa-check text-success': filter.matches}"
                  title="{{{false: 'This filter does not match the selected layer', true: 'This filter matches the columns for the selected layer'}[filter.matches]}}"></i>
              {{filter.title}}
            </span>
            <span class="float-right mr-5" title="This {{ctrl.getFilterTitle(1)}} most likely matches {{filter.type}}">
              ({{filter.type}})
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="border rounded bg-secondary" ng-if="ctrl.foundCount > 0">
      <i class="fa fa-check text-success"></i>
      <span>Importing <b>{{ctrl.foundCount}}</b> {{ctrl.getFilterTitle(ctrl.foundCount)}} to these layers:</span>
      <div class="border rounded">
        <div ng-repeat="(layerId, layer) in ctrl.found" ng-class="{'u-bg-body' : $index % 2 == 0}">
          <div>
            <span class="text-truncate" title="{{layer.layerTitle}}">
              <span ng-bind-html="layer.layerIcon"></span>
              {{layer.layerTitle}}
            </span>
            <span class="float-right d-flex">
              <span ng-show="ctrl.showMatch" class="mr-1" title="Whether to pass all filters (AND) or any filter (OR)">
                <select class="form-control" ng-model="layer.filterGroup" ng-init="layer.filterGroup = ctrl.groups[layer.match ? 0 : 1]" ng-options="item as item for item in ctrl.groups" ng-change="layer.match = !layer.match"/>
              </span>
              <span ng-click="ctrl.removeLayer(layerId)" class="float-right" title="Don't import {{ctrl.getFilterTitle()}} for this layer">
                <i class="fa fa-times text-danger c-glyph"></i>
              </span>
            </span>
          </div>

          <div ng-repeat="filter in layer.filterModels" title="{{filter.tooltip}}" class="c-filter-import__filter text-truncate">
            <i class="fa" ng-class="ctrl.getFilterIcon()"></i> {{filter.title}}
          </div>
        </div>
      </div>
    </div>

    <div class="border rounded bg-secondary" ng-if="ctrl.foundCount == 0">
      Nothing to import.
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.finish()" ng-disabled="!ctrl.foundCount">
      <i class="fa fa-check"></i> Import
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">
      <i class="fa fa-ban"></i> Cancel
    </button>
  </div>
</div>
