<ul class="draw-menu menu unselectable">
  <li class="menu-item menu-item-action dropdown-item"
      ng-click="drawControls.activateControl('box')"
      ng-class="{active: drawControls.selectedType == 'box', on: drawControls.selectedType == 'box' && drawControls.isActive()}"
      title="Draws a box on the map for queries, zoom, and selection">
    <i class="fa fa-square-o"></i> Box
  </li>
  <li class="menu-item menu-item-action dropdown-item"
      ng-click="drawControls.activateControl('circle')"
      ng-class="{active: drawControls.selectedType == 'circle', on: drawControls.selectedType == 'circle' && drawControls.isActive()}"
      title="Draws a circle on the map for queries, zoom, and selection">
    <i class="fa fa-circle-o"></i> Circle
  </li>
  <li class="menu-item menu-item-action dropdown-item"
      ng-click="drawControls.activateControl('polygon')"
      ng-class="{active: drawControls.selectedType == 'polygon', on: drawControls.selectedType == 'polygon' && drawControls.isActive()}"
      title="Draws a polygon on the map for queries, zoom, and selection">
    <i class="fa fa-star-o"></i> Polygon
  </li>
  <li class="menu-item menu-item-action dropdown-item"
      ng-if="drawControls.supportsLines"
      ng-click="drawControls.activateControl('line')"
      ng-class="{active: drawControls.selectedType == 'line', on: drawControls.selectedType == 'line' && drawControls.isActive()}"
      title="Draws a line on the map">
    <i class="fa fa-long-arrow-right"></i> Line
  </li>
  <li ng-if="!hideExtraControls" class="menu-item divider"></li>
  <li ng-if="drawMenu.showChooseArea && !hideExtraControls" class="menu-item menu-item-action dropdown-item"
      ng-click="drawMenu.launchChooseArea()"
      title="Load data for chosen area">
    <i class="fa fa-list-ul"></i> Choose Area
  </li>
  <li ng-if="!hideExtraControls" class="menu-item menu-item-action dropdown-item"
      ng-click="drawMenu.launchAreaByCoordinates()"
      title="Enter coordinates to load data for a box">
    <i class="fa fa-calculator"></i> Enter Coordinates
  </li>
  <li ng-if="drawMenu.isCountryEnabled() && !hideExtraControls" class="menu-item menu-item-action dropdown-item"
      ng-click="drawMenu.launchCountryPicker()"
      title="Load data for a country border">
    <i class="fa fa-globe"></i> Country Border
  </li>
  <li ng-if="!hideExtraControls" class="menu-item menu-item-action dropdown-item"
      ng-click="drawMenu.queryWorld()"
      title="Load data for the whole world">
    <i class="fa fa-map-o"></i> Whole World
  </li>
</ul>
