<div class="control-group simplemde" ng-class="{'error':simplemdeform.$dirty && simplemdeform.$invalid, 'edit-form':edit}">
  <ng-form name="simplemdeform" class="simplemdeform" ng-show="edit">
    <textarea class="simplemdetextarea"></textarea>
    <input class="ng-hide" type="text" name="empty" ng-model="text" ng-maxlength="{{maxlength}}" ng-required="isRequired"/>
    <span class="help-block" ng-show="text.length > maxlength">Content is too long!</span>
    <span class="help-block" ng-show="isRequired && text.length == 0">Required!</span>
  </ng-form>
  <div class="preview" ng-bind-html="previewText" ng-if="!edit">
  </div>
</div>
