<div class="d-flex flex-column flex-fill">
  <div class="modal-body">
    <form name="cmExportForm" ng-submit="cmExportCtrl.accept()">

      <div class="d-flex flex-fill form-group">
        <label class="col-3 col-form-label text-right">Name</label>
        <div class="col">
          <input class="form-control" type="text" name="title" ng-model="title" ng-required="true" ng-maxlength="128" />
          <validation-message target="cmExportForm.title"></validation-message>
        </div>
      </div>

      <div class="d-flex flex-fill form-group">
        <label class="col-3 col-form-label text-right">Save to</label>
        <div class="col">
          <select class="custom-select" name="persister" ng-model="cmExportCtrl.persister" ng-options="value as key for (key, value) in cmExportCtrl.persisters"
          />
        </div>
      </div>

      <div class="d-flex flex-fill form-group" ng-if="cmExportCtrl.showExportType">
        <label class="col-3 col-form-label text-right">Exporting</label>
        <div class="ml-1 col form-check form-check-inline">
          <input class="mx-1 form-check-input" type="radio" name="timeTypeRadios" ng-model="cmExportCtrl.exportType" value="all" />
          <label class="mr-3 form-check-label">All
          </label>
          <input class="mx-1 form-check-input" type="radio" name="timeTypeRadios" ng-model="cmExportCtrl.exportType" value="selected" />
          <label class="form-check-label">
          </label>Selected
        </div>
      </div>
      <input type="submit" class="invisible" />

    </form>
  </div>

  <div class="modal-footer flex-fill justify-content-between">
    <div>
      Exporting {{cmExportCtrl.exportType == 'all' ? mappings.length : selectedMappings.length}} {{(cmExportCtrl.exportType ==
      'all' ? mappings.length : selectedMappings.length) === 1 ? 'Column Association.' : 'Column Associations.'}}
    </div>
    <div>
      <button class="btn btn-primary" ng-click="cmExportCtrl.accept()" ng-disabled="cmExportForm.$invalid">
        <i class="fa fa-check"></i>
        OK
      </button>
      <button class="btn btn-secondary" ng-click="cmExportCtrl.close()">
        <i class="fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>

</div>
