<div class="column-mapping-settings">
  <div class="column-mapping-settings__help">
    <i class="fa fa-question-circle"></i> Column associations allow you to take columns from multiple different layers and make them equivalent.<br>
    For example, you can take an "ALTITUDE" column on one layer and map it with an "Alt" column on another layer.
  </div>
  <div class="column-mapping-settings__buttons">
    <button class="btn btn-default" type="button" ng-click="cmCtrl.create()">
      <i class="fa fa-plus color-add"></i> Create
    </button>
    <div class="column-mapping-settings__import-buttons">
      <button class="btn btn-default" type="button" ng-click="cmCtrl.export()" ng-disabled="cmCtrl.mappingTree.length === 0">
        <i class="fa fa-download yellow-icon"></i> Export
      </button>
      <button class="btn btn-default" type="button" ng-click="cmCtrl.import()">
        <i class="fa fa-sign-in color-import"></i> Import
      </button>
    </div>
  </div>
  <div class="column-mappings-tree" autoheight siblings=".column-mapping-settings__buttons, .column-mapping-settings__help">
    <slicktree x-data="cmCtrl.mappingTree" selected="selected" show-root="false" multi-select="true"></slicktree>
  </div>
</div>
