<div class="d-flex flex-column flex-fill container-fluid">
  <h4>Column Associations</h4>
  <div class="form-group">
    Column associations allow you to relate like columns from different layers. For example, you can take an "ALTITUDE" column on one layer and map it with an "Alt" column on another layer.
  </div>
  <div class="form-group row mx-0">
    <button class="btn btn-primary" type="button" ng-click="cmCtrl.create()">
      <i class="fa fa-plus"></i>
      Create
    </button>
    <div class="text-right col">
      <button class="btn btn-secondary" type="button" ng-click="cmCtrl.export()" ng-disabled="cmCtrl.mappingTree.length === 0">
        <i class="fa fa-download"></i>
        Export
      </button>
      <button class="btn btn-secondary" type="button" ng-click="cmCtrl.import()">
        <i class="fa fa-sign-in"></i>
        Import
      </button>
    </div>
  </div>
  <div class="d-flex flex-column flex-fill">
    <slicktree x-data="cmCtrl.mappingTree" selected="selected" show-root="false" multi-select="true"></slicktree>
  </div>
</div>
