<span ng-form="exprForm" class="my-1 flex-fill">
  <div class="row form-inline">
    <label class="col-auto">Layer</label>
    <layerpicker class="col-5" layer="exprCtrl.layer" layers-filter="node.getFn()" formatter="exprCtrl.formatter"></layerpicker>
    <label class="col-auto">Column</label>
    <select class="col-4 js-mapping-expression__column-select" placeholder="Select column..." ng-model="exprCtrl.column"
        ng-options="value.name for value in exprCtrl.columns" required/>
    <div class="col-auto">
      <button class="btn btn-danger" ng-click="$emit('columnmapping.remove', node)" title="Remove this expression">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</span>
