.scootch-btn-group {

  position: relative;
  top: calc(40px - 50%);
  width: calc(10% - 4px);

  .btn {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
}

.column-manager-container {
  height: 100%;

  input:focus,
  input[type='text']:focus {
    border-color: #272b30;
    box-shadow: none;
    outline: none;
  }

  .slick-grid {
    display: inline-block;
    width: calc(45% - 2px);
  }

  .search-box-container {
    margin: 0;
  }

  .search-box-cols {
    display: inline-block;
    font-size: 0;
    margin: 0;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
  }

  .search-query-cols {
    border-color: #272b30;
    border-left: 1px solid #272b30;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    margin-bottom: 0;
    padding: 2px 5px;
    width: 233px;
  }

  .add-on-cols {
    background-color: #555;
    border-bottom: 1px solid #272b30;
    border-color: #272b30;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #272b30;
    border-top: 1px solid #272b30;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 21px;
    padding: 2px 3px;
    text-align: center;
    text-shadow: none;
    vertical-align: top;
    width: auto;
  }

  .search-results {
    margin: 2px;
  }

  .sg-container {
    height: calc(100% - 50px);
  }
}
