// Alert Viewer Styles

.alert-badge {
  @include opacity(1);
  bottom: -8px;
  font-size: 10px;
  line-height: 15px;
  padding: 0 4px;
  pointer-events: none;
  position: absolute;
  right: -8px;
  z-index: 50;
}

.tools > .alert-viewer-popup {
  bottom: 10px;
}
