// Area Import styles

$area-options-label-width: 125px;

.wizard-step.area-options .form-horizontal .control-label {
  width: $area-options-label-width;
}

.wizard-step.area-options .form-horizontal .controls {
  margin-left: $area-options-label-width + 5px;
}

.shpareafiles input {
  width: calc(100% - 155px);
}
