// Draw Control Styles

.draw-controls {
  display: inline-block;
  position: relative;

  .btn-group {
    margin: 0;
  }
}

.draw-menu {
  background-color: $color-medium-gray;
  border: 1px solid $color-dark-gray;
  border-radius: 4px;
  display: block;
  line-height: 26px;
  margin-top: -1px;
  padding: 2px;
  position: fixed;
  z-index: 5000;
}

.draw-controls .btn.on > i,
.draw-menu .btn.on > i {
  color: #0ff;
  font-weight: bold;
}
