.c-feature-edit__ellipse-fields input {
  width: 122px;
}

.c-feature-edit__ellipse-fields select {
  width: 80px;
}

.c-feature-edit__label-row {
  padding: 2px;
}

.c-feature-edit .accordion {
  border-top: 1px solid $color-black;
  margin: 5px 0 0;
}

.c-feature-edit__time popover {
  margin-left: 8px;
}
