// Styles for the Places plugin
//

.c-places {
  height: 100%;
}

.c-places__tree {
  @include box-sizing(border-box);
  padding-top: 5px;
}

.c-saveplaces .control-label {
  width: 125px;
}

.c-saveplaces .controls {
  margin-left: 130px;
}
