// * Timeline styles
// *******************************************

.c-timeline {
  @include box-shadow(inset 0 0 8px #222);
  background-color: #888;
  border-bottom: 1px solid $color-medium-gray;
  border-top: 1px solid $color-medium-gray;
  margin-top: 5px;
  position: relative;
  z-index: 200;
}

.c-timeline-expanded {
  height: 150px;
}

.c-timeline-collapsed {
  height: 55px;
}

.c-timeline__buttons {
  background-color: #666;
  border-radius: 4px 0 0;
  margin-top: -22px;
  padding: 0 4px;
  position: absolute;
  right: 0;
}

// * Timeline Settings styles
// *******************************************

.time-window {
  .window-content {
    overflow: hidden;
  }

  .control-group {
    margin-bottom: 0;
    margin-top: 0;
  }

  .control-label {
    width: 60px;
  }

  .controls {
    margin-left: 70px;
  }

  .small {
    width: 80px;
  }

  select.small {
    width: 94px;
  }

  .auto {
    padding-top: 3px;
  }

  .range-container {
    max-height: 320px;
    overflow-y: auto;
  }
}

.brush-loop .extent {
  stroke: rgb(105, 240, 120);
}

.arrow-loop,
.brush-loop .resize polygon {
  fill: rgb(105, 240, 120);
}
