// Column styles
.os-colact-anchor {
  color: inherit !important;
}

.column-manager-container .slick-grid .slick-row {
  &.selected:not(:hover) {
    background: $color-dark-gray;
    color: $color-primary-font;
  }

  &:hover {
    background: $color-medium-gray !important;
    color: $color-primary-font;

    .slick-cell {
      color: #fff;
    }
  }
}
