// map legend styles

.c-legend__dragtarget {
  cursor: move;
  height: 100%;
  position: absolute;
  width: 100%;
}

.c-legend__glyphs {
  @include border-radius(4px 4px 0 0);
  @include box-sizing(border-box);
  @include calc(width, '100% - 4px');
  color: #fff;
  cursor: move;
  margin-left: 2px;
  opacity: 0;
  padding-right: 4px;
  text-align: right;

  > i {
    opacity: .5;
  }
}

.c-legend:hover {
  > .c-legend__glyphs {
    background-color: rgba(50, 50, 50, .5);
    opacity: 1;
  }
}

.c-legend__buttons {
  margin-bottom: 3px;
  margin-right: 7px;
}

.c-legend__floatleft {
  float: left;
}

.c-legend__slider {
  margin-left: 5px;
  width: 150px;
}
