body {
  color: $color-primary-font;
  overflow: hidden;
}

.win-container {
  height: 100%;
  position: absolute;
  width: 100%;
}

.no-mouse {
  pointer-events: none;
}

.no-pad {
  padding: 0;
}

.hide {
  display: none;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.large-spinner > input {
  width: 60px;
}

.spinner-container > .ui-widget-content {
  border: 0;
}

.box {
  background: $color-medium-gray;
  border: solid 1px $color-dark-gray;
  margin: 5px 0;
}

.feature-label {
  text-shadow: #000 1px 1px, #000 -1px -1px, #000 1px -1px, #000 -1px 1px;
  white-space: pre-wrap;
}

// * Custom scrollbar for webkit browsers - sorry FF/IE!
// *******************************************************
// sass-lint:disable no-vendor-prefixes
::-webkit-scrollbar {
  background-color: $color-medium-gray;
}
// sass-lint:enable no-vendor-prefixes

.panel {
  @include box-sizing(border-box);
  background: $color-gray;
  border: 1px solid #000;
  overflow: auto;
  padding: 5px;
}

popover > i,
.popover > i {
  color: inherit;
}

.ng-dirty {
  .ng-invalid:not(.ng-pristine) {
    border-color: #f04 !important;
  }

  &.ng-invalid:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #888 !important;
  }
}



// iframe styles

iframe {
  border: 0;
}



// General small stuff

.slick-node-ui > .group {
  padding-right: 4px;
}


.os-loading-wrapper {
  bottom: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.os-loading {
  background: rgba(85, 85, 85, .5);
  border: 3px solid rgba(255, 255, 255, .4);
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 0 4px;
}
