<div class="d-flex flex-column flex-md-row">
  <label class="col-{{posCtrl.col}} col-form-label"
    ng-class="{'text-right': !bulk, 'u-required': !bulk && required}" for="pos"
    ng-if="posCtrl.showLabel">{{posCtrl.label}}</label>
  <div class="col-12">
    <div class="d-flex">
      <input type="text"
          class="form-control"
          name="pos"
          ng-model="posText"
          ng-disabled="disabled || posCtrl.mapEnabled"
          geo />
      <button type="button" class="btn btn-primary ml-1 col-auto" title="Set the position by clicking on the map"
            ng-if="mapSupport === 'true'" ng-click="posCtrl.toggleMapEnabled()"
            ng-disabled="disabled" ng-class="{'active': posCtrl.mapEnabled}">
        <i class="fa fa-globe" ng-class="{'text-primary': posCtrl.mapEnabled}"></i>
      </button>
      <popover class="mx-2" title="posCtrl.popoverTitle" content="popoverContent" pos="'right'"></popover>
    </div>
    <div>
      <validation-message target="form.pos"></validation-message>
      <span class="invalid-feedback d-block" ng-show="form.pos.$invalid && !form.pos.$error.required && form.pos.$dirty">
        Invalid position!
      </span>
    </div>
    <div>
      <span ng-if="posCtrl.mapEnabled && !hideHint">
        Choose a location by clicking on the map.
      </span>
    </div>
  </div>
</div>
