<div class="search-bar">
  <form class="m-auto" ng-submit="searchBox.search()">
    <div class="input-group">
      <div class="dropdown input-group-prepend">
        <button class="btn btn-secondary dropdown-toggle"
            type="button"
            ng-click="searchBox.toggleSearchOptions($event)"
            ng-show="searchBox.searchOptions.length > 0"
            title="Show/hide search options"></button>
      </div>
      <div class="dropdown-menu" ng-class="{'show': searchBox.showSearchOptions}">
        <div class="dropdown-header" ng-if="searchBox.searchOptions.length > 1">
          Search Types
          <div class="float-right" ng-if="searchBox.allowMultiple">
            <button class="btn btn-sm" type="button" ng-click="searchBox.toggleAll(true)"
                title="Enable all search types">
              <i class="fa fa-check-square-o"></i>
              All
            </button>
            <button class="btn btn-sm" type="button" ng-click="searchBox.toggleAll(false)"
                title="Disable all search types">
              <i class="fa fa-square-o"></i>
              None
            </button>
          </div>
        </div>
        <div ng-if="searchBox.searchOptions.length > 1">
          <div ng-if="searchBox.allowMultiple" ng-repeat="groupName in searchBox.providerGroups">
            <span class="dropdown-item" ng-click="searchBox.toggleGroup(groupName)">
              <i class="fa" ng-class="searchBox.getGroupIcon(groupName)"></i>
              {{groupName}}
            </span>
            <a class="dropdown-item" href="" ng-repeat="search in searchBox.getSearchOptionsGroup(groupName)"
                ng-click="searchBox.toggleSearch(search)">
                <i class="ml-3 fa" ng-class="searchBox.getSearchIcon(search)"></i>
              {{searchBox.getSearchName(search)}}
            </a>
          </div>
          <a class="dropdown-item" href="" ng-repeat="search in searchBox.searchOptionsNoGroup"
              ng-click="searchBox.toggleSearch(search)"
              ng-class="{'font-weight-bold': !searchBox.allowMultiple && searchBox.isSearchEnabled(search)}">
            <i class="fa" ng-if="searchBox.allowMultiple || searchBox.isSearchEnabled(search)"
                ng-class="searchBox.getSearchIcon(search)"></i>
            {{searchBox.getSearchName(search)}}
          </a>
          <div class="dropdown-divider m-0"></div>
        </div>
        <div ng-if="searchBox.favorites.length > 0">
          <div class="dropdown-header">Favorite Searches</div>
          <div ng-if="searchBox.favorites && searchBox.favorites.length > 0">
            <a class="dropdown-item" href="" ng-repeat="fav in searchBox.favorites"
                ng-click="searchBox.favoriteSearch(fav)" title="{{fav.title}}">
              <i ng-if="searchBox.isFavoriteActive(fav)" class="fa fa-angle-double-right"></i> {{fav.name}} <span class="font-italic">({{fav.type}})</span>
            </a>
          </div>
          <div class="dropdown-divider m-0"></div>
        </div>
        <div ng-if="searchBox.recentSearches && searchBox.recentSearches.length > 0">
          <div class="dropdown-header">Recent Searches</div>
          <a class="dropdown-item" href="" ng-repeat="recent in searchBox.recentSearches"
              ng-click="searchBox.setFromRecent(recent)" title="{{searchBox.getRecentTitle(recent)}}">
            {{recent.term}} <span class="font-italic">{{searchBox.getRecentDetails(recent)}}</span>
          </a>
        </div>
        <div ng-if="!searchBox.recentSearches.length && !searchBox.favorites.length && searchBox.searchOptions.length <= 1" class="text-center">
          <small>Favorite searches and Recent searches will be added here. Search Away!</small>
        </div>
      </div>

      <input class="form-control border js-searchbox__typeahead"
          type="text"
          ng-model="searchBox.searchTerm"
          ng-change="searchBox.refreshAutocomplete()"
          placeholder="{{searchBox.getPlaceholderText()}}"
          data-provide="typeahead" />
      <div class="input-group-append">
        <button class="btn btn-secondary"
            type="button"
            ng-click="searchBox.clear()"
            title="Clear search">
          <i class="fa fa-times color-white"></i>
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search color-white"></i>
        </button>
      </div>
    </div>
  </form>
</div>
