<div class="c-searchresults position-absolute h-100 w-100 px-1 pb-1 ng-hide"
    ng-show="searchResults.loading || searchResults.results.length">
  <div class="card bg-secondary mt-1" ng-if="searchResults.loading">
    <div class="card-body">
      <span><i class="fa fa-fw fa-spin fa-spinner"></i> Loading results ...</span>
    </div>
  </div>
  <div class="card bg-secondary mt-1" ng-repeat="result in searchResults.results track by searchResults.track(result)">
    <resultcard result="result"></resultcard>
  </div>
</div>
