.layer-switcher {
  position: absolute;
  right: .5em;
  text-align: left;
  top: .5em;

  .panel {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    margin: 0;
    margin-top: 1px;
    padding: 0 5px;
  }

  &.shown .panel {
    display: block;
  }

  .layers-inner {
    background-color: #fff;
    background-image: url('../images/layers.png');
    background-position: 2px;
    background-repeat: no-repeat;
    border: 1px solid #ccc !important;
    border-radius: 2px;
    float: right;
    height: 38px;
    margin: 1px;
    width: 38px;
  }

  ul {
    list-style: none;
    margin: 0;
    max-height: 225px;
    overflow-y: auto;
  }

  li {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    label {
      color: #000;
      display: inline;
      text-shadow: none;
    }

    &.group {
      > label {
        font-weight: bold;
      }
    }
  }

  input {
    margin: 4px;
  }
}
