<table class="w-100">
  <tr>
    <td>
      <div class="custom-control custom-checkbox d-inline-block">
        <input type="checkbox" class="custom-control-input" id="showRotation" name="showRotation" ng-model="showRotation" ng-click="ctrl.toggleShowRotation()"/>
        <label class="custom-control-label" for="showRotation"> Rotation</label>
      </div>
    </td>
    <td class="w-100">
      <select class="custom-select" ng-model="rotationColumn" ng-change="ctrl.onRotationColumnChange()"
          title="Sets the data field used for bearing" ng-options="col.field as col.name for col in columns">
      </select>
    </td>
    <td>degrees</td>
  </tr>
</table>
