<div class="layerpicker-div">
  <select ng-if="!pickerCtrl.multiple()" ng-model="layer" ng-options="l.getId() for l in pickerCtrl.layersList"
    ng-change="pickerCtrl.layerPicked(layer)" class="layer-typeahead select2-container wide" ng-required="isRequired" style="display:none;"/>
  <select ng-if="pickerCtrl.multiple()" ng-model="layers" ng-options="l.getId() for l in pickerCtrl.layersList"
    ng-change="pickerCtrl.layersChanged(layers)" class="layer-typeahead select2-container wide" multiple/>
</div>
