<div id="layerControls">
  <div class="card">
    <div class="btn btn-secondary btn-block btn-sm" title="Style controls for the layer(s)"
        data-toggle="collapse" data-target="#layer-style"
        ng-click="vector.setOpenSection('#layer-style')">
      Style
    </div>
    <div id="layer-style" class="card-body collapse" data-parent="#layerControls">
      <vectorstylecontrols
          color="color"
          opacity="opacity"
          icon="icon"
          center-icon="centerIcon"
          icon-set="vector.iconSet"
          icon-src="vector.iconSrc"
          size="size"
          shape="shape"
          shapes="shapes"
          center-shape="centerShape"
          center-shapes="centerShapes"
          show-color-reset="vector.showColorReset">
      </vectorstylecontrols>

      <iconstylecontrols ng-if="vector.showRotationOption()" columns="columns" show-rotation="vector.showRotation" rotation-column="vector.rotationColumn"></iconstylecontrols>
      <uiswitch items="items" directive-function="vector.getShapeUI"></uiswitch>

      <div ng-if="vector.showReplaceStyle">
        <div class="custom-control custom-checkbox d-inline-block">
          <input type="checkbox" class="custom-control-input" id="replaceStyle" name="replaceStyle" ng-model="vector.replaceStyle" ng-change="vector.onReplaceStyleChange()"/>
          <label class="custom-control-label" for="replaceStyle"> Replace Feature Style</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card" ng-show="columns && items.length == 1">
    <div class="btn btn-secondary btn-block btn-sm" title="Configure how labels are displayed for the layer"
        data-toggle="collapse" data-target="#layer-label"
        ng-click="vector.setOpenSection('#layer-label')">
      Label
    </div>
    <div id="layer-label" class="card-body collapse" data-parent="#layerControls">
      <labelcontrols
          labels="labels"
          columns="columns"
          show-labels="showLabels"
          label-color="labelColor"
          label-size="labelSize">
      </labelcontrols>
    </div>
  </div>
  <div ng-if="lockable || vector.showRefresh" class="card">
    <div class="btn btn-secondary btn-block btn-sm" title="Configure the layer options"
        data-toggle="collapse" data-target="#layer-options"
        ng-click="vector.setOpenSection('#layer-options')">
      Options
    </div>
    <div id="layer-options" class="card-body collapse" data-parent="#layerControls">
      <div class="form-row align-items-center pb-1" ng-if="vector.showRefresh" title="Sets how often the layer will automatically refresh its data.">
        <div class="col-auto">
          Auto Refresh
        </div>
        <div class="col">
          <select class="custom-select" ng-model="vector.refresh" ng-change="vector.onRefreshChange()"
              ng-disabled="vector.lock"
              ng-options="val.label for val in vector.refreshOptions">
          </select>
        </div>
      </div>
      <div class="form-row align-items-center pb-1" ng-show="columns && items.length == 1" title="Choose a unique identifier column for the layer.">
        <div class="col-auto" ng-if="vector.showRefresh">
          Unique Identifier
        </div>
        <div class="col">
          <select class="custom-select" ng-model="vector.uniqueId" ng-change="vector.onUniqueIdChange()"
              ng-options="col as col.name for col in columns track by col.field">
              <option value="">-- None --</option>
          </select>
        </div>
      </div>
      <div class="form-row align-items-center pb-1" ng-if="vector.showAltitudeModes" title="Sets how the layer interprets altitude in 3D mode.">
        <div class="col-auto">
          Altitude Mode
        </div>
        <div class="col">
          <select class="custom-select" ng-model="vector.altitudeMode" ng-change="vector.onAltitudeModeChange()"
              ng-options="mode as vector.mapAltitudeModeToName(mode) for mode in vector.altitudeModes track by mode">
          </select>
        </div>
      </div>
      <div ng-if="lockable">
        <div class="custom-control custom-checkbox d-inline-block" title="Lock this layer to prevent data from changing">
          <input type="checkbox" class="custom-control-input" id="lockLayer" name="lockLayer" ng-model="vector.lock" ng-change="vector.onLockChange()"/>
          <label class="custom-control-label" for="lockLayer"> Lock Layer</label>
        </div>
      </div>
    </div>
  </div>
</div>
