<div class="d-flex flex-column flex-fill">
  <div class="modal-body">
    <div ng-show="recordui.recording">
      <div ng-show="recordui.recordingCritical">Please wait while the recording is created.</div>
      <loading-bar class="w-100" complete="recordui.progress" message="recordui.status"></loading-bar>
      <div ng-show="recordui.recordingCritical">
        <i class="fa fa-warning text-warning"></i>
        Do not resize your browser during this time, or the recording will be cancelled.
      </div>
    </div>
    <div ng-show="!recordui.recording">
      <div class="mb-2">Choose how you would like to save the recording, then click Record to begin.</div>
      <div ng-form="recordForm" class="container-fluid">
        <div class="row form-group">
          <label class="col-form-label col-3 text-right u-required">Title</label>
          <div class="col">
            <input class="form-control" type="text" name="title" ng-model="recordui.title" ng-maxlength="200" required/>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-form-label col-3 text-right u-required">Save to</label>
          <div class="col form-inline">
            <select class="custom-select" ng-model="recordui.persister" ng-options="value as key for (key, value) in recordui.persisters"/>
          </div>
        </div>
        <div class="row form-group"  ng-if="recordui.encoders.length > 1">
          <label class="col-form-label col-3 text-right u-required">Type</label>
          <div class="col form-inline">
            <select class="custom-select" ng-model="recordui.encoder"ng-options="e as recordui.getEncoderTitle(e) for e in recordui.encoders"/>
          </div>
          <span ng-bind-html="recordui.getEncoderDescription(recordui.encoder)"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="recordui.record()" ng-disabled="recordForm.$invalid || recordui.recording">
      <i class="fa" ng-class="recordui.recording ? 'fa-spin fa-spinner' : 'fa-check'"></i>
      Record{{recordui.recording ? 'ing' : ''}}
    </button>
    <button class="btn btn-secondary" ng-click="recordui.cancel()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
