.onboarding-popover {
  // sass-lint:disable no-vendor-prefixes
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  max-height: 800px;
  max-width: 800px;
  min-height: 50px;
  min-width: 100px;
  position: absolute;
  text-align: left;
  white-space: normal;
  z-index: 100001;
}

.onboarding-popover.onboarding-top {
  margin-top: -10px;
}

.onboarding-popover.onboarding-right {
  margin-left: 10px;
}

.onboarding-popover.onboarding-bottom {
  margin-top: 10px;
}

.onboarding-popover.onboarding-left {
  margin-left: -10px;
}

.onboarding-popover.onboarding-centered {
  // sass-lint:disable no-vendor-prefixes
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.onboarding-arrow,
.onboarding-arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.onboarding-arrow {
  border-width: 11px;
}

.onboarding-arrow:after {
  border-width: 10px;
  content: '';
}

.onboarding-popover.onboarding-bottom .onboarding-arrow {
  border-bottom-color: #ccc;
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px;
}

.onboarding-popover.onboarding-bottom .onboarding-arrow:after {
  border-bottom-color: #fff;
  border-top-width: 0;
  content: ' ';
  margin-left: -10px;
  top: 1px;
}

.onboarding-popover.onboarding-top .onboarding-arrow {
  border-bottom-width: 0;
  border-top-color: #ccc;
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
}

.onboarding-popover.onboarding-top .onboarding-arrow:after {
  border-bottom-width: 0;
  border-top-color: #fff;
  bottom: 1px;
  content: ' ';
  margin-left: -10px;
}

.onboarding-popover.onboarding-left .onboarding-arrow {
  border-left-color: #ccc;
  border-right-width: 0;
  margin-top: -11px;
  right: -11px;
  top: 50%;
}

.onboarding-popover.onboarding-left .onboarding-arrow:after {
  border-left-color: #fff;
  border-right-width: 0;
  bottom: -10px;
  content: ' ';
  right: 1px;
}

.onboarding-popover.onboarding-right .onboarding-arrow {
  border-left-width: 0;
  border-right-color: #ccc;
  left: -11px;
  margin-top: -11px;
  top: 50%;
}

.onboarding-popover.onboarding-right .onboarding-arrow:after {
  border-left-width: 0;
  border-right-color: #fff;
  bottom: -10px;
  content: ' ';
  left: 1px;
}

.onboarding-popover-title {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 8px 14px;
  position: relative;
}

.onboarding-popover-content {
  padding: 7px 14px;
}

.onboarding-popover-content p {
  margin: 0;
}

.onboarding-popover-header {
  border-bottom: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  padding: 5px 10px;
}

.onboarding-popover-header.no-title {
  border-bottom: 0;
  margin-bottom: 0;
  padding: 5px 5px 0 0;
}

.onboarding-popover-footer {
  background-color: #f4f4f4;
  border-radius: 0 0 4px 4px;
  display: block;
  padding: 5px 10px;
  text-align: center;
}

.onboarding-button-container {
  float: right;
  margin-top: 8px;
}

.onboarding-button-container .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.onboarding-overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.onboarding-focus {
  // sass-lint:disable no-vendor-prefixes
  -moz-transition: none !important;
  -webkit-transition: none !important;
  pointer-events: none;
  transition: none !important;
  z-index: $overrides-modal-zindex - 1 !important;
}

.onboarding-step-info {
  float: left;
  font-size: .8em;
  font-style: italic;
}

.bits-onboarding-button-container {
  display: inline-block;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}

.bits-onboarding-step-info {
  font-size: .8em;
  font-style: italic;
  line-height: .8em;
}
