<div class="d-flex flex-column flex-fill">
  <div class="modal-body flex-fill d-flex u-overflow-y-hidden">
    <div class="d-flex flex-fill flex-column">
      <div>
        <ul class="nav nav-tabs flex-shrink-0" ng-show="showtabs">
          <li class="nav-item" ng-repeat="tab in tabs">
            <a class="nav-link" href ng-click="selector.setTab(tab.name)" ng-class="{active: activeTab == tab.name}">{{tab.name}}</a>
          </li>
        </ul>
      </div>
      <div class="d-flex flex-fill" list list-id="js-nav-icon__selectors"></div>
    </div>
  </div>
  <div class="modal-footer flex-shrink-0 d-flex justify-content-between">
      <div ng-if="selector.isValid()" class="d-flex align-items-center justify-content-center">
          <img class="img-fluid c-icon-picker__large-icon c-icon-picker__background rounded" ng-src="{{selector.getPath(selected.path)}}" />
    </div>
    <div>
      <button class="btn btn-primary" ng-click="selector.okay()" ng-disabled="!selector.isValid()" title="Confirm the icon selection">
        <i class="fa fa-check"></i>
        OK
      </button>
      <button class="btn btn-secondary" ng-click="selector.cancel()" title="Cancel">
        <i class="fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
