<ul class="menu">
  <li ng-repeat="menuItem in actions"
    ng-init="hasSubActions=menuItem.getItems;showSubMenu=isFlat;isSeparator=menuItem.isSeparator;isSeparatorHeader=menuItem.isSeparatorHeader;isAction=menuItem.getAction"
    class="menu-item"
    ng-class="{'menu-item-action':isAction,'dropdown-submenu':hasSubActions,'submenu':hasSubActions,'divider':isSeparator,'nav-header':isSeparatorHeader}"
    title="{{menuItem.getAction().getDescription()}}"
    ng-mouseenter="showSubMenu=hasSubActions"
    ng-mouseleave="showSubMenu=isFlat"
    ng-click="actionMenu.invoke(menuItem.getAction())">

    <!-- action item -->
    <span class="menu-item-hotkey" ng-if="menuItem.getAction().getHotkey()">({{menuItem.getAction().getHotkey()}})</span>
    <div class="ellipsis-text" style="display:inline;">
      <a class="unselectable" ng-if="!(isSeparator || isSeparatorHeader)">
        <span><i class="fa fa-fw" ng-class="menuItem.getAction().getIcon() || 'fa-indent color-light-gray'"></i></span>
        <span class="ellipsis-text" style="padding-right:5px;">{{menuItem.getName()}}</span>
      </a>
    </div>

    <span ng-if="isSeparatorHeader">{{menuItem.getName()}}</span>
    <ng-include src="path + '/views/menu/actionmenuitemlist.html'"
      class="menu-container shadowbox"
      ng-if="showSubMenu && hasSubActions"
      ng-init="actions = menuItem.getItems(); actionMenu.positionSubmenu()"></ng-include>
  </li>
</ul>
