<div>
  <div ng-show="areas && areas.length > 0" class="d-flex">
    <select class="custom-select flex-fill" ng-model="area" ng-options="area as area.get('title') for area in areas" required="true"></select>
    <popover class="float-right" ng-if="helpTitle && helpContent" x-title="helpTitle" x-content="helpContent" x-pos="'right'"></popover>
  </div>

  <div class="invalid-feedback d-block" ng-show="!areas || areas.length == 0">
    <i class="fa fa-warning text-warning"></i>
    <em>No areas available.</em>
  </div>
</div>
