<div>
  <div class="modal-body">
    <form class="user-area-form form-compact no-margin" ng-class="formClass" name="userAreaForm" ng-submit="ctrl.confirm()" novalidate>
      <div ng-form="areaTypeForm" class="form-compressed"
          ng-if="ctrl.canEditGeometry && ctrl.areaTypes.length > 1">
        <div class="btn-group">
          <button class="btn btn-secondary" type="button" title="{{ctrl.getAreaTypeTooltip(type)}}"
              ng-class="ctrl.areaType == type && 'active'"
              ng-click="ctrl.areaType = type"
              ng-repeat="type in ctrl.areaTypes">
            <i class="fa fa-fw" ng-class="ctrl.getAreaTypeIcon(type)"></i>
            {{ctrl.getAreaTypeName(type)}}
          </button>
        </div>
        <hr/>
      </div>

      <div ng-show="!ctrl.canEditGeometry">
        <i class="fa fa-info-circle"></i>
        Area edit is only available for box/polygon areas.
      </div>

      <div ng-form="areaForm">
        <div class="row mb-1">
          <label class="col-form-label col-3 text-right u-required">Name</label>
          <div class="col form-inline">
            <input name="name" class="form-control" type="text" placeholder="Enter Name" required ng-model="ctrl.name" ng-trim="true">
            <validation-message target="areaForm.name"></validation-message>
          </div>
        </div>

        <div class="row mb-1">
          <label class="col-form-label col-3 text-right">Longitude First</label>
          <div class="col form-inline">
            <input class="form-control" type="checkbox" name="lonFirst" ng-model="ctrl.lonFirst" ng-change="ctrl.onLonFirstChange()">
          </div>
        </div>

        <div ng-if="ctrl.areaType == 'bbox'">
          <div class="row mb-1">
            <label class="col-form-label col-3 text-right u-required">Corner 1</label>
            <position name="corner1" geom="ctrl.corner1" order="ctrl.coordOrder" x-form="corner1Form" show-label="false" map-support="false" hide-hint="true"></position>
          </div>
          <div class="row mb-1">
            <label class="col-form-label col-3 text-right u-required">Corner 2</label>
            <position name="corner2" geom="ctrl.corner2" order="ctrl.coordOrder" x-form="corner2Form" show-label="false" map-support="false" hide-hint="true"></position>
          </div>
        </div>

        <div ng-if="ctrl.areaType == 'circle'" ng-form="circleForm">
          <div class="row mb-1">
            <label class="col-form-label col-3 text-right u-required">Center</label>
            <position name="center" geom="ctrl.center" order="ctrl.coordOrder" x-form="circleForm" show-label="false" map-support="false" hide-hint="true"></position>
          </div>
          <div class="row mb-1">
            <label class="col-form-label col-3 text-right u-required">Radius</label>
            <div class="col form-inline">
              <input class="form-control" name="radius" type="number" step="any" min="0"
                  ng-min="1e-16"
                  ng-model="ctrl.radius"
                  ng-change="ctrl.updateArea()"
                  ng-required="ctrl.areaType == 'circle'">
              <select class="custom-select" ng-model="ctrl.radiusUnits" ng-change="ctrl.updateArea()" ng-options="unit for unit in ctrl.units"></select>
              <span class="invalid-feedback d-block" ng-show="(circleForm.radius.$error.required || circleForm.radius.$error.min) && circleForm.radius.$dirty">
                Radius must be greater than zero.
              </span>
            </div>
          </div>
        </div>

        <div ng-if="ctrl.areaType == 'polygon'" ng-form="polygonForm">
          <div class="row mb-1">
            <label class="col-form-label col-3 text-right u-required">Coordinates</label>
            <div class="col">
              <span class="ml-auto float-right">
                <popover title="'Entering Coordinates'" content="ctrl.customPopoverContent" pos="'right'"></popover>
              </span>
              <textarea class="col-11 form-control flex-fill" name="coordinates" rows="5" required placeholder="Enter Coordinates" ng-model="ctrl.coordinates" ng-change="ctrl.updateArea()"></textarea>
              <span class="invalid-feedback d-block" ng-if="ctrl.coordinates && !ctrl.area">
                <i class="fa fa-warning text-warning"></i>
                Coordinates must define a valid polygon.
              </span>
              <span class="invalid-feedback d-block" ng-if="ctrl.numInvalidCoords && ctrl.area">
                <i class="fa fa-warning text-warning"></i>
                <ng-pluralize count="ctrl.numInvalidCoords"
                    when="{'one': '{} coordinate could not be parsed.',
                           'other': '{} coordinates could not be parsed.'}">
                </ng-pluralize>
                Please verify the input text is formatted correctly.
              </span>
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" required ng-model="ctrl.area"/>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="ctrl.confirm()" ng-disabled="userAreaForm.$invalid">
      <i class="fa fa-check"></i>
      OK
    </button>
    <button type="button" class="btn btn-secondary" ng-click="ctrl.cancel()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>

