// Styles for the property-grid directive

.property-grid { //in intelbook
  height: 363px;
  width: 100%;

  .slick-viewport {
    overflow-x: hidden !important;
  }

  .slick-row {
    &.selected {
      background-color: #08c;
      color: #fff;
    }

    &:hover {
      background-color: #f5f5fc;
    }
  }

  .slick-cell {
    &:first-child {
      border-left: 1px dotted #c0c0c0;
    }

    .rgb {
      border: 1px solid #333;
      display: block;
      height: 18px;
      width: 18px;
    }
  }
}
