// Histogram Styles

.hist-group {
  .bar {
    shape-rendering: crispEdges;
  }

  path {
    fill: none;
    stroke-width: 2;
  }

  .line-point {
    fill: #fff;
    stroke-width: 2;
  }

  .bar:hover {
    @include opacity(.4);
  }
}

.timeline-hist-tooltip,
.hist-tooltip {
  @include border-radius($os-border-radius - 1);
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
  z-index: 2000;
}

.timeline-hist-tooltip::after,
.hist-tooltip::after {
  color: rgba(0, 0, 0, .8);
  content: '\25bc';
  display: block;
  font-size: 10px;
  line-height: 1;
  margin-left: -5px;
  margin-top: 2px;
  position: absolute;
  text-align: center;
  width: 100%;
}

// Timeline Styles

.svg-timeline {
  @include unselectable();
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.svg-timeline-main {
  @include calc(height, '100% - 11px');
  width: 100%;
}

.svg-timeline g.tick {
  pointer-events: none;
}

.line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.brush,
.hold,
.load,
.slice,
.considered {
  .left {
    text-anchor: end;
  }

  .background {
    display: none;
  }

  .extent {
    shape-rendering: crispEdges;
  }
}

.brush-window .extent {
  fill: #24e;
  fill-opacity: .2;
  stroke: #02b;
}

.brush-window .fade-right {
  fill-opacity: .2;
}

.brush-window .fade-left {
  fill-opacity: .2;
}

.arrow-window,
.brush-window .resize polygon {
  fill: #02b;
}

.brush-loop .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #008000;
}

.arrow-loop,
.brush-loop .resize polygon {
  fill: #008000;
}

.skip-hold-brushes {
  .button {
    cursor: pointer;
    fill: #f00;
    font-size: 8pt;
    font-weight: bold;
  }
}

.skip-hold-brushes .brush .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #008000;
}

.skip-hold-brushes .hold .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #000;
}

.skip-hold-brushes .load .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #ff0;
}

.skip-hold-brushes .slice .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #f92;
}

.skip-hold-brushes .considered .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #ff0;
  stroke-dasharray: 5, 5;
}

.arrow-loop,
.skip-hold-brushes .brush .resize polygon {
  fill: #008000;
}

.arrow-loop,
.skip-hold-brushes .hold .resize polygon {
  fill: #000;
}

.arrow-loop,
.skip-hold-brushes .load .resize polygon {
  fill: #ff0;
}

.arrow-loop,
.skip-hold-brushes .slice .resize polygon {
  fill: #f92;
}

.arrow-loop,
.skip-hold-brushes .considered .resize polygon {
  fill: #ff0;
}

.timeline-background {
  @include grab-cursor();
  fill-opacity: 0;
}

.timeline-background.dragging {
  @include grabbing-cursor();
}

.no-margins {
  margin: 0;
}

.btn-separator {
  border-left: 1px solid #aaa;
  border-right: 1px solid #333;
  color: #aaa;
  display: inline-block;
  height: 19px;
  position: relative;
  top: 6px;
}

// * Timeline Styles
// *******************************************

.timeline-container {
  @include box-sizing(border-box);
  background-color: #666;
  border-bottom: 1px ridge #333;
  border-top: 1px ridge #333;
  width: 100%;
  z-index: 200;
}

.timeline-container-expanded {
  height: 190px;
}

.timeline-container-collapsed {
  height: 95px;
}

.timeline-controls {
  text-align: center;

  .time-display {
    line-height: 24px;
    position: absolute;

    &.time-start {
      left: 5px;
    }

    &.time-end {
      right: 5px;
    }
  }

  .btn {
    height: 26px;

    &.addon {
      height: 26px;
    }

    .fa {
      font-size: 1em;

      &.fa-fw {
        width: 1em;
      }
    }
  }

  > .btn {
    min-width: 23px;
  }
}

.tile-axis text {
  display: none;
}

.load {
  color: #ff0;
}

.slice {
  color: #f92;
}

.considered {
  color: #ff0;
}

.brush-select .extent {
  fill: #0ff;
  fill-opacity: .2;
  pointer-events: none;
  stroke: #0ff;
}

.brush-select .resize {
  pointer-events: none;

  polygon {
    display: none;
  }
}

.brush-load .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #ff0;
}

.arrow-load,
.brush-load .resize polygon {
  fill: #ff0;
}

.brush-slice .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #f92;
}

.arrow-slice,
.brush-slice .resize polygon {
  fill: #f92;
}

.brush-considered .extent {
  fill: none;
  pointer-events: stroke;
  stroke: #ff0;
}

.arrow-considered,
.brush-considered .resize polygon {
  fill: #ff0;
}

.axis {
  text {
    fill: #fff;
    font: 10px sans-serif;
  }

  path,
  line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #fff;
  }

  &.tile-axis {
    path,
    line {
      stroke: #bbb !important;
    }
  }
}

.axis-bg {
  fill: #333;
  fill-opacity: .8;
  pointer-events: none;
}

text {
  fill: #fff;
}

.fps-slider {
  vertical-align: middle;

  .slider-container {
    display: inline-block;
    margin-bottom: 1px;
    width: 100px;
  }

  .fps-text {
    display: inline-block;
    min-width: 3.5em;
    text-align: center;
  }
}

.play-icon::before {
  color: #52ce52;
  content: '\f04b';
}

.view-icon::before {
  color: #39f;
  content: '\f06e';
}

.pause-icon::before {
  color: #d6d625;
  content: '\f04c';
}

// * Slider styles
// *******************************************

.ui-slider {
  @include border-radius(0);
  height: .4em;
}

.ui-slider-handle {
  @include border-radius(0);
  border: 1px solid #444 !important;
  height: .8em !important;
  margin-left: -.2em !important;
  width: .4em !important;
}
