<div class="basic-info" ng-form="basicInfoForm" style="margin-bottom:5px;">
  <div class="control-group" ng-if="columns.length > 0">
    <label class="control-label">Title Column:</label>
    <div class="controls">
      <select class="wide" ng-model="config.titleColumn" ng-change="info.updateSampleText()"
          ng-options="col as col.name for col in columns">
        <option value="">-- Custom --</option>
      </select>
      <popover class="pull-right" ng-if="help.titleColumn" x-title="'Title Column'" x-content="help.titleColumn" x-pos="'right'"></popover>

      <div class="nowrap" ng-if="config.titleColumn" title="{{info.titleSample}}">
        <em>Sample: {{info.titleSample}}</em>
      </div>
    </div>
  </div>
  <div class="control-group" ng-if="!config.titleColumn"
      ng-class="{'error':basicInfoForm.title.$invalid && basicInfoForm.title.$dirty}">
    <label class="control-label">Title:</label>
    <div class="controls">
      <input class="wide" type="text" name="title" ng-model="config.title" ng-required="true" ng-maxlength="128"/>
      <popover class="pull-right" ng-if="help.title" x-title="'Title'" x-content="help.title" x-pos="'right'"></popover>

      <span class="help-inline" ng-if="basicInfoForm.title.$error.required">Title is required!</span>
      <span class="help-inline" ng-if="basicInfoForm.title.$error.maxlength">Title is too long!</span>
    </div>
  </div>

  <div class="control-group" ng-if="columns.length > 0">
    <label class="control-label">Description Column:</label>
    <div class="controls">
      <select class="wide" ng-model="config.descColumn" ng-change="info.updateSampleText()"
          ng-options="col as col.name for col in columns">
        <option value="">-- Custom --</option>
      </select>
      <popover class="pull-right" ng-if="help.descColumn" x-title="'Description Column'" x-content="help.descColumn" x-pos="'right'">
      </popover>

      <div class="nowrap" ng-if="config.descColumn" title="{{info.descSample}}">
        <em>Sample: {{info.descSample}}</em>
      </div>
    </div>
  </div>
  <div class="control-group" ng-if="!config.descColumn"
      ng-class="{'error':basicInfoForm.description.$invalid && basicInfoForm.description.$dirty}">
    <label class="control-label">Description:</label>
    <div class="controls">
      <input class="wide" type="text" name="description" ng-model="config.description" ng-maxlength="1000"/>
      <popover class="pull-right" ng-if="help.description" x-title="'Description'" x-content="help.description" x-pos="'right'"></popover>

      <span class="help-inline" ng-if="basicInfoForm.description.$error.maxlength">Description is too long!</span>
    </div>
  </div>

  <div class="control-group" ng-if="columns.length > 0">
    <label class="control-label">Tags Column:</label>
    <div class="controls">
      <select class="wide" ng-model="config.tagsColumn" ng-change="info.updateSampleText()"
          ng-options="col as col.name for col in columns">
        <option value="">-- Custom --</option>
      </select>
      <popover class="pull-right" ng-if="help.tagsColumn" x-title="'Tags Column'" x-content="help.tagsColumn" x-pos="'right'">
      </popover>

      <div class="nowrap" ng-if="config.tagsColumn" title="{{info.tagsSample}}">
        <em>Sample: {{info.tagsSample}}</em>
      </div>
    </div>
  </div>
  <div class="control-group" ng-if="!config.tagsColumn"
      ng-class="{'error':basicInfoForm.tags.$invalid && basicInfoForm.tags.$dirty}">
    <label class="control-label">Tags:</label>
    <div class="controls">
      <input class="wide" type="text" name="tags" ng-model="config.tags" ng-maxlength="1000"
          placeholder="e.g. UK, Airports"/>
      <popover class="pull-right" ng-if="help.tags" x-title="'Tags'" x-content="help.tags" x-pos="'right'"></popover>

      <span class="help-inline" ng-if="basicInfoForm.tags.$error.maxlength">Tags field is too long!</span>
    </div>
  </div>
</div>
