<div ng-form="basicInfoForm">
  <div class="row mt-1" ng-if="columns.length > 0">
      <label class="col-form-label col-4 text-right">Title Column</label>
    <div class="col form-inline">
      <select class="custom-select col-11" ng-model="config.titleColumn" ng-change="info.updateSampleText()" ng-options="col as col.name for col in columns">
        <option value="">-- Custom --</option>
      </select>
      <span class="ml-auto">
        <popover class="float-right" ng-if="help.titleColumn" x-title="'Title Column'" x-content="help.titleColumn" x-pos="'right'"></popover>
      </span>
    </div>
  </div>
  <div class="row" ng-if="columns.length > 0">
    <label class="col-form-label col-4"></label>
    <div class="col">
      <div ng-if="config.titleColumn" title="{{info.titleSample}}">
        <em>Sample: {{info.titleSample}}</em>
      </div>
    </div>
  </div>

  <div class="row mt-1" ng-if="!config.titleColumn">
    <label class="col-form-label col-4 text-right u-required">Title</label>
    <div class="col form-inline">
      <input class="form-control col-11" type="text" name="title" ng-model="config.title" ng-required="true" ng-maxlength="128"/>
      <span class="ml-auto">
        <popover class="float-right" ng-if="help.title" x-title="'Title'" x-content="help.title" x-pos="'right'"></popover>
      </span>
      <validation-message target="basicInfoForm.title"></validation-message>
    </div>
  </div>

  <div class="row mt-1" ng-if="columns.length > 0">
    <label class="col-form-label col-4 text-right">Description Column</label>
    <div class="col form-inline">
      <select class="custom-select col-11" ng-model="config.descColumn" ng-change="info.updateSampleText()" ng-options="col as col.name for col in columns">
        <option value="">-- Custom --</option>
      </select>
      <span class="ml-auto">
        <popover class="float-right" ng-if="help.descColumn" x-title="'Description Column'" x-content="help.descColumn" x-pos="'right'"></popover>
      </span>
    </div>
  </div>
  <div class="row" ng-if="columns.length > 0">
    <label class="col-form-label col-4"></label>
    <div class="col">
      <div ng-if="config.descColumn" title="{{info.descSample}}">
        <em>Sample: {{info.descSample}}</em>
      </div>
    </div>
  </div>

  <div class="row mt-1" ng-if="!config.descColumn">
    <label class="col-form-label col-4 text-right">Description</label>
    <div class="col form-inline">
      <input class="form-control col-11" type="text" name="description" ng-model="config.description" ng-maxlength="1000"/>
      <span class="ml-auto">
        <popover class="float-right" ng-if="help.description" x-title="'Description'" x-content="help.description" x-pos="'right'"></popover>
      </span>
      <validation-message target="basicInfoForm.description"></validation-message>
    </div>
  </div>

  <div class="row mt-1" ng-if="columns.length > 0">
    <label class="col-form-label col-4 text-right">Tags Column</label>
    <div class="col form-inline">
      <select class="custom-select col-11" ng-model="config.tagsColumn" ng-change="info.updateSampleText()" ng-options="col as col.name for col in columns">
        <option value="">-- Custom --</option>
      </select>
      <span class="ml-auto">
        <popover class="float-right" ng-if="help.tagsColumn" x-title="'Tags Column'" x-content="help.tagsColumn" x-pos="'right'"></popover>
      </span>
    </div>
  </div>
  <div class="row" ng-if="columns.length > 0">
    <label class="col-form-label col-4"></label>
    <div class="col">
      <div ng-if="config.tagsColumn" title="{{info.tagsSample}}">
        <em>Sample: {{info.tagsSample}}</em>
      </div>
    </div>
  </div>

  <div class="row mt-1" ng-if="!config.tagsColumn">
    <label class="col-form-label col-4 text-right">Tags</label>
    <div class="col form-inline">
      <input class="form-control col-11" type="text" name="tags" ng-model="config.tags" ng-maxlength="1000" placeholder="e.g. UK, Airports"/>
      <span class="ml-auto">
        <popover class="float-right" ng-if="help.tags" x-title="'Tags'" x-content="help.tags" x-pos="'right'"></popover>
      </span>
      <validation-message target="basicInfoForm.tags"></validation-message>
    </div>
  </div>
</div>
