<form name="choiceForm" class="container-fluid" novalidate>
  <div>The selected file already exists in {{application}}.</div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="fileExistsRadios" ng-model="confirmValue" value="saveNew">
      Save as new file and import
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="fileExistsRadios" ng-model="confirmValue" value="replace">
      Replace (use previous import settings)
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="fileExistsRadios" ng-model="confirmValue" value="replaceAndImport">
      Replace and re-import
    </label>
  </div>
</form>
