<div class="d-flex flex-column flex-fill">
  <div class="modal-body">
    <div class="mb-2">
      Your browser does not support storing local files. Locally imported data will be discarded when
      {{ctrl.application}} is closed<span ng-if="ctrl.supportsUpload"> unless you choose to upload the file to a remote server</span>.
    </div>

    <div class="card bg-secondary u-bg-secondary-text mb-2" ng-if="ctrl.supportsUpload">
      <div class="card-header">Please choose an option</div>
      <form class="card-body container" name="fileSupportForm" ng-submit="ctrl.confirm()" novalidate>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="fileSupportRadios" id="fileSupportRadios1"
              ng-model="ctrl.choice" value="local">
          <label class="form-check-label" for="fileSupportRadios1">
            <span class="font-weight-bold">Load the file locally.</span> Loaded data will be discarded when {{ctrl.application}} is closed.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="fileSupportRadios" id="fileSupportRadios2"
              ng-model="ctrl.choice" value="upload">
          <label class="form-check-label" for="fileSupportRadios2">
            <span class="font-weight-bold">Upload the file.</span> The file will be stored remotely so it can be retrieved the next time
            {{ctrl.application}} is opened.
          </label>
        </div>
      </form>
    </div>

    <h5>Troubleshooting</h5>
    <div class="form-group">
      To store local files in the browser, please verify you are using a modern browser (we recommend
      Chrome 35+ or Firefox 31+), have cookies enabled, and are not in a private/incognito browsing session.
      This error can also be caused by browser/system misconfiguration or a corrupt browser profile.
    </div>
    <div class="form-group">If you need assistance, please contact <span class="font-weight-bold" ng-bind-html="ctrl.supportContact"></span>.</div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="ctrl.confirm()">
      <i class="fa fa-check"></i>
      OK
    </button>
    <button type="button" class="btn btn-secondary" ng-click="ctrl.cancel()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
