<form name="choiceForm" class="container-fluid" novalidate>
  <div>The provided URL is already saved as the data source:</div>
  <div class="text-info u-word-break">{{current}}</div>

  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="urlExistsRadios" ng-model="confirmValue" value="activate">
      Activate the current source
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="urlExistsRadios" ng-model="confirmValue" value="reimport">
      Reimport the current source
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="urlExistsRadios" ng-model="confirmValue" value="createNew">
      Create a new source and import the URL
    </label>
  </div>
</form>
