// Tri-state (a.k.a Schrodinger) checkbox styles


.tristate {
  // this is a tricky set of rules to style the tri-state checkbox
  // if the @include are moved to the top, we lose the gradient, so the lint check is turned off
  // see THIN-6979
  // sass-lint:disable mixins-before-declarations

  background: #fcfff4;
  cursor: pointer;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  height: 13px;
  margin-left: 15px auto;
  position: relative;
  top: 0;
  vertical-align: middle;
  width: 13px;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px #fff, 0 1px 3px rgba(0, 0, 0, .5));
  @include background(linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%));


  label {
    background: transparent;
    content: '';
    display: inline-block;
    height: 13px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 13px;
  }
}

.tristate.disabled {
  opacity: .4;
}

.tristate-off label {

  &::after {
    @include filter(alpha(opacity = 0));
    @include opacity(0);
    @include rotate(-45deg);
    border: 3px solid #555;
    border-right: 0;
    border-top: 0;
    content: '';
    height: 2.5px;
    position: absolute;
    width: 6px;
  }

  &:hover::after {
    @include filter(alpha(opacity = 30));
    @include opacity(.3);
  }
}

.tristate-on label {
  @include rotate(-45deg);
  border: 3px solid #555;
  border-right: 0;
  border-top: 0;
  height: 2.5px;
  width: 6px;
}

.tristate-both label {
  @include border-radius(2px);
  background: #555;
  height: 9px;
  left: 2px;
  top: 2px;
  width: 9px;
}
