$filter-section-color: #777;
$filter-background-light-color: #555;
$filter-background-dark-color: #444;
$filter-background-highlight-color: #999;

.filter-import__section {
  background-color: $filter-section-color;
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0 5px 5px;
}

.filter-import__found-items {
  border: 1px solid #000;
  margin-bottom: 5px;
}

.filter-import__found-item {
  padding: 5px;

  &:nth-child(odd) {
    background: $filter-background-light-color;
  }

  &:nth-child(even) {
    background: $filter-background-dark-color;
  }
}

.filter-import__layer-picker {
  margin-bottom: 5px;
}

.filter-import__not-found-items {
  border: 1px solid #000;
}

.filter-import__not-found-item {
  padding: 2px 5px 5px;

  &:nth-child(odd) {
    background: $filter-background-light-color;
  }

  &:nth-child(even) {
    background: $filter-background-dark-color;
  }
}

.filter-import__arrow-separator {
  position: relative;
  top: -5px;
  width: 15%;
}

.filter-import__left-text {
  display: inline-block;
  line-height: 15px;
  vertical-align: middle;
  width: calc(100% - 150px);
}

.filter-import__right-text {
  display: inline-block;
  width: 140px;
}

.filter-import__match-picker {
  cursor: pointer;
  float: right;
  text-decoration: underline;
}

.filter-import__remove {
  float: right;
  margin-left: 10px;
}

.filter-import__filter-text {
  @include transition(background 2000ms ease);
  padding-left: 20px;

  &.ng-enter,
  &.ng-hide,
  &.ng-leave.ng-leave-active {
    background: $filter-background-highlight-color;
  }

  &.ng-leave,
  &.ng-show,
  &.ng-enter.ng-enter-active {
    background: $filter-background-light-color;
  }
}
