.column-mapping-settings {
  height: 100%;

  .btn {
    margin-bottom: 5px;
  }
}

.column-mapping-settings__buttons {
  margin-top: 5px;
}

.column-mapping-settings__import-buttons {
  float: right;
}
