@each $color, $value in $theme-colors {
  .alert-#{$color},
  .badge-#{$color},
  .bg-#{$color},
  .btn-#{$color},
  .list-group-item-#{$color} {
    color: color-yiq($value);
  }
}

// The gradients are nice for buttons but bad for alerts
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    background-color: $value;
    background-image: none;
  }

  .btn-#{$color} {
    border-color: $dark;
  }
}

.alert-danger,
.badge-danger,
.bg-danger,
.btn-danger,
.list-group-item-danger {
  background: repeating-linear-gradient(45deg, lighten($danger, 2.5%), lighten($danger, 2.5%) 10px, $danger 10px, $danger 20px);
}

.text-danger {
  color: $body-color !important;
  font-weight: bold;
}
