// confirm directive styles
// *******************************************/

.confirm-window {
  .confirm-text {
    font-size: 13px;
  }

  .window-footer .btn {
    min-width: 50px;
  }
}

.confirm-form {
  height: 100%;
}
