.controls-help {
  .control-column {
    float: left;
    padding: 5px;
    width: 390px;

    .control-section {
      padding-bottom: 10px;

      .control-header {
        min-height: initial;
      }

      .control-line {
        font-weight: normal;
        line-height: 31px;
        vertical-align: top;

        .control-text {
          text-align: right;
        }

        .control-key {
          background-color: #f7f7f7;
          border: 1px solid #ccc;
          border-radius: 3px;
          box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
          color: #333;
          display: inline-block;
          font-family: inherit;
          font-size: 13px;
          line-height: 20px;
          margin: 0 .1em;
          min-width: 1em;
          padding: .1em .6em;
          text-align: center;
          text-shadow: 0 1px 0 #fff;
        }

        .control-mouse {
          height: 31px;
        }

        .control-drag {
          font-size: 23px;
          vertical-align: middle;
        }
      }
    }
  }
}
