// * Date Time component styles
// ************************************************************/

#ui-datepicker-div {
  z-index: 11000;
}

.wheel-date {
  display: inline-block;
  margin: 0;
}

.date-time {
  input {
    // sass-lint:disable no-vendor-prefixes
    -webkit-max-logical-width: 32px;
    max-width: 32px;
  }

  .date-picker {
    max-width: 85px;
    width: 85px;
  }
}

.any-date {
  .inline {
    display: inline-table;
  }

  .checkbox {
    padding: 0 0 0 25px;
  }
}

.duration-help {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}
