<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body d-flex flex-column flex-fill">
    <div class="alert alert-danger animate-fade flex-shrink-0" ng-if="addData.showServerAlert">
      <button class="close" type="button" ng-click="addData.dismissServerAlert()">
        <i class="fa fa-times"></i>
      </button>
      <span>
        Some servers failed to load and their layers will not be available. See the
        <span class="important-link" ng-click="openAlerts()">alerts</span> or
        <span class="important-link" ng-click="openServers()">servers</span>
        windows for details.
      </span>
    </div>

    <div class="container flex-shrink-0 p-0">
      <div class="form-group row">
        <div class="col-6">
          <div class="input-group">
            <input class="form-control js-input-search o-add-data__search" ng-model="addData.term" ng-change="addData.search()" placeholder="Search available layers"/>
            <div class="input-group-append">
              <button class="btn btn-secondary" ng-click="addData.clearSearch()" title="Clear the search term">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col text-right">
          <button class="btn btn-secondary" ng-click="openServers()" title="Add, edit, and remove servers providing data to the application">
            <i class="fa fa-database"></i> Manage Servers
          </button>
          <button class="btn btn-primary o-add-data__open-button" ng-click="addData.launchFileImport()" title="Open a local file or URL"
              ng-class="{'focus': addData.isTreeEmpty()}">
            <i class="fa fa-folder-open"></i> Open File/URL
          </button>
        </div>
      </div>
      <div class="row" ng-hide="filterName">
        <label class="col-auto col-form-label">Group By</label>
        <select class="custom-select col-3" ng-model="addData.view" ng-change="addData.onGroupByChanged()"
            ng-options="key for (key, value) in addData.views"/>
      </div>

      <div ng-show="filterName">
        <button class="btn btn-outline-secondary" ng-click="addData.clearFilter()">
          <i class="fa fa-times text-danger"></i>
          Clear Filter:
          <em>{{filterName}}</em>
        </button>
      </div>
    </div>

    <div class="d-flex flex-fill mt-1">
      <slicktree class="border col p-0 o-add-data__slicktree" x-data="providers" checkbox-class="c-toggle-switch" checkbox-tooltip="Activates or deactivates the layer"
        selected="selected" disable-folders="true"></slicktree>
      <div class="border col ml-1 p-2 u-overflow-y-auto" ng-bind-html="addData.getInfo()"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="addData.close()">
      <i class="fa fa-times"></i> Close
    </button>
  </div>
</div>
