<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body">
    <span ng-hide="ctrl.alertArray.length">There are no alerts to view.</span>
    <div ng-show="ctrl.alertArray.length">
      <div class="alert" ng-repeat="alert in ctrl.alertArray"
          ng-class="{'Error':'alert-danger','Warning':'alert-warning','Success':'alert-success','Info':'alert-info'}[alert.severity]">
        <span class="float-right">{{alert.time}}</span>
        <span><i class="fa" ng-class="{'Error':'fa-ban','Warning':'fa-warning','Success':'fa-check','Info':'fa-info-circle'}[alert.severity]"></i>
          <strong>{{alert.severity}}</strong></span>
        <div ng-bind-html="alert.msg | alertlink"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="custom-control custom-checkbox" title="Enable/disable popup alert messages">
      <input id="alerts__show-popups" class="custom-control-input" type="checkbox" ng-checked="ctrl.showAlertPopups" ng-click="ctrl.toggleAlertPopups()"/>
      <label for="alerts__show-popups" class="custom-control-label">Show Popups</label>
    </div>

    <button title="Clear all alerts" type="button" class="ml-auto btn btn-secondary" ng-click="ctrl.clearAlerts()" ng-disabled="ctrl.alertArray.length <= 0">
      <i class="fa fa-times"></i>
      Clear Alerts
    </button>
  </div>
</div>
