<div class="time-window window-content-wrapper">
  <div class="window-content">
    <form name="animationForm" class="time-window-form form-horizontal">
      <div class="control-group">
	      <span class="pull-right"><popover data-title="Fade" data-content="fadeTip" data-pos="'right'"></popover></span>
        <label class="checkbox">
          <input name="auto" type="checkbox" ng-model="fade" ng-change="animationCtrl.onFadeChange()">
          Fade in/out features as the timeline moves
        </label>
      </div>
      <hr/>
      <div class="control-group">
        <label class="checkbox">
          <input name="manual" type="checkbox" ng-model="autoLoop">
          Auto configure the animation timeframe
        </label>
      </div>
      <div class="control-group">
        <label class="control-label loop" title="Animation range start">Start:</label>
        <div class="controls">
          <span class="pull-right"><popover data-title="Start" data-content="loopStartTip" data-pos="'right'"></popover></span>
          <date-time value="loopStart" disabled="autoLoop" hidecontrols="true"></date-time>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label loop" title="Looped range end">End:</label>
        <div class="controls">
          <span class="pull-right"><popover data-title="End" data-content="loopEndTip" data-pos="'right'"></popover></span>
          <date-time value="loopEnd" disabled="autoLoop" hidecontrols="true"></date-time>
        </div>
      </div>
      <div ng-if="animationCtrl.hasMultipleRanges()">
        <i class="fa fa-warning orange-icon"></i>
        The timeline currently has multiple animation ranges. Accepting changes on this form will override them.
      </div>
      <hr/>
      <div class="control-group">
        <label class="checkbox">
          <input name="auto" type="checkbox" ng-model="autoConfig" ng-change="animationCtrl.onAutoChange()">
          Auto configure the window, skip, tiles, and fade from the loaded range
        </label>
      </div>
      <div class="control-group">
        <span class="pull-right"><popover data-title="Tiles" data-content="tilesTip" data-pos="'right'"></popover></span>
        <label class="control-label" title="The tile duration">Tiles:</label>
        <div class="controls">
          <select name="durationbox" required ng-disabled="autoConfig" class="small" ng-model="duration" ng-options="value for value in durations"></select>
        </div>
      </div>
      <div class="control-group">
        <span class="pull-right"><popover data-title="Window" data-content="windowTip" data-pos="'right'"></popover></span>
        <label class="control-label" title="The active window size">Window:</label>
        <div class="controls">
          <input name="windowInput" required ng-disabled="autoConfig" class="small" ng-model="window" type="number" min="1">
          <select name="windowUnitBox" required ng-disabled="autoConfig" class="small" ng-model="windowUnit" ng-options="value.label for value in units"></select>
        </div>
      </div>
      <div class="control-group">
        <span class="pull-right"><popover data-title="Skip" data-content="skipTip" data-pos="'right'"></popover></span>
        <label class="control-label" title="How far the active window skips forward/back per frame">Skip:</label>
        <div class="controls">
          <input name="skipInput" required ng-disabled="autoConfig" class="small" ng-model="skip" type="number" min="1">
          <select name="skipUnitBox" required ng-disabled="autoConfig" class="small" ng-model="skipUnit" ng-options="value.label for value in units"></select>
        </div>
      </div>
    </form>
  </div>
  <div class="window-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-disabled="animationForm.$invalid" ng-click="animationCtrl.accept()"><i class="fa fa-check lt-blue-icon"></i> OK</button>
      <button class="btn btn-default" ng-click="animationCtrl.cancel()"><i class="fa fa-ban red-icon"></i> Cancel</button>
    </div>
  </div>
</div>
