<div>
  <div class="modal-body">
    <div class="bd-header">
      <div class="float-left">
        <div class="search-box d-inline-block">
          <input class="search" type="text" ng-model="term" ng-change="ctrl.delaySearch()" placeholder="Search" />
          <span class="input-clear" ng-click="ctrl.clearTerm()" ng-show="term" title="Clear the search term">
            <i class="fa fa-times"></i>
          </span>
        </div>
        <span class="link" ng-if="ctrl.results && ctrl.results.length" ng-click="ctrl.clearAll()">Clear Filters</span>
      </div>
      <div class="add-data-group float-right">
        <button class="btn btn-secondary" ng-click="ctrl.launchFileImport()" title="Import a local file">
          <i class="fa fa-plus"></i>
          <span>Import File/URL</span>
        </button>
      </div>
    </div>
    <div class="bd-main d-flex" autoheight siblings=".bd-header">
      <div class="bd-results search-results panel float-right">
        <div class="box box-hover" ng-if="!ctrl.results || !ctrl.results.length">
          <span class="middle">No results. Try adjusting the filters on the left.</span>
        </div>
        <div class="box box-hover" ng-if="ctrl.loading">
          <span class="middle"><i class="fa fa-fw fa-spin fa-spinner"></i> Loading results ...</span>
        </div>
        <div class="box box-hover list-item" ng-repeat="result in ctrl.results track by ctrl.track(result)">
          <resultcard result="result"></resultcard>
        </div>
      </div>
      <slicktree x-data="facetTree" dbl-click-enabled="false" selected="selected" disable-folders="true" disable-selection="true"></slicktree>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" ng-click="ctrl.close()"><i class="fa fa-check"></i> Close</button>
  </div>
</div>
