<div class="flex-column d-flex u-flex-grow">
  <div class="modal-body flex-column d-flex u-flex-grow u-overflow-y-hidden">
    <div class="w-100">
      <div class="row mb-1" ng-show="!hideLayerChooser">
        <label class="col-form-label col-3">Layer</label>
        <div class="col form-inline">
          <select class="w-100 form-control" ng-model="layer" ng-change="comboCtrl.selectLayer(true)" ng-options="value.label for value in layers" required></select>
        </div>
      </div>
      <div class="row mb-1" ng-show="advanced">
        <label class="col-form-label col-3">Group By</label>
        <div class="col form-inline">
          <select class="w-100 form-control" ng-model="order" ng-change="comboCtrl.selectGroupBy(true)" ng-options="value for value in orders"></select>
        </div>
      </div>
      <div class="w-100 d-inline-block">
        <addfilter layer="layer" btn-text="Add Filter"></addfilter>
        <div class="float-right">
          <label class="checkbox inline" title="Advanced mode allows more specific combinations of layers, filters, and areas">
            <input type="checkbox" ng-model="advanced" ng-change="comboCtrl.advancedToggle(true)">
            Advanced
          </label>
          <button class="btn btn-secondary" ng-click="comboCtrl.toggle(false)" title="Expand all"><i class="fa fa-plus-square-o"></i></button>
          <button class="btn btn-secondary" ng-click="comboCtrl.toggle(true)" title="Collapse all"><i class="fa fa-minus-square-o"></i></button>
          <button class="btn btn-secondary" ng-click="comboCtrl.clear()" title="Clears all the checkboxes in the form">Reset</button>
        </div>
      </div>
    </div>
    <div class="w-100 u-flex-grow u-overflow-y-auto">
      <slicktree x-data="pivots" selected="selected" multi-select="true" disposable="true"></slicktree>
    </div>
  </div>
  <div class="modal-footer flex-shrink-0">
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="comboCtrl.apply()"><i class="fa fa-fw fa-check"></i>Apply</button>
      <button class="btn btn-secondary" ng-click="comboCtrl.close()"><i class="fa fa-fw fa-ban"></i>Close</button>
    </div>
    <button class="btn btn-secondary" ng-click="comboCtrl.launchExport()" ng-disabled="comboCtrl.exportDisabled()"><i class="fa fa-download"></i> Export</button>
    <div class="js-import-group btn-group" ng-right-click="comboCtrl.openImportMenu()">
      <button class="btn btn-secondary" ng-click="comboCtrl.import()"><i class="fa fa-sign-in"></i> Import</button>
      <button class="btn btn-secondary addon" ng-click="comboCtrl.openImportMenu()" ng-class="{active: importMenuOpen}"><i class="fa fa-chevron-down"></i></button>
    </div>
  </div>
</div>
