<div class="d-flex flex-column flex-fill">
  <div class="modal-body">
    <div ng-form="featureEditForm" novalidate>

      <div class="d-flex flex-row form-group">
        <label class="col-2 col-form-label text-right u-required">Name</label>
        <div class="col">
          <input class="form-control" type="text" name="name" ng-model="ctrl.name" ng-change="ctrl.updatePreview()" required="true"/>
          <validation-message target="featureEditForm.name"></validation-message>
        </div>
      </div>

      <div class="d-flex flex-row form-group mt-2">
        <label class="col-2 col-form-label text-right">Description</label>
        <div class="col">
          <tuieditor class="c-tui-editor__small" text="ctrl.description" edit="true" is-required="false" hide-wc="true"></tuieditor>
        </div>
      </div>

      <div ng-if="ctrl.customFoldersEnabled" class="d-flex flex-row form-group">
        <label class="col-2 col-form-label text-right">Folder</label>
        <div class="col">
          <select class="custom-select" ng-model="ctrl.folder"
            ng-options="folder.label for folder in ctrl.folderOptions"
            ng-change="ctrl.updateFolder()">
          </select>
        </div>
      </div>

      <div ng-if="ctrl.pointGeometry">
        <div class="d-flex flex-row form-group mt-2">
          <label class="col-2 col-form-label text-right u-required">Position</label>
          <position class="w-100" name="pointGeometry" geom="ctrl.pointGeometry" x-form="featureEditForm" show-label="false" map-support="true"></position>
        </div>
        <div class="d-flex flex-row form-group mt-2">
          <label class="col-2 col-form-label text-right">Altitude</label>
          <div class="col-4">
            <select class="custom-select" ng-model="ctrl.altitudeMode" ng-change="ctrl.updatePreview()"
                ng-options="mode as ctrl.mapAltitudeModeToName(mode) for mode in ctrl.altitudeModes track by mode">
            </select>
          </div>
          <div class="col-3">
            <input class="form-control" ng-disabled="ctrl.altitudeMode == 'clampToGround'"
                type="number" name="altitude" step="any"
                ng-change="ctrl.updatePreview()" ng-model="ctrl.altitude" />
          </div>
          <select class="custom-select col-2" ng-model="ctrl.altUnits"
              ng-disabled="ctrl.altitudeMode == 'clampToGround'"
              ng-options="unit for unit in ctrl.altUnitOptions"
              ng-change="ctrl.updatePreview()">
          </select>
        </div>
      </div>

      <div ng-if="!ctrl.pointGeometry" class="d-flex flex-row form-group">
        <label class="col-2 col-form-label text-right u-required">Altitude Mode</label>
        <div class="col-4">
          <select class="custom-select" ng-model="ctrl.altitudeMode" ng-change="ctrl.updatePreview()"
              ng-options="mode as ctrl.mapAltitudeModeToName(mode) for mode in ctrl.altitudeModes track by mode">
          </select>
        </div>
      </div>

      <div class="d-flex flex-row form-group mt-2" ng-if="ctrl.timeEditEnabled">
        <label class="col-2 col-form-label text-right">Time</label>
        <div class="col">
          <anydate initialstart="ctrl.startTimeISO" initialend="ctrl.endTimeISO" initialtype="ctrl.dateType" x-disabled="disabled" help="ctrl.timeHelp"></anydate>
        </div>
      </div>

      <div ng-if="ctrl.isEllipse()">
        <div class="d-flex flex-row form-group"  title="{{ctrl.help.semiMajor}}">
          <label class="col-2 col-form-label text-right u-required">Semi Major</label>
          <div class="d-inline-flex col">
            <input class="form-control col-4" type="number" name="semiMajor" ng-model="ctrl.semiMajor" ng-change="ctrl.onAxisChange()"
                min="{{ctrl.getSemiMajorMin()}}" step="any" required="true" />
            <select class="custom-select ml-2 col-2" ng-model="ctrl.semiMajorUnits" ng-change="ctrl.updatePreview()"
                ng-options="unit for unit in ctrl.units">
            </select>
            <popover  class="mx-2" data-title="'Semi-Major Axis'" content="ctrl.help.semiMajor" pos="'right'">
            </popover>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="col-2">
          </div>
          <span class="invalid-feedback d-block col mb-1" ng-if="featureEditForm.semiMajor.$error.min">
             {{ctrl.semiMinor ? 'Must be greater than or equal to Semi Minor' : 'Too low'}}!
          </span>
        </div>

        <div class="d-flex flex-row form-group" title="{{ctrl.help.semiMinor}}">
          <label class="col-2 col-form-label text-right u-required">Semi Minor</label>
          <div class="d-inline-flex col">
            <input class="form-control col-4" type="number" name="semiMinor" ng-model="ctrl.semiMinor" ng-change="ctrl.onAxisChange()"
                min="{{1e-16}}" step="any" required="true" />
            <select class="custom-select ml-2 col-2" ng-model="ctrl.semiMinorUnits" ng-change="ctrl.updatePreview()"
                ng-options="unit for unit in ctrl.units">
            </select>
            <popover class="mx-2" data-title="'Semi-Minor Axis'" content="ctrl.help.semiMinor" pos="'right'">
            </popover>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="col-2">
          </div>
          <validation-message target="featureEditForm.semiMinor"></validation-message>
        </div>
        <div class="d-flex flex-row form-group" title="{{ctrl.help.orientation}}">
          <label class="col-2 col-form-label text-right u-required">Orientation</label>
          <div class="d-inline-flex col">
            <input class="form-control col-4" type="number" name="orientation" ng-model="ctrl.orientation" ng-change="ctrl.updatePreview()" step="any" required="true" />
            <popover class="mx-2" data-title="'Ellipse Orientation'" content="ctrl.help.orientation" pos="'right'">
            </popover>
          </div>
        </div>
      </div>

      <div ng-if="!ctrl.isFeatureDynamic() && (ctrl.showIcon() || ctrl.showCenterIcon())">
        <div class="d-flex flex-row form-group" title="{{ctrl.help.iconRotation}}">
          <label class="col-2 col-form-label text-right">Icon Rotation</label>
          <div class="d-inline-flex col">
            <input class="form-control col-4" type="number" name="iconRotation" ng-model="ctrl.iconRotation" ng-change="ctrl.updatePreview()" step="any" />
            <div class="mx-2">degrees</div>
            <popover data-title="'Icon Rotation'" content="ctrl.help.iconRotation" pos="'right'">
            </popover>
          </div>
        </div>
      </div>

    </div>

    <div ng-attr-id="featureControls{{ctrl.uid}}" class="card">
      <div class="btn btn-secondary btn-block" title="Style controls for the layer(s)"
          data-toggle="collapse" data-target="#featureStyle{{ctrl.uid}}">
        Style Options
      </div>
      <div class="card-body collapse"
          data-parent="#featureControls{{ctrl.uid}}" id="featureStyle{{ctrl.uid}}">
        <vectorstylecontrols
            color="ctrl.color"
            opacity="ctrl.opacity"
            fill-color="ctrl.isPolygon() ? ctrl.fillColor : undefined"
            fill-opacity="ctrl.isPolygon() ? ctrl.fillOpacity : undefined"
            icon="ctrl.icon"
            center-icon="ctrl.centerIcon"
            show-center-icon="ctrl.showCenterIcon()"
            icon-set="ctrl.iconSet"
            icon-src="ctrl.iconSrc"
            show-icon="ctrl.showIcon()"
            size="ctrl.size"
            line-dash="ctrl.lineDash"
            shape="ctrl.shape"
            shapes="ctrl.pointGeometry ? ctrl.shapes : undefined"
            center-shape="ctrl.centerShape"
            center-shapes="ctrl.pointGeometry ? ctrl.centerShapes : undefined">
        </vectorstylecontrols>
      </div>

      <div ng-show="ctrl.labelColumns">
        <div class="btn btn-secondary btn-block" title="Configure how labels are displayed for the feature"
            data-toggle="collapse" data-target="#featureLabels{{ctrl.uid}}">
          Label Options
        </div>
        <div class="card-body collapse"
            data-parent="#featureControls{{ctrl.uid}}" id="featureLabels{{ctrl.uid}}">
          <labelcontrols
              labels="ctrl.labels"
              columns="ctrl.labelColumns"
              show-labels="ctrl.showLabels"
              label-color="ctrl.labelColor"
              label-size="ctrl.labelSize">
          </labelcontrols>
        </div>
      </div>

      <div class="btn btn-secondary btn-block" title="Options for creating rings around the feature"
          data-toggle="collapse" data-target="#rings{{ctrl.uid}}">
        {{ctrl.ringTitle}} Options
      </div>
      <div class="card-body collapse" data-parent="#featureControls{{ctrl.uid}}" id="rings{{ctrl.uid}}">
        <ringoptions options="ctrl.ringOptions"></ringoptions>
      </div>

      <div list list-id="optionsList{{ctrl.uid}}"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.accept()" ng-disabled="featureEditForm.$invalid">
      <i class="fa fa-check"></i>
      OK
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
