<div class="window-content-wrapper">
  <div class="window-content no-pad no-footer">
    <ul class="nav nav-tabs">
      <li class="first" ng-class="{active: tab == 'layers'}"><a ng-click="tab = 'layers'">Layers</a></li>
      <li ng-class="{active: tab == 'areas'}"><a ng-click="tab = 'areas'">Areas</a></li>
      <li ng-class="{active: tab == 'filters'}"><a ng-click="tab = 'filters'">Filters</a></li>
      <li ng-class="{active: tab == 'places'}"><a ng-click="tab = 'places'">Places</a></li>
    </ul>

    <div class="tab-content" autoheight siblings=".nav-tabs">
      <div class="layers-tab" ng-if="tab == 'layers'" style="height:100%">
        <layers></layers>
      </div>
      <div class="areas-tab" ng-if="tab == 'areas'" style="height:100%">
        <areas></areas>
      </div>
      <div class="filters-tab" ng-if="tab == 'filters'" style="height:100%">
        <filters></filters>
      </div>
      <div class="places-tab" ng-if="tab == 'places'" style="height:100%">
        <places></places>
      </div>
    </div>
  </div>
</div>
