<div class="d-flex flex-fill w-100">
  <div class="modal-body d-flex flex-column flex-fill">
    <ul class="nav nav-tabs flex-shrink-0">
      <li class="nav-item"><a href class="nav-link" ng-click="tab = 'layers'" ng-class="{active: tab == 'layers'}">Layers</a></li>
      <li class="nav-item"><a href class="nav-link" ng-click="tab = 'areas'" ng-class="{active: tab == 'areas'}">Areas</a></li>
      <li class="nav-item"><a href class="nav-link" ng-click="tab = 'filters'" ng-class="{active: tab == 'filters'}">Filters</a></li>
      <li class="nav-item"><a href class="nav-link" ng-click="tab = 'places'" ng-class="{active: tab == 'places'}">Places</a></li>
    </ul>

    <layers ng-if="tab == 'layers'"></layers>
    <areas ng-if="tab == 'areas'"></areas>
    <filters ng-if="tab == 'filters'"></filters>
    <places ng-if="tab == 'places'"></places>
  </div>
</div>
