<div class="time-window window-content-wrapper">
  <div class="window-content">
    <form name="timeForm" class="time-window-form form-horizontal">
      <div class="control-group">
        <label class="load control-label" title="Loaded range start">Load Range:</label>
      </div>
      <div class="range-container">
        <div ng-repeat="range in loadRanges" class="well" ng-class="{'ng-invalid': !timeCtrl.isValid(range.start, range.end)}">
          <div class="control-group">
            <label class="control-label" title="Loaded range start">Start:</label>
            <div class="controls">
              <span class="pull-right"><popover data-title="Start" data-content="loadStartTip" data-pos="'right'"></popover></span>
              <date-time value="range.start" hidecontrols="true"></date-time>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" title="Loaded range end">End:</label>
            <div class="controls">
              <span class="pull-right">
                <button type="button" class="btn btn-default" title="Add range" ng-if="$last" ng-click="timeCtrl.addRange(range)">
                  <i class="fa fa-fw fa-plus green-icon"></i>
                </button>
                <button type="button" class="btn btn-default" title="Add range" ng-if="loadRanges.length > 1" ng-click="timeCtrl.removeRange($index)">
                  <i class="fa fa-fw fa-times red-icon"></i>
                </button>
                <popover data-title="End" data-content="loadEndTip" data-pos="'right'"></popover>
              </span>
              <date-time value="range.end" hidecontrols="true"></date-time>
              <span class="error help-block" ng-if="!timeCtrl.isValid(range.start, range.end)">Start must be before End!</span>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="control-group">
        <label class="control-label" title="Slice range start">Time Slices:</label>
        <div style="margin-left:80px;">
          <popover data-title="Slice" data-content="sliceTip" data-pos="'right'"></popover>
        </div>
      </div>
      <div class="control-group" ng-if="sliceRanges.length < 1">
        <button type="button" class="btn btn-default" title="Add slice" ng-click="timeCtrl.addSlice()">
          <i class="fa fa-fw fa-plus green-icon"></i>Create
        </button>
      </div>
      <div class="range-container">
        <div ng-repeat="slice in sliceRanges" class="well" ng-class="{'ng-invalid': !timeCtrl.isValidSlice(slice.start, slice.end, sliceModels[$index])}">
          <div class="control-group">
            <label class="control-label" title="Slice ra+nge start">Start:</label>
            <div class="controls">
              <span class="pull-right"><popover data-title="Start" data-content="sliceStartTip" data-pos="'right'"></popover></span>
              <spinner min="0" max="23" step="1" value="slice.start.hours" name="startHourSpinner" live="false"></spinner>
              :<spinner min="0" max="59" step="1" value="slice.start.mins" name="startMinuteSpinner" live="false"></spinner>
              :<spinner min="0" max="59" step="1" value="slice.start.secs" name="startMinuteSpinner" live="false"></spinner>
              <label class="checkbox" style="display: inline-block;">
                <input type="checkbox" style="margin-left: 3px;margin-top: 5px;margin-right: 3px" ng-model='sliceModels[$index]'
                    ng-disabled="timeCtrl.isValidSlice(slice.start, slice.end)"/> Crosses midnight
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" title="Slice range end">End:</label>
            <div class="controls">
              <span class="pull-right">
                <button type="button" class="btn btn-default" title="Add Slice" ng-if="$last" ng-click="timeCtrl.addSlice(slice, sliceModels[$index])">
                  <i class="fa fa-fw fa-plus green-icon"></i>
                </button>
                <button type="button" class="btn btn-default" title="Remove slice" ng-click="timeCtrl.removeSlice($index)">
                  <i class="fa fa-fw fa-times red-icon"></i>
                </button>
                <popover data-title="End" data-content="sliceEndTip" data-pos="'right'"></popover>
              </span>
              <spinner min="0" max="23" step="1" value="slice.end.hours" name="endHourSpinner" live="false"></spinner>
              :<spinner min="0" max="59" step="1" value="slice.end.mins" name="endMinuteSpinner" live="false"></spinner>
              :<spinner min="0" max="59" step="1" value="slice.end.secs" name="endMinuteSpinner" live="false"></spinner>
              <span class="error help-block" ng-if="!timeCtrl.isValidSlice(slice.start, slice.end, sliceModels[$index])">Start must be before End!</span>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="control-group">
        <label class="control-label" title="Offset from UTC">Offset:</label>
        <div class="controls">
          <span class="pull-right"><popover data-title="Offset" data-content="offsetTip" data-pos="'right'"></popover></span>
          <input name="offset" class="small" type="text" ng-model="offset" ng-pattern="/^(UTC)?[+-]\d{4}$/">
          <span ng-if="timeForm.offset.$invalid">Please enter the value as &#177HHMM</span>
        </div>
      </div>
    </form>
  </div>
  <div class="window-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-disabled="!timeCtrl.valid() || timeForm.$invalid" ng-click="timeCtrl.accept()">
        <i class="fa fa-check lt-blue-icon"></i> OK
      </button>
      <button class="btn btn-default" ng-click="timeCtrl.cancel()"><i class="fa fa-ban red-icon"></i> Cancel</button>
    </div>
  </div>
</div>
