.caret-tabs {
  background: $color-caret-background;
  border-bottom: 1px solid $color-caret-border-dark;
  border-top: 1px solid $color-caret-border-dark;
  float: left;
  width: 100%;
}

.caret-tabs > ul {
  float: left;
  margin: 0;
  padding: 0 10px;
}

.caret-tabs > ul > li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.caret-tabs > ul > li a {
  color: #8be;
  display: block;
  margin: 0;
  padding: 9px 10px;
  position: relative;
  text-decoration: none;
}

.caret-tabs > ul > li.active a {
  color: $color-caret-color;
}

.caret-tabs > ul > li.active a::before,
.caret-tabs > ul > li.active a::after {
  border: 8px solid transparent;
  border-bottom-color: $color-caret-border-dark;
  border-style: outset outset solid;
  bottom: 0;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.caret-tabs > ul > li.active a::after {
  background: transparent;
  border-bottom-color: $color-caret-border-light;
  bottom: -1px;
}
