// sass-lint:disable quotes
$web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans:400,700" !default;
@import url($web-font-path);


.nav-tabs {
  .nav-link {
    border-color: $nav-tabs-border-color;
    margin: 0 .1rem;
    background: $gray-100;

    &:hover {
      background: transparent;
    }
  }
}
