$web-font-path: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700' !default;

.nav-tabs {
  .nav-link {
    background: $gray-100;
    border-color: $nav-tabs-border-color;
    margin: 0 .1rem;

    &:hover {
      background: transparent;
    }
  }
}

.bg-dark {
  &.navbar {
    .form-control,
    .border,
    .btn {
      border-color: $dark !important;
    }

    .btn.active {
      border-color: $black !important;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  &:hover {
    background-color: $dark !important;
    opacity: .5;
  }
}

.progress {
  height: 1rem;

  .progress-bar {
    color: $black;
    font-size: 1rem;
  }
}

// Defined so the hover style will override the active style.
.list-group {
  &-item:hover {
    background-color: $list-group-hover-bg;
  }
}

// The gradients are nice for buttons but bad for alerts
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    background-color: $value;
    background-image: none;
    border-color: darken($value, 5%);
    color: color-yiq($value);

    a,
    .alert-link {
      color: color-yiq($value);
      text-decoration: underline;
    }
  }
}
