$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-size-base: .9375rem;

// Needed for color pallet to have white text on buttons
$yiq-contrasted-threshold: 166;

$blue: #08c;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #ee5f5b;
$orange:  #f89406;
$yellow:  #ffc107;
$green:   #62c462;
$teal:    #20c997;
$cyan:    #5bc0de;


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$warning: $orange;
$primary: $blue;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: $primary;

$dark: lighten(#272b30, 5%);
