$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Needed for color pallet to have white text on buttons
$yiq-contrasted-threshold: 166 !default;

$blue: #08c !default;
$indigo:  #6c94bc !default;
$purple:  #9d67ff !default;
$pink:    #e83e8c !default;
$red:     #ee5f5b !default;
$orange:  #f89406 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$white: #fff !default;

$warning: $orange !default;
$primary: $blue !default;
$success: $green !default;
$info: $indigo !default;
$dropdown-link-hover-color: #fff !default;
$dropdown-link-hover-bg: $primary !default;

$dark: lighten(#272b30, 5%);

$custom-control-indicator-bg: $gray-300;
$custom-control-indicator-checked-color: $black;
$custom-control-indicator-checked-bg: $gray-300;
$custom-control-indicator-checked-disabled-bg: $gray-500;
$custom-control-indicator-active-color: $black;
$custom-control-indicator-active-bg: $gray-300;
$custom-checkbox-indicator-indeterminate-bg: $gray-300;
$custom-control-indicator-disabled-bg: $gray-500;
$custom-control-label-disabled-color: $gray-500;

// Active/selected color.
$list-group-active-bg: darken($success, 10%);
$list-group-active-color: $white;

// Highlight/hover color.
$list-group-hover-bg: darken($primary, 10%);
$list-group-action-hover-color: $white;

// Start Theme Variable Overides
$u-theme-variables--bg-offset: $gray-100;
$u-theme-variables--navtop-subnav-color: $gray-200;
$app-color-default: yiq($u-theme-variables--navtop-subnav-color);
// End Theme Variable Overides
