// Dark SimpleMDE overrides
// This file is not included by default in all ui including projects

.editor-toolbar {
  background-color: $color-dark-gray;
  border-color: #111;
  opacity: .8;

  &.fullscreen {
    background-color: $color-dark-gray;
    border-color: #111;
    border-radius: 0;
    opacity: 1;
  }

  a {
    color: $color-white !important;

    &.active,
    &:hover {
      background: $color-medium-gray;
      border-color: $color-very-light-gray;
    }
  }

  i.separator {
    border-color: $color-very-light-gray;
  }
}

.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after {
  display: none;
}

.editor-preview pre,
.editor-preview-side pre {
  background-color: $color-gray;
  color: $color-white;
}

.CodeMirror {
  background-color: $color-medium-gray;
  border-color: #111;
  color: $color-white;
}

.editor-preview,
.editor-preview-side {
  background: $color-medium-gray;
  border-color: #111;
  z-index: 20000;
}

.CodeMirror-cursor {
  border-color: $color-very-light-gray;
}

.CodeMirror .CodeMirror-selected {
  background: #2b5588;
}

.edit-form .simplemdeform.ng-pristine.ng-invalid .CodeMirror {
  background: inherit;
}

.edit-form .simplemdeform.ng-dirty.ng-invalid {
  .CodeMirror {
    background: $color-medium-gray;
    border-color: #b94a48;
  }

  .editor-toolbar {
    border-color: #b94a48;
  }
}
