// * Grid styles
// ************************************************************

.slick-grid {
  height: 100%;
  width: calc(100% - 2px);

  .slick-row {
    &.selected {
      background: #08c;
    }

    &:hover {
      background: contrast-color($color-bg, #98ff98, #9edb9e);
      color: contrast-color(contrast-color($color-bg, #98ff98, #9edb9e));
    }
  }
}

// * Tree styles
// ************************************************************/

.slick-tree {
  @include box-sizing(border-box);
  height: 100%;
  width: 100%;

  .slick-header-columns {
    height: 0;
  }

  .slick-header.ui-state-default {
    border: 0;
  }

  .slick-cell {
    border: 0;
    padding: 0 2px 5px;
  }

  .slick-viewport {
    overflow-x: hidden !important;

    &.ps-container {
      overflow: hidden !important;
    }
  }
}

.tree-spacer {
  display: inline-block;
  height: 1px;
}

.tree-expand-collapse {
  font-size: .8em;
  width: 1.4em;
}

.tree-icons {
  padding-right: 2px;

  i.fa {
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    width: 14px;
  }
}

.fa-fw.compact {
  width: 1.1em;
}

// * Tree and Grid row styles
// ************************************************************/


.slick-dragging {
  background: #98ff98;
}

.slick-row.ui-widget-content {
  background: none;
  color: inherit;
}

// * No header styles
// ************************************************************/

.slick-grid.no-header {
  border-top: 0;
  width: 100%;

  .slick-header {
    display: none;
    height: 0;
  }

  .slick-cell {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

// * Cell edit styles
// ************************************************************/

.slick-grid.editable {
  // add a bottom border so it's easier to tell when there is an empty (new) row at the bottom.
  .slick-row.ui-widget-content {
    border-bottom: 1px solid #333;
  }

  .slick-cell {
    // active cell has a full border, so when not active shift text slightly so it doesn't visibly move
    &:not(.active) {
      padding-left: 2px;
    }

    &.editable {
      // when editing a cell, make it look inset
      @include box-shadow(inset 0 0 3px #111);
      background: $color-medium-gray;

      // override bootstrap styles on the input so it fits in the cell
      input.editor-text {
        @include box-sizing(border-box);
        background: transparent;
        border: 0;
        box-shadow: none;
        height: 100%;
        width: 100%;
      }
    }
  }

  // override the highlight background while editing
  .slick-row:hover .slick-cell.editable {
    background: $color-medium-gray;
  }
}

// * Style a table to look like a slickgrid instance, for lighter weight grids
// ****************************************************************************/

.slick-table-container {
  @include box-sizing(border-box);
  background: $color-light-gray;
  border: 1px solid $color-black;
  height: 100%;
  overflow: auto;
  padding: 0 4px;
  width: 100%;
}

.slick-table-cell {
  padding: 1px 2px;
}
