// Tree styles

.slick-tree {
  background: $overrides-box-bg-color;
  border: 1px solid #000;

  .slick-cell .slick-node-ui i:first-child {
    padding-left: 2px;
  }
}

.slick-row.selected:not(:hover) {
  background: $color-dark-gray;
}

.slick-tree .slick-row:hover,
.slick-dragging {
  background: $color-medium-gray;
}
