<div class="d-flex flex-column u-flex-grow">
  <div class="flex-shrink-0">
    <simple-location latdeg="lat" londeg="lon" ng-if="lat !== undefined && lon !== undefined"></simple-location>
    <span ng-if="alt">Altitude: {{alt}}</span>
  </div>
  <div class="flex-shrink-0">
    <ul class="nav nav-tabs" ng-show="description">
      <li class="nav-item"><a href class="nav-link active" ng-class="{active: tab == 'properties'}" ng-click="info.showProperties()">Properties</a></li>
      <li class="nav-item"><a href class="nav-link" ng-class="{active: tab == 'description'}" ng-click="info.showDescription()">Description</a></li>
    </ul>
  </div>

  <div class="u-flex-grow u-overflow-y-auto" ng-show="tab == 'properties'">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="table-bordered">
          <th ng-click="info.order('field')">
            Field <i ng-show="columnToOrder == 'field'" class="slick-sort-indicator" ng-class="{'slick-sort-indicator-desc': !reverse, 'slick-sort-indicator-asc': reverse}"></i>
          </th>
          <th ng-click="info.order('value')">
            Value <i ng-show="columnToOrder == 'value'" class="slick-sort-indicator" ng-class="{'slick-sort-indicator-desc': !reverse, 'slick-sort-indicator-asc': reverse}"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="property in properties | orderBy:columnToOrder:reverse" ng-click="info.select($event, property)" ng-class="{'selected': selected==property}">
          <td class="text-truncate">{{property.field}}</td>
          <td><featureinfocell property="property"></featureinfocell></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="u-flex-grow u-overflow-y-auto card d-flex" ng-show="tab == 'description'">
    <iframe class="card u-flex-grow bg-light" id="descriptionFrame"></iframe>
  </div>
</div>
