$overrides-border-color: #222;
$overrides-border-width: 1px;
$overrides-box-bg-color: $color-light-gray;
$overrides-font-size: 13px;
$overrides-grid-even-color: $color-light-gray;
$overrides-grid-odd-color: $color-gray;
$overrides-input-bg-color: $color-medium-gray;
$overrides-input-height: 20px;
$overrides-input-padding: 1px 6px;
$overrides-margin-bottom: 0;
$overrides-text-color: $color-primary-font;
$overrides-disabled-opacity: .33;
$overrides-border-radius: 3px;
$overrides-menu-bg: $color-gray;
$overrides-menu-header: $color-font;
$overrides-menu-hover: $color-dark-gray-1;
$overrides-menu-text-hover: $overrides-text-color;
$overrides-menu-text-accent: #8be;
$overrides-menu-text-remove: $color-orange;
$overrides-menu-box-shadow-color: rgba(54, 54, 54, .5);
$overrides-window-header-bg: #2e3236;
$overrides-input-text-shadow-color: $overrides-text-color;
$overrides-modal-zindex: 100001;
