// ***************************************************
// * perfect-scrollbar overrides
// ***************************************************

$ps-bg-color: #29e;

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail {
  z-index: 5;
}

.ps-container {
  .ps-scrollbar-x-rail {
    &:hover .ps-scrollbar-x,
    &.hover .ps-scrollbar-x,
    &.in-scrolling .ps-scrollbar-x {
      background-color: $ps-bg-color;
    }
  }

  .ps-scrollbar-y-rail {
    &:hover .ps-scrollbar-y,
    &.hover .ps-scrollbar-y,
    &.in-scrolling .ps-scrollbar-y {
      background-color: $ps-bg-color;
    }
  }

  &.ie {
    .ps-scrollbar-x,
    .ps-scrollbar-y {
      visibility: visible;
    }
  }

  .ps-scrollbar-x-rail,
  .ps-scrollbar-y-rail {
    @include opacity(.6);
  }

  .ps-scrollbar-x,
  .ps-scrollbar-y {
    background-color: $color-white;
  }

  .ps-scrollbar-y-rail,
  .ps-scrollbar-y {
    width: 10px;
  }

  .ps-scrollbar-x-rail,
  .ps-scrollbar-x {
    height: 10px;
  }
}
