
.select2-default {
  color: $overrides-text-color !important;
  // select2 is an ass and used !important so we have to use it too
}

.select2-drop {
  background: $overrides-input-bg-color;
  border: $overrides-border-width solid $overrides-border-color;
  color: $overrides-text-color;
  padding-top: 2px;
  z-index: $overrides-modal-zindex * 99 !important;

  .select2-search .select2-input {
    background: #777;
    color: $overrides-text-color;
  }
}

.select2-search > input[type='text'] {
  color: $color-black;
}

.select2-results {
  .select2-no-results,
  .select2-searching,
  .select2-selection-limit {
    background-color: transparent;
  }
}

.select2-container,
.select2-container-multiple {
  @include border-radius(6px);
  background-color: transparent;

  .select2-choice,
  .select2-choices {
    @include background-clip(border-box);
    @include box-shadow(none);
    background-color: $overrides-input-bg-color;
    background-image: none;
    border: $overrides-border-width solid $overrides-border-color;
    color: $overrides-text-color;
    height: $overrides-input-height;
    line-height: $overrides-input-height;
    min-height: $overrides-input-height;
    padding: $overrides-input-padding;

    &:focus {
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6));
      border-color: rgba(82, 168, 236, .8);
    }

    div {
      background: transparent;
      border-left: 0;

      b {
        // sass-lint:disable no-vendor-prefixes
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        background: transparent;
        color: $color-black;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        height: 100%;
        padding-top: 2px;
        text-align: center;
        text-rendering: auto;
        vertical-align: middle;
        width: 100%;

        &::before {
          content: '\f0dd';
        }
      }
    }
  }

  &.select2-container-disabled .select2-choice,
  &.select2-container-disabled .select2-choices {
    @include opacity(.5);
    background-color: $overrides-input-bg-color;
    border: $overrides-border-width solid $overrides-border-color;
    color: #bbbfc2 !important;
    // see the above note about the !important flag

    div {
      background: transparent;
      border-left: 0;
    }
  }
}

.select2-more-results.select2-active {
  background: transparent;
}

// select2 multi select css
.ng-invalid.ng-dirty .select2-container.select2-container-multi .select2-choices {
  background-color: $overrides-box-bg-color;
}

.select2-container.select2-container-multi {
  .select2-choices {
    background-color: $overrides-box-bg-color;
    padding-bottom: 0;
    padding-top: 0;

    .select2-search-choice {
      @include box-shadow(inset 0 0 2px $overrides-input-bg-color, 0 1px 2px $overrides-border-color);
      background-color: $overrides-input-bg-color;
      background-image: none;
      border-color: $overrides-border-color;
      color: $overrides-text-color;
      margin: 1px;

      &.select2-search-choice-focus {
        background-color: $overrides-box-bg-color;
      }
    }

    .select2-search-field input.select2-input {
      border-width: 0;
      color: $overrides-text-color;
      height: $overrides-input-height;
      padding: 0;
    }
  }
}
