<div class="c-alert-popup fixed-bottom col-xl-4 col-lg-5 col-md-6 col-sm-8 col-xs-10 col ml-auto mr-1 animate-flip-parent" ng-class="{'mb-5': alertPopupCtrl.alertPopups.length}" ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
  <div class="alert animate-flip-v"
       ng-class="{'Error':'alert-danger','Warning':'alert-warning','Success':'alert-success','Info':'alert-info'}[alert.severity]"
       ng-repeat="alert in alertPopupCtrl.alertPopups|limitTo:-5 track by alert.id">
    <button ng-click="alertPopupCtrl.dismissAlert($index, alert)" class="close float-right" type="button" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4><i class="fa" ng-class="{'Error':'fa-ban','Warning':'fa-warning','Success':'fa-check','Info':'fa-info-circle'}[alert.severity]"></i>
      {{alert.severity}}!</h4>
    <span title="{{alert.tooltip}}" ng-bind-html="alert.msg | alertlink"></span>
  </div>
</div>
