<div>
  <p class="lead">Alerts ({{alertViewerCtrl.alertArray.length}})</p>
  <div class="scroll-pane-wrapper">
    <div id="alert-scroll-pane" class="scroll-pane" ng-scroll-viewport>
      <div ng-show="alertViewerCtrl.alertArray.length" class="selectable alert-scroll-pane-inner">
        <table class="table table-striped table-hover table-condensed table-bordered">
          <tr ng-repeat="alert in alertViewerCtrl.alertArray">
            <td>
              <span>[{{alert.time}}]</span>
              <span ng-class="{'Error':'font-error','Warning':'font-warning','Success':'font-success','Info':'font-info'}[alert.severity]">[{{alert.severity}}]</span>
            </td>
            <td ng-bind-html="alert.msg | alertlink"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="keep-height" style="padding-top:5px;">
    <div class="pull-left" style="padding-top:4px;">
      <label class="checkbox" style="display:inline-block;" >
        <input type="checkbox" ng-checked="alertViewerCtrl.showAlertPopups" ng-click="alertViewerCtrl.toggleAlertPopups()" style="margin-bottom:0px;">
        <span title="Enable/disable popup alert messages"> Show Alert Popups&nbsp;&nbsp;</span>
      </label>
    </div>
    <span class="pull-right">
      <button title="Clear all alerts" type="button" class="btn btn-default" ng-click="alertViewerCtrl.clearAlerts()">Clear Alerts</button>
    </span>
  </div>
</div>
