<div class="h-100 w-100 d-flex flex-column">
  <div class="modal-body">
    <div id="croppie" class="top-gap"></div>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <button title="OK" class="btn" type="button" ng-click="croppieCtrl.save()">
        <i class="text-success fa fa-check"></i>
        OK
      </button>
      <button title="Cancel" class="btn btn-default" ng-click="croppieCtrl.cancel()">
        <i class="text-danger fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
