<div class="window-content-wrapper">
  <div class="window-content">
    <div id="croppie" class="top-gap"></div>
  </div>
  <div class="window-footer">
    <div class="pull-right">
      <button title="OK" class="btn" type="button" ng-click="croppieCtrl.save()">
        <i class="color-add fa fa-check"></i>
        OK
      </button>
      <button title="Cancel" class="btn btn-default" ng-click="croppieCtrl.cancel()">
        <i class="color-cancel fa fa-ban"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
