$app-background: rgb(102, 102, 102);
$app-border-color-primary: rgb(0, 0, 0);



.ui-settings-container {

  .settings-defaults {
    @include box-sizing(border-box);
    display: inline-block;
    height: 100%;
    overflow-y: auto;
  }

  .settings-nav {
    @include box-sizing(border-box);
    @include calc(width, '25% - 5px');
    display: inline-block;
    height: 100%;
    overflow-y: auto;
  }

  .settings-container {
    @include box-sizing(border-box);
    @include calc(width, '75% - 5px');
    display: inline-block;
    height: 100%;
    overflow-y: auto;
    padding-left: 5px;
  }

  .user-setting-input.radio-setting span {

    margin-right: .3em;
    margin-top: .1em;

    > * {
      display: inline-block;
      vertical-align: top;
    }

    label {
      line-height: 1.6em;
      margin-left: .5em;
      margin-top: .1em;
    }
  }

  .user-setting {
    h1 {
      font-size: 14px;
      line-height: 18px;

      &:first-child {
        margin-top: 0;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      // margins screw up box-sizing
      margin: 0;
      // use padding instead
      padding: 5px 0;
    }
  }

  .c-user-settings__disclaimer {
    background: darken($color-bg, 5);
    border-color: $color-alert-warning;
    border-width: 2px;
    color: $color-font;
    margin: 10px 20px;

    a {
      color: inherit;
    }

    hr {
      margin: 10px 0;
    }

    p {
      margin-bottom: 8px;

      strong {
        color: $color-alert-warning;
      }

      small {
        line-height: 85%;
      }
    }
  }
}
