.alert-viewer-popup {
  bottom: 8px;
  line-height: 16px;
  max-width: 450px;
  min-width: 350px;
  position: absolute;
  right: 20px;
  width: 33%;
  z-index: 10001;

  .alert {
    button.close {
      opacity: .66;
      position: relative;
      right: -5px;
    }
  }
}

$alerts-list: 'error' 'warning' 'success' 'info';
$colors-list: $color-alert-error $color-alert-warning $color-alert-success $color-alert-info;

@for $i from 1 through length($alerts-list) {
  .alert-viewer-popup .alert-#{nth($alerts-list, $i)} button.close {
    color: nth($colors-list, $i);
  }
}
