<div class="modal modal-half hide fade" id="aboutModal">
  <div class="modal-header">
    <button type="button" class="close btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
    <h2>About</h2>
  </div>
  <div class="modal-body selectable" style="max-height:560px;">
    <img style="max-width:80%;max-height:280px;margin-left:50px;" ng-src="{{path + aboutModalCtrl.logoPath}}"></img>
    <p>{{aboutModalCtrl.application}} version: {{version}} {{aboutModalCtrl.userAgent}}</p>
    <div ng-if="aboutModalCtrl.vendors.length || aboutModalCtrl.appVendors.length">
      <h3>Powered By:</h3>
      <div class="vendor-attributions">
        <ul class="unstyled">
          <li class="vendor-attribution" ng-repeat="vendor in aboutModalCtrl.appVendors">
            <img class="vendor-logo" ng-src="{{path + vendor.logoPath}}"></img>
            <div class="centered">
              {{vendor.name}}
            </div>
          </li>
          <li class="vendor-attribution" ng-repeat="vendor in aboutModalCtrl.vendors">
            <img class="vendor-logo" ng-src="{{uiPath + vendor.logoPath}}"></img>
            <div class="centered">
              {{vendor.name}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
