<div class="modal hide fade modal-auto-size">
  <div class="modal-header">
    <h2><span ng-bind-html="confctrl.title"></span></h2>
  </div>
  <div class="modal-body selectable">
    <div class="link-details">
      <h4>{{confctrl.message}}</h4>
      <h5 class="light-text">{{confctrl.submessage}}</h5>
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button type="button" class="btn" ng-class="confctrl.yesClass" data-ng-disabled="confctrl.saving" data-ng-click="confctrl.confirmClick()" >
        <i class="color-white fa" data-ng-class="confctrl.saving && 'fa-spin fa-spinner' || confctrl.yesIcon"></i>
        Delete
      </button>
      <button type="button" class="btn btn-default" data-ng-disabled="confctrl.saving" data-ng-click="confctrl.cancelClick()">
        <i class="color-black fa fa-times"></i>
        Cancel
      </button>
    </div>
  </div>
</div>
