<div class="h-100 w-100 d-flex flex-column">
  <div class="modal-body container h-100">
    <div class="d-flex p-2 align-items-center justify-content-center" ng-show="testing">
      <i class="fa fa-4x fa-spin fa-smooth fa-spinner mr-2"></i>
      <span>Testing...</span>
    </div>

    <form class="container-fluid" ng-show="!testing" name="form" ng-submit="ctrl.accept()" novalidate>
      <div class="form-group row" title="The title for the server">
        <label class="col-2 col-form-label" for="title">Title:</label>
        <div class="col">
          <input unique-provider-title type="text" class="form-control" name="title" ng-disabled="!edit"
              ng-model="config.label" ng-required="true" ng-maxlength="1000"/>
          <small class="form-text invalid-feedback" ng-if="form.title.$error.maxlength">Title is too long!</small>
          <small class="form-text invalid-feedback" ng-if="form.title.$error.unique">Title is not unique!</small>
          <small class="form-text invalid-feedback" ng-if="form.title.$error.required">Please enter a title.</small>
        </div>
      </div>

      <!-- primary server url -->
      <div class="form-group row" title="The primary URL for the server">
        <label class="col-2 col-form-label" for="url">URL:</label>
        <div class="col">
          <input type="text" name="url" class="form-control" ng-disabled="!edit" ng-model="config.url" ng-required="true"
              ng-maxlength="1000"/>
          <small class="form-text invalid-feedback" ng-if="urlExample && form.url.$valid">e.g. {{urlExample}}</small>
          <small class="form-text invalid-feedback" ng-if="form.url.$error.maxlength">URL is too long!</small>
          <small class="form-text invalid-feedback" ng-if="form.url.$error.required">Please enter a URL.</small>
        </div>
      </div>

      <!-- alternate server urls -->
      <div class="form-group row" ng-repeat="altUrl in config.alternateUrls track by $index"
          title="Alternate URL for the server">
        <label class="col-2 col-form-label" for="altUrl{{$index}}">URL {{$index + 2}}:</label>
        <div class="input-group col">
          <input unique-server-url type="text" name="altUrl{{$index}}" class="form-control" ng-disabled="!edit"
              ng-model="config.alternateUrls[$index]" ng-maxlength="1000"
              placeholder="Alternate URL to server" />
          <div class="input-group-append">
            <button class="btn" type="button" ng-click="ctrl.removeAlternateUrl($index)" ng-if="edit"
                title="Remove this alternate URL">
              <i class="fa fa-times text-danger"></i>
            </button>
          </div>
          <small class="form-text invalid-feedback" ng-if="form.altUrl{{$index}}.$error.maxlength">URL is too long!</small>
          <small class="form-text invalid-feedback" ng-if="form.altUrl{{$index}}.$error.unique">URL is not unique!</small>
        </div>
      </div>

      <!-- Removed button to allow the user to add an alternate URL to avoid confusion about this feature -->
      <!-- <div class="form-group row">
        <button class="btn btn-default" type="button" ng-click="ctrl.addAlternateUrl()" ng-if="edit"
            title="Add an alternate URL that can be used to reach the server. This will be used to distribute server requests.">
          <i class="fa fa-plus text-success"></i> Add Alternate URL
        </button>
      </div> -->

      <input type="submit" hidden>
    </form>
    <div class="error" ng-if="error">
      <h5>Error!</h5>
      <p ng-bind-html="error"></p>
    </div>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn btn-primary" ng-click="ctrl.accept()" ng-disabled="form.$invalid || testing">
      <i class="fa fa-check"></i>
      {{edit ? 'Save' : 'OK'}}
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.close()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
