<div class="h-100 w-100 d-flex flex-column">
  <div class="modal-body container h-100">
    <div class="d-flex p-2 align-items-center justify-content-center" ng-show="testing">
      <i class="fa fa-4x fa-spin fa-smooth fa-spinner mr-2"></i>
      <span>Testing...</span>
    </div>

    <form class="container-fluid" ng-show="!testing" name="form" ng-submit="ctrl.accept()" novalidate>
      <div class="form-group row" title="The title for the server">
        <label class="col-2 col-form-label" for="title">Title:</label>
        <div class="col">
          <input unique-provider-title type="text" class="form-control" name="title" ng-disabled="!edit"
              ng-model="config.label" ng-required="true" ng-maxlength="1000"/>
          <small class="form-text invalid-feedback" ng-if="form.title.$error.maxlength">Title is too long!</small>
          <small class="form-text invalid-feedback" ng-if="form.title.$error.unique">Title is not unique!</small>
          <small class="form-text invalid-feedback" ng-if="form.title.$error.required">Please enter a title</small>
        </div>
      </div>

      <div class="form-group row" title="The URL for the server">
        <label class="col-2 col-form-label" for="url">URL:</label>
        <div class="col">
          <input type="text" name="url" class="form-control" ng-disabled="!edit" ng-model="config.url" ng-required="true"
              ng-maxlength="1000"/>
          <small class="form-text invalid-feedback" ng-if="urlExample && form.url.$valid">e.g. {{urlExample}}</small>
          <small class="form-text invalid-feedback" ng-if="form.url.$error.unique">URL is not unique!</small>
          <small class="form-text invalid-feedback" ng-if="form.url.$error.maxlength">URL is too long!</small>
          <small class="form-text invalid-feedback" ng-if="form.url.$error.required">Please enter a URL</small>
        </div>
      </div>

      <input type="submit" hidden>
    </form>
    <div class="error" ng-if="error">
      <h5>Error!</h5>
      <p ng-bind-html="error"></p>
    </div>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn" ng-click="ctrl.accept()" ng-disabled="form.$invalid || testing">
      <i class="fa fa-check text-primary"></i>
      {{edit ? 'Save' : 'OK'}}
    </button>
    <button class="btn" ng-click="ctrl.close()">
      <i class="fa fa-ban text-danger"></i>
      Cancel
    </button>
  </div>
</div>
