<div class="flex-fill w-100 d-flex flex-column">
  <div class="modal-body container flex-fill">
    <div class="text-center" ng-show="testing">
      <div><i class="fa fa-4x fa-spin fa-smooth fa-spinner"></i></div>
      <div>Testing...</div>
    </div>
    <singleurlform></singleurlform>
    <div class="alert alert-danger" ng-if="error">
      <h5>Error!</h5>
      <p ng-bind-html="error" class="m-0"></p>
    </div>
  </div>
  <div class="modal-footer d-flex">
    <button class="btn btn-primary" ng-click="ctrl.accept()" ng-disabled="form.$invalid || testing">
      <i class="fa fa-check"></i>
      {{edit ? 'Save' : 'OK'}}
    </button>
    <button class="btn btn-secondary" ng-click="ctrl.close()">
      <i class="fa fa-ban"></i>
      Cancel
    </button>
  </div>
</div>
