@import 'darkly/bootswatch';

.navbar-dark .navbar-nav {
  .nav-link:focus,
  .nav-link:hover,
  .active > .nav-link {
    color: $primary !important;
  }
}

.bg-dark {
  background-color: $dark !important;

  &.navbar {
    .form-control,
    .border,
    .btn {
      border-color: $border-color !important;
    }

    .btn.active {
      border-color: $black !important;
    }
  }
}

// The colors in this style are much too dark, and difficult to see. Brighten them up!
.btn-outline-secondary {
  border-color: #999;
  color: #999;
}

.carousel-control-prev,
.carousel-control-next {
  &:hover {
    background-color: $dark !important;
    opacity: .5;
  }
}

.list-group-item-action {
  @include hover-focus {
    background-color: $primary;
  }
}

.list-group-item-action:not(.active) {
  @include hover-focus {
    background-color: $gray-700;
  }
}

.progress {
  height: 1rem;

  .progress-bar {
    color: $white;
    font-size: 1rem;
  }
}

