@import 'darkly/variables';

$primary: $cyan;
$info: $blue;

$border-color: $gray-900;
$input-bg: #555;
$input-color: $white;
$input-border-color: $gray-900;
$input-placeholder-color: $gray-500;

$link-color: $primary;
