$cyan: #6c94bc;
$blue: #3498db;
$light: #ecf0f1;

$primary: $blue;
$link-color: $primary;

@import 'darkly/variables';

$border-color: $gray-900;
$input-bg: #555;
$input-color: $white;
$input-border-color: $gray-900;
$input-placeholder-color: $gray-500;

$navbar-light-color: $gray-700;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-dark-hover-color: $primary;
