<div class="flex-column d-flex flex-fill p-0">
  <div class="modal-body flex-column d-flex flex-fill">
    <div class="w-100">
      <div class="row mb-1" ng-show="advanced">
        <label class="col-form-label text-right col" for="filterTitle">Group By</label>
        <div class="col">
          <select class="custom-select" ng-model="order" ng-change="comboCtrl.selectGroupBy(true)" ng-options="value for value in orders" />
        </div>
      </div>
      <div class="w-100 d-inline-block mb-1">
        <div class="float-left">
          <addfilter layer="layer" btn-text="Add Filter"></addfilter>
          <span list list-id="combinator"></span>
          <button class="btn btn-primary btn-sm" ng-click="comboCtrl.addCountry()" ng-if="hasCountrySupport" title="Add a country border">
            <i class="fa fa-plus"></i>
            Country
          </button>
        </div>
        <div class="float-right">
          <div class="d-inline custom-control custom-checkbox" ng-init="checkId = $root.getUniqueString()" title="Advanced mode allows more specific combinations of layers, filters, and areas">
            <input id="{{checkId}}" class="custom-control-input" type="checkbox" ng-model="advanced" ng-change="comboCtrl.advancedToggle(true)">
            <label for="{{checkId}}" class="custom-control-label">
              Advanced
            </label>
          </div>
          <button class="btn btn-secondary btn-sm" ng-click="comboCtrl.toggle(false)" title="Expand all"><i class="fa fa-plus-square-o"></i></button>
          <button class="btn btn-secondary btn-sm" ng-click="comboCtrl.toggle(true)" title="Collapse all" ><i class="fa fa-minus-square-o"></i></button>
          <button class="btn btn-secondary btn-sm" ng-click="comboCtrl.clear()" title="Clears all the checkboxes in the form">Reset</button>
        </div>
      </div>
    </div>
    <div class="w-100 flex-fill d-flex">
      <slicktree x-data="pivots" selected="selected" multi-select="true" disposable="true"></slicktree>
    </div>
  </div>
  <div class="modal-footer d-inline">
    <button class="btn btn-secondary" ng-click="comboCtrl.launchExport()" ng-disabled="comboCtrl.exportDisabled()"><i class="fa fa-download"></i> Export</button>
    <div class="js-import-group btn-group" ng-right-click="comboCtrl.openImportMenu()">
      <button class="btn btn-secondary" ng-click="comboCtrl.import()"><i class="fa fa-sign-in"></i> Import</button>
      <button class="btn btn-secondary" ng-click="comboCtrl.openImportMenu()" ng-class="{active: importMenuOpen}"><i class="fa fa-chevron-down"></i></button>
    </div>
  </div>
</div>
