<div>
  <div class="modal-body">
    <form name="areaForm" ng-submit="ctrl.accept()">
      <basicinfo config="config" columns="columns" help="ctrl.help"></basicinfo>

      <div class="row mt-1">
        <label class="col-form-label col-4 text-right u-required">Replace Areas</label>
        <div class="col form-inline">
          <input type="checkbox" class="form-control" name="replace" ng-model="ctrl.replace"/>
          <span class="ml-auto">
            <popover ng-if="ctrl.help.replace" x-title="'Replace Areas'" x-content="ctrl.help.replace" x-pos="'right'"></popover>
          </span>
        </div>
      </div>

      <input type="submit" class="form-control d-none">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.accept()" ng-disabled="areaForm.$invalid"><i class="fa fa-check"></i> Save</button>
    <button class="btn btn-secondary" ng-click="ctrl.close()"><i class="fa fa-ban"></i> Cancel</button>
  </div>
</div>
