// Custom mixin 'unselectable'

$os-border-radius: 4px;
$searchbar-height: 20px;

@mixin touch-callout($param) {
  // sass-lint:disable no-vendor-prefixes
  -webkit-touch-callout: $param;
}

@mixin tap-highlight-color($param) {
  // sass-lint:disable no-vendor-prefixes
  -webkit-tap-highlight-color: $param;
}

@mixin unselectable {
  @include touch-callout(none);
  @include user-select(none);
  // @include tap-highlight-color(none);
}

@mixin selectable {
  @include touch-callout(none);
  @include user-select(text);
  //@include tap-highlight-color(initial);
}

// disable linting of mixins, grabbing must be defined here
// sass-lint:disable no-duplicate-properties no-vendor-prefixes
// usage @include calc(width, '25% - 1em');  quote the expression.
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin grab-cursor {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: -ms-grab;
}

@mixin grabbing-cursor {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
}

@mixin filter ($expression) {
  -moz-filter: $expression;
  -ms-filter: $expression;
  -webkit-filter: $expression;
  filter: $expression;
}
