<div class="d-flex flex-fill u-overflow-y-auto">
  <table class="table table-striped table-hover m-0">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="property in propctrl.properties" ng-click="propctrl.select($event, property)" ng-class="{'selected': propctrl.selected==property}">
        <td class="text-truncate">{{property.field}}</td>
        <td><featureinfocell property="property"></featureinfocell></td>
      </tr>
    </tbody>
  </table>
</div>

