<div class="d-flex flex-column flex-fill">
  <table class="c-properties-table table table-borderless border-bottom m-0">
    <thead>
      <tr>
        <th ng-click="propctrl.setOrderColumn('field')">
          Field
          <i ng-show="columnToOrder == 'field'" class="slick-sort-indicator"
            ng-class="{'slick-sort-indicator-desc': !reverse, 'slick-sort-indicator-asc': reverse}">
          </i>
        </th>
        <th>
          <div class="d-flex align-items-center">
            <div class="flex-fill" ng-click="propctrl.setOrderColumn('value')">
              Value
              <i ng-show="columnToOrder == 'value'" class="slick-sort-indicator"
                ng-class="{'slick-sort-indicator-desc': !reverse, 'slick-sort-indicator-asc': reverse}">
              </i>
            </div>
            <i class="fa c-glyph" ng-class="propctrl.showEmpty && 'fa-compress' || 'fa-expand'"
              ng-click="propctrl.toggleEmpty()"
              title="{{propctrl.showEmpty ? 'Hide empty values' : 'Show empty values'}}">
            </i>
          </div>
        </th>
      </tr>
    </thead>
  </table>
  <div class="u-overflow-y-auto">
    <table class="c-properties-table table table-striped table-hover m-0">
      <tbody>
        <tr ng-repeat="property in propctrl.properties" ng-click="propctrl.select($event, property)" ng-class="{'selected': selected==property}">
          <td class="text-truncate" title="{{property.field}}">{{property.field}}</td>
          <td><featureinfocell property="property"></featureinfocell></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

