<div class="filterbuilder">
  <div class="advanced-filter-buttons" ng-if="!viewonly">
    <button class="btn btn-default" ng-disabled="advCtrl.editing" ng-click="advCtrl.addExpr()" title="Adds a new expression to the filter"><i class="btn-icon fa fa-plus green-icon"></i> Add Expression</button>
    <button class="btn btn-default" ng-disabled="advCtrl.editing" ng-click="advCtrl.addGrouping()" title="Adds a new group to the filter"><i class="btn-icon fa fa-plus green-icon"></i> Add Group</button>
    <button class="btn btn-default" ng-disabled="!advCtrl.canRemove() || advCtrl.Editing" ng-click="advCtrl.remove()" title="Removes an element from the filter"><i class="btn-icon fa fa-times red-icon"></i></button>
  </div>
  <div class="advanced-filter-tree" autoheight siblings=".advanced-filter-buttons">
    <slicktree x-data="advCtrl.tree" drag-enabled="true" selected="advCtrl.selected" show-root="true" multi-select="false"></slicktree>
  </div>
</div>
