<div class="flex-column d-flex flex-fill">
  <div class="flex-column my-2" ng-if="!viewonly">
    <button class="btn btn-primary btn-sm" ng-disabled="advCtrl.editing" ng-click="advCtrl.addExpr()" title="Adds a new expression to the filter"><i class="fa fa-plus"></i> Add Expression</button>
    <button class="btn btn-primary btn-sm" ng-disabled="advCtrl.editing" ng-click="advCtrl.addGrouping()" title="Adds a new group to the filter"><i class="fa fa-plus"></i> Add Group</button>
    <button class="btn btn-danger btn-sm" ng-disabled="!advCtrl.canRemove() || advCtrl.Editing" ng-click="advCtrl.remove()" title="Removes an element from the filter"><i class="fa fa-times"></i></button>
  </div>
  <div class="flex-column flex-fill d-flex">
    <slicktree x-data="advCtrl.tree" drag-enabled="true" selected="advCtrl.selected" show-root="true" multi-select="false"></slicktree>
  </div>
</div>
