<div class="flex-column d-flex flex-fill">
  <div class="flex-column d-flex flex-fill" ng-if="!isComplex">
    <div class="my-2">
      <div class="form-inline">
        <button class="mr-5 btn btn-primary btn-sm" ng-click="basicCtrl.add()" title="Adds a new expression to the filter"><i class="fa fa-plus"></i> Add Expression</button>
        <span class="form-inline">Match
          <label class="ml-2"><input type="radio" ng-model="root.grouping" value="And" />All (AND)</label>
          <label class="ml-2"><input type="radio" ng-model="root.grouping" value="Or" />Any (OR)</label>
        </span>
      </div>
    </div>
    <div class="flex-column d-flex flex-fill">
      <basicfiltertree x-data="root" disable-selection="true"></basicfiltertree>
    </div>
  </div>
  <div class="flex-column d-flex flex-fill" ng-if="isComplex">
    <p>
      <i class="fa fa-exclamation-triangle text-warning"></i>
      This filter is too complex to display in basic mode. Please go to the Advanced tab.
    </p>
  </div>
</div>
