<div ng-form="copyFilterPickerForm">
  <div class="row bg-secondary">
    <div class="col form-inline">
      <span class="col-6 text-truncate" title="{{sourceLayerName}} Column">{{sourceLayerName}} Column</span>
      <span class="col-6 text-truncate" title="{{models[0].name}} Column">{{models[0].name}} Column</span>
    </div>
  </div>
  <div class="row" ng-repeat="model in models">
    <div class="col form-inline">
      <span class="col-5 text-truncate" title="{{model.sourceColumnName}}">{{model.sourceColumnName}}</span>
      <span class="col-1"><i class="fa fa-long-arrow-right" title="Becomes..."></i></span>
      <select class="col-6 custom-select text-truncate" ng-change="copyFilterPickerCtrl.validate()" ng-model="model.selectedTargetColumn" ng-options="col.name for col in model.targetColumns" required/>
    </div>
  </div>
  <div>
    <i class="fa fa-warning text-warning" ng-if="copyFilterPickerForm.$error.duplicate || copyFilterPickerForm.$error.inUse"></i>
    <span ng-if="copyFilterPickerForm.$error.duplicate" ng-bind-html="copyFilterPickerCtrl.duplicateText"></span>
    <span ng-if="!copyFilterPickerForm.$error.duplicate && copyFilterPickerForm.$error.inUse" ng-bind-html="copyFilterPickerCtrl.inUseText"></span>
  </div>
</div>
