<div class="flex-column d-flex flex-fill">
  <div class="modal-body flex-column d-flex flex-fill u-overflow-y-hidden">
    <div ng-form name="filterForm" class="container-fluid flex-column d-flex flex-fill">
      <div class="row mb-1">
        <label class="col-form-label col-2 text-right u-required" for="filterTitle">Title</label>
        <div class="col form-inline">
          <input class="form-control w-50" id="filterTitle" type="text" ng-model="filters.title" name="title" required/>
          <validation-message target="filterForm.title"></validation-message>
        </div>
      </div>
      <div class="row mb-1">
        <label class="col-form-label col-2 text-right" for="filterDesc">Description</label>
        <div class="col form-inline">
          <input class="form-control w-50" id="filterDesc" type="text" ng-model="filters.description" name="description"/>
        </div>
      </div>
      <ul class="nav nav-tabs flex-shrink-0">
        <li class="nav-item"><a href class="nav-link" ng-class="{active: tab == 'basic'}" ng-click="filters.setTab('basic')">Basic</a></li>
        <li class="nav-item"><a href class="nav-link" ng-class="{active: tab == 'advanced'}" ng-click="filters.setTab('advanced')">Advanced</a></li>
      </ul>
      <div ng-if="tab == 'basic'" class="flex-column d-flex flex-fill">
        <basicfilterbuilder root="filters.root" columns="columns" is-complex="filters.isComplex"></basicfilterbuilder>
      </div>
      <div ng-if="tab == 'advanced'" class="flex-column d-flex flex-fill">
        <advancedfilterbuilder root="filters.root" columns="columns"></advancedfilterbuilder>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="filters.finish()" ng-disabled="filters.isInvalid()"><i class="fa fa-check"></i> OK</button>
    <button class="btn btn-secondary" ng-click="filters.cancel()"><i class="fa fa-ban"></i> Cancel</button>
  </div>
</div>
