<div class="flex-column d-flex u-flex-grow">
  <div class="modal-body flex-column d-flex u-flex-grow">
    <div ng-form name="filterForm" class="flex-column d-flex u-flex-grow">
      <div class="row">
        <label class="col-form-label col-6 text-right">Title</label>
        <label class="col-form-label col-6 text-left">{{filters.title}}</label>
      </div>
      <div class="row">
        <label class="col-form-label col-6 text-right">Description</label>
        <label class="col-form-label col-6 text-left">{{filters.description}}</label>
      </div>
      <hr>
      <div class="u-flex-grow">
        <advancedfilterbuilder root="filters.root" columns="columns" viewonly="viewonly"></advancedfilterbuilder>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="filters.cancel()"><i class="fa fa-check"></i> OK</button>
  </div>
</div>
