<div class="flex-column d-flex flex-fill">
  <div class="modal-body flex-column d-flex flex-fill">
    <div ng-form name="filterForm" class="flex-column d-flex flex-fill">
      <div class="row">
        <label class="col-form-label col-2 text-right">Title</label>
        <label class="col-form-label col">{{filters.title}}</label>
      </div>
      <div class="row">
        <label class="col-form-label col-2 text-right">Description</label>
        <label class="col-form-label col">{{filters.description}}</label>
      </div>
      <div class="d-flex flex-column flex-fill">
        <advancedfilterbuilder root="filters.root" columns="columns" viewonly="viewonly"></advancedfilterbuilder>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="filters.cancel()"><i class="fa fa-check"></i> OK</button>
  </div>
</div>
