// Scroll panes

.scroll-pane-wrapper {
  overflow: hidden;

  &::before {
    @include box-shadow(0 10px 10px -10px #999 inset);
    content: '';
    display: block;
    height: 10px;
    margin-bottom: -10px;
    position: relative;
    z-index: 1;
  }

  &::after {
    @include box-shadow(0 -10px 10px -10px #999 inset);
    content: '';
    display: block;
    height: 10px;
    margin-top: -10px;
    position: relative;
  }
}

.scroll-pane {
  height: 600px;
  overflow-x: hidden;
  position: relative;

  &.ps-container {
    overflow: hidden !important;
  }
}
