.editor-toolbar.fullscreen {
  top: 16px;
  z-index: 20000;
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 25px;
}

.limitsimpleMDE-preview .simplemde .preview {
  max-height: 600px;
  overflow: auto;
}

.limitsimpleMDE-preview__medium .simplemde .preview {
  max-height: 800px;
  overflow: auto;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
  min-height: none;
}

.CodeMirror .editor-preview>p {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
}

.editor-preview-side>p {
  margin: 0;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
}

.editor-preview-side {
  bottom: 16px;
  top: 66px;
  z-index: 101;
}

.CodeMirror-sided {
  width: 49% !important;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: inherit;
  opacity: .5;
}

.CodeMirror {
  border-radius: 4px;
  z-index: 0;
}

.CodeMirror-fullscreen {
  bottom: 16px;
  max-height: none;
  min-height: none;
  top: 66px;
  z-index: 20000;
}

.CodeMirror:not(.CodeMirror-fullscreen) .CodeMirror-scroll {
  max-height: 500px;
}

.edit-form .editor-toolbar::after {
  margin-top: 4px;
}

.edit-form .editor-toolbar::before {
  margin-bottom: 4px;
}

.edit-form .simplemdeform.ng-pristine.ng-invalid .CodeMirror {
  background: #fffff5;
}

.edit-form .simplemdeform.ng-dirty.ng-invalid .CodeMirror {
  background: #ffe8e8;
  border-color: #b94a48;
}

.edit-form .CodeMirror,
.edit-form .CodeMirror-scroll {
  min-height: 180px;
}

.edit-form .CodeMirror {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.simplemde .editor-statusbar {
  float: right;
}

.simplemde .help-block {
  padding-left: 10px;
  padding-top: 6px;
}
