// * Alert Styles
// ************************************************************

// see modules _colors.scss for variable defs

.alert {
  opacity: 0;
  padding: 8px 14px;
  word-wrap: break-word;

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  .close.inline {
    font-size: 16px;
    right: 0;
    top: 0;
  }
}

.alert-list > * {
  margin-top: 3px;
  opacity: 1;
}

.alert-list > *:first-child {
  margin-top: 0;
}

.alert-row {
  padding: 1px;
}

.font-error {
  color: $color-font-error;
}

.font-warning {
  color: $color-font-warning;
}

.font-success {
  color: $color-font-success;
}

.font-info {
  color: $color-font-info;
}

.alert-error {
  background-color: #f9cfce;
  border-color: #a55;
  color: $color-alert-error;
  opacity: 1;

  a {
    color: darken($color-alert-error, 10);
  }
}

.alert-error-add {
  background-color: #f9cfce;
  border-color: #a55;
  color: $color-alert-error;

  a {
    color: darken($color-alert-error, 10);
  }
}

.alert-error-add h4 {
  color: $color-alert-error;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #c95;
  color: $color-alert-warning;
  opacity: 1;

  a {
    color: darken($color-alert-warning, 10);
  }
}

.alert-warning-add {
  background-color: #fcf8e3;
  border-color: #c95;
  color: $color-alert-warning;

  a {
    color: darken($color-alert-warning, 10);
  }
}

.alert-warning-add h4 {
  color: $color-alert-warning;
}

.alert-info {
  background-color: #eee;
  border-color: #999;
  color: $color-alert-info;
  opacity: 1;

  a {
    color: darken($color-alert-info, 10);
  }
}

.alert-info-add {
  background-color: #eee;
  border-color: #999;
  color: $color-alert-info;

  a {
    color: darken($color-alert-info, 10);
  }
}

.alert-info-add h4 {
  color: $color-alert-info;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #6a6;
  color: $color-alert-success;
  opacity: 1;

  a {
    color: darken($color-alert-success, 10);
  }
}

.alert-success-add {
  background-color: #dff0d8;
  border-color: #6a6;
  color: $color-alert-success;

  a {
    color: darken($color-alert-success, 10);
  }
}

.alert-success-add h4 {
  color: $color-alert-success;
}

.alert-info h4 {
  color: #555;
}
