// Filter builder styles

.expression select,
.expression input {
  width: calc(33% - 10px);
}

.filterform {
  height: 100%;

  &.form-compact {
    .control-group {
      margin-bottom: 2px;

      .control-label {
        padding: 3px 3px 0 0;
        width: 105px;
      }
    }
  }

  .expression select,
  .expression input {
    width: calc(33% - 16px);
  }

  .ng-dirty .ng-invalid {
    border-color: #f04 !important;
  }

  .ng-dirty.ng-invalid:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #888 !important;
  }

  .filterbuilder {
    height: 100%;
  }

  .exprs {
    @include box-sizing(border-box);
    background: #444;
    border: 1px solid #000;
    height: calc(100% - 30px);
    margin-top: 5px;
    overflow: auto;
    padding: 5px;
  }

  .advanced-filter-tree {
    height: 100%;
    width: 100%;
  }

  .advanced-filter-buttons {
    margin-bottom: 2px;
  }

  .nav-tabs {
    margin-bottom: 0;
  }

  .group-glyphs {
    position: absolute;
    right: 2px;
    z-index: 6;
  }
}
