@keyframes pulsate {
  0% { opacity: .3; }
  75% { opacity: 1; }
  100% { opacity: .3; }
}

.a-pulsate {
  animation: pulsate 1s infinite steps(15);
}


@keyframes wiggle {
  0% {
    transform: rotate(0);
  }

  10%,
  20% {
    transform: rotate(-16deg);
  }

  30% {
    transform: rotate(16deg);
  }

  40% {
    transform: rotate(-16deg);
  }

  50% {
    transform: rotate(16deg);
  }

  60% {
    transform: rotate(-16deg);
  }

  70% {
    transform: rotate(16deg);
  }

  80%,
  100% {
    transform: rotate(0);
  }
}

.a-faa-wiggle {
  animation: wiggle 2s linear 8;
}

.a-faa-wiggle-short {
  animation: wiggle 2s linear 2;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%,
  20% {
    transform: scale(.9) rotate(-8deg);
  }

  30%,
  50%,
  70% {
    transform: scale(1.3) rotate(8deg);
  }

  40%,
  60% {
    transform: scale(1.3) rotate(-8deg);
  }

  100%,
  80% {
    transform: scale(1) rotate(0);
  }
}

.a-faa-tada {
  animation: tada 2s linear 1;
}

.a-all {
  transition: all .2s;

  // NOTE: this is what makes it so the elements dont flicker on model updates
  &.ng-enter,
  &.ng-leave {
    transition: none;
  }
}

.a-add-animation-zindex__base {
  z-index: $u-zindex-base + 2;
}

.a-transition-duration__200ms {
  transition-duration: 200ms !important;
}

.a-transition-duration__100ms {
  transition-duration: 100ms !important;
}

.a-transition-leave__none {
  // NOTE: this is what makes it so the elements dont flicker on model updates
  &.ng-hide {
    transition: none;
  }
}

