.c-annotation__editing {
  z-index: 1;
}

.c-annotation__svg {
  pointer-events: none;

  path {
    fill: $card-bg;
    stroke: $card-bg;
  }
}

//
// used to calculate annotation size from arbitrary text. this prevents the measured text from exceeding the max
// allowed width for computed annotations.
//
.u-annotation__measure {
  // if this value is changed, os.annotation.MAX_DEFAULT_WIDTH must be updated as well
  max-width: 350px;
  word-wrap: break-word;
}
