.c-dd-target__dragover {
  position: relative;

  &:before {
    background: rgba($u-theme-variables--bg-offset, .33);
    border: .2rem dashed color-yiq($u-theme-variables--bg-offset);
    border-radius: $border-radius;
    content: '';
    height: 100%;
    left: 0;
    max-height: 100vh;
    max-width: 100vw;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $zindex-tooltip;
  }

  &:after {
    background: $white;
    border: .2rem solid $warning;
    border-radius: $border-radius;
    color: $black;
    content: attr(data-text);
    display: flex;
    font-size: $font-size-lg;
    justify-content: center;
    left: 25%;
    opacity: .7;
    padding: .5rem;
    pointer-events: none;
    position: absolute;
    top: 10%;
    width: 50%;
    z-index: $zindex-tooltip;
  }

  .c-dd-placeholder {
    visibility: hidden;
  }
}

.c-dd-source {
  @include grab-cursor();
}

.c-dd-source__dragging {
  @include grabbing-cursor();
  background: $gray-100;
  border: dashed .2rem $cyan;
  border-radius: .5rem;
  color: $gray-800;
  font-size: 1rem;
  font-style: italic;
  height: auto;
  opacity: .5;
  padding: 1rem;
  width: 15rem;
  z-index: $zindex-dropdown - 1;
}

.c-dd-placeholder {
  align-items: center;
  border: .2rem dashed $secondary;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 100%;
}
