.c-drag-and-drop-icon__share {
  bottom: .5em;
  font-size: 1.5em;
  left: -.5em;
  position: relative;
}

.c-drag-and-drop-icon__file {
  font-size: 1.5em;
  left: -.5em;
  position: relative;
  top: -.5em;
}
