// sass-lint:disable no-extends, placeholder-in-extend
.c-dd-target__dragover {
  opacity: .75;

  &::after {
    bottom: 50%;
    color: $success;
    content: 'Drag & Drop';
    font-size: 4.5rem;
    font-weight: bold;
    height: 4.5rem;
    left: 50%;
    margin-left: -14rem;
    margin-top: -4.5rem;
    position: absolute;
    right: 50%;
    text-align: center;
    text-shadow: 1px 1px color-yiq($success);
    top: 50%;
    width: 28rem;
    z-index: $zindex-tooltip;
  }
}

.c-dd-source {
  @include grab-cursor();
}

.c-dd-source__dragging {
  @include grabbing-cursor();
  background: $gray-100;
  border: dashed .2rem $cyan;
  border-radius: .5rem;
  color: $gray-800;
  font-size: 1rem;
  font-style: italic;
  height: auto;
  opacity: .5;
  padding: 1rem;
  width: 15rem;
  z-index: $zindex-dropdown - 1;
}
