.c-dd-target__dragover {
  &::after {
    align-items: center;
    background: rgba($white, .5);
    border: .5rem dashed $gray-900;
    color: $gray-900;
    content: 'Drag & Drop';
    display: flex;
    font-size: 5rem;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1070;
  }
}

.c-dd-source {
  @include grab-cursor();
}

.c-dd-source__dragging {
  @include grabbing-cursor();
  background: $gray-100;
  border: dashed .2rem $cyan;
  border-radius: .5rem;
  color: $gray-800;
  font-size: 1rem;
  font-style: italic;
  height: auto;
  opacity: .5;
  padding: 1rem;
  width: 15rem;
  z-index: $zindex-dropdown - 1;
}
