.c-icon-picker__icon {
  height: 1.5rem;
  width: 1.5rem;
}

.c-icon-picker__large-icon {
  height: 3rem;
  width: 3rem;
}

.c-icon-picker__background {
  background-color: $secondary;
  border: $border-width solid $border-color;
}
