// The purpose of this file is to remove jquery ui menu items and let bootstrap do its thing
.c-menu.ui-menu {
  background: inherit;

  .ui-menu-item {
    list-style-image: none;
    margin: inherit;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  }

  .ui-state-focus {
    background: transparent;
    @include gradient-bg($dropdown-link-hover-bg);
    border: 0;
    color: $dropdown-link-hover-color;
    font-weight: inherit;
    text-decoration: none;
  }
}
