// Miscellaneous utility CSS classes not provided by Bootstrap

// Mixins

@mixin grab-cursor {
  // sass-lint:disable no-duplicate-properties, no-vendor-prefixes
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: -ms-grab;
}

@mixin grabbing-cursor {
  // sass-lint:disable no-duplicate-properties, no-vendor-prefixes
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
}

// This extends bootstraps bg-<varents> to also have background colors
@mixin bg-text-variant($background) {
  color: color-yiq($background);
}

// Classes
.d-flex {
  // this piggybacks off of the BS4 .d-flex selector in order to fix Firefox's bad handling of column flex layouts
  min-height: 0;
}

.u-pointer-events-none {
  pointer-events: none;
}

.u-pointer-events-all {
  pointer-events: all;
}

.flex-grow {
  flex: 1;
  position: relative;
}

.u-flex-shrink {
  flex-shrink: 0;
}

.u-overflow-y-auto {
  overflow-y: auto;
}

.u-cursor-grab {
  @include grab-cursor();
}

.u-cursor-grab.moving {
  @include grabbing-cursor();
}

// For all the bootstrap themes, create our utility color
@each $color, $value in $theme-colors {
  .u-bg-#{$color}-text {
    @include bg-text-variant($value);
  }
}
