@mixin grab-cursor {
  cursor: grab;
  cursor: -webkit-grab; // stylelint-disable-line declaration-block-no-duplicate-properties, value-no-vendor-prefix
}

@mixin grabbing-cursor {
  cursor: grabbing;
  cursor: -webkit-grabbing; // stylelint-disable-line declaration-block-no-duplicate-properties, value-no-vendor-prefix
}

// This extends bootstraps bg-<variants> to also have background colors
@mixin bg-text-variant($background) {
  color: color-yiq($background);
}

// Set svg to use the body background and body font color
@mixin svg-body-styles {
  fill: $body-bg;
  height: 100%;
  overflow-x: hidden;
  width: 100%;

  // d3 classname, we can't change it
  .tick {
    pointer-events: none;
  }

  text {
    fill: $body-color;
    font-weight: 800;
    paint-order: stroke;
    stroke: $body-bg;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 3px;
  }
}

@mixin hoverable-link {
  color: $body-color;

  &:hover {
    text-decoration: none;
  }
}

@mixin font-awesome {
  // stylelint-disable order/properties-alphabetical-order
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  // Fall back on the Font Awesome 4 font-family for backward compatibility.
  font-family: 'Font Awesome 5 Free', 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  text-rendering: auto;
  // stylelint-enable order/properties-alphabetical-order
}

@mixin u-bg-color-content($color) {
  .u-bg-#{$color}-text {
    @content;
  }

  .u-bg-#{$color}-text-a .btn.btn-link,
  .u-bg-#{$color}-text-a a {
    @content;
  }
}
