@mixin grab-cursor {
  // sass-lint:disable no-duplicate-properties, no-vendor-prefixes
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: -ms-grab;
}

@mixin grabbing-cursor {
  // sass-lint:disable no-duplicate-properties, no-vendor-prefixes
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
}

// This extends bootstraps bg-<varents> to also have background colors
@mixin bg-text-variant($background) {
  color: color-yiq($background);
}
