.c-navtop {
  .c-navtop__header {
    &.navbar-dark.bg-dark {
      background: $body-bg !important;
      color: $body-color;

      .nav-link {
        color: $body-color !important;
      }
    }
  }

  // Fixes buttons and forms in the navbar
  .form-control,
  .btn {
    font-family: sans-serif;
    font-size: .875rem;
    padding: .1rem .2rem;
  }
}
