// sass-lint:disable no-extends, placeholder-in-extend
ng-form,
form {
  input.ng-invalid.ng-dirty,
  span.ng-invalid.ng-dirty,
  div:not([ng-form]).ng-invalid.ng-dirty,
  select.ng-invalid.ng-dirty,
  textarea.ng-invalid.ng-dirty {
    @extend .form-control.is-invalid;
  }

  .select2-container.ng-invalid.ng-dirty {
    .select2-choice,
    .select2-choices {
      @extend .form-control.is-invalid;
    }
  }
}
