// Openlayers Modifications
.ol-overlaycontainer-stopevent {
  height: 0;
  // Prevent IE from thinking this container should have a height, since it doesn't.
}

// Viewport
.ol-viewport {
  height: 100% !important;

  > canvas {
    display: inherit;
  }
}

// Generic Controls
.ol-control {
  background-color: rgba($body-bg, .8);
  border: .1rem solid $border-color;
  color: rgba($body-color, .8);
  position: absolute;

  &:focus,
  &:hover {
    background-color: rgba($body-bg, .8);
    border: .1rem solid $border-color;
    color: rgba($body-color, .8);
  }

  button {
    background-color: rgba($body-bg, .1);
    color: rgba($body-color, .8);
    cursor: pointer;

    &:hover,
    &.active {
      background-color: rgba($primary, .8);
    }
  }
}


// If the draw controls are absolutely positioned, position to top left
.draw-controls {
  bottom: auto;
  left: .75rem;
  right: auto;
  top: .75rem;
}


// + / - zoom control buttons
.ol-zoom {
  bottom: auto;
  left: auto;
  right: .75rem;
  top: .75rem;
}


// Arrow rotation control button
.ol-rotate {
  bottom: auto;
  left: auto;
  right: .75rem;
  top: 4.5rem;
}


// 2D / 3D switcher button
.ol-mapmode {
  bottom: auto;
  left: auto;
  right: .75rem;
  top: 6.75rem;

  .ol-mapmode-text {
    font-size: .9em;
  }
}


// Zoombar needs a min width
.ol-zoom-level {
  min-width: 15rem;
}

// If the zoom level is small, dont take as much space
.small .ol-zoom-level {
  min-width: 10rem;
}


// Layer switcher
.ol-layer-switcher {
  bottom: auto;
  left: auto;
  right: 3rem;
  text-align: left;
  top: .75rem;

  .panel {
    padding: 0 5px;
  }

  .layers-inner {
    background-image: url('../../images/layers.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 2.5rem;
    margin-left: auto;
    width: 2.5rem;
  }

  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }
}


// Overview map
.ol-overviewmap {
  bottom: auto;
  left: auto;
  right: 3rem;
  top: .75rem;

  &.ol-collapsed button {
    position: static;
  }

  button {
    background: rgba($body-bg, .5);
    color: rgba($body-color, .8);
    position: absolute;
    right: .1rem;
    top: .1rem;
  }

  .ol-overviewmap-map {
    border: 0;
    display: block;
    height: 7.625rem;
    margin: 0;
    width: 15rem;
  }

  .ol-overviewmap-box {
    border: .125rem dotted $danger;
  }
}

// Collapsed overview map
.ol-collapsed .ol-overviewmap-map {
  display: none;
}


// Scale Line
.ol-scale-line {
  bottom: .75rem;
  cursor: pointer;
  left: .75rem;
  padding: .5rem;
  right: auto;
  top: auto;

  .ol-scale-line-inner {
    border-color: rgba($body-color, .8);
    color: rgba($body-color, .8);
    display: inline-block;
    font-size: .75rem;
    height: .5rem;
    line-height: 0;
  }
}


// Attribution
.ol-attribution,
.ol-attribution.ol-uncollapsible {
  bottom: .25rem;
  height: unset;
  left: .25rem;
  right: auto;
  top: auto;

  li:nth-child(n+2):not(:last-child):after {
    content: ', ';
  }

  &:hover {
    background-color: rgba($body-bg, .9);
    color: rgba($body-color, .9);
  }

  a {
    color: rgba($link-color, .8);
  }
}


// Mouse Position
.ol-mouse-position {
  bottom: .75em;
  cursor: pointer;
  left: auto;
  right: .75rem;
  top: auto;
}


// Things in the dark navbar. Light navbars should just get the defaults
.navbar-dark {
  .ol-mouse-position {
    bottom: auto;
    color: $navbar-dark-color;
    right: auto;
  }

  .ol-zoom-level {
    color: $navbar-dark-color;
    min-width: 15rem;
  }

  .ol-scale-line {
    background: transparent;
    bottom: auto;
    color: $navbar-dark-color;
    left: auto;
    min-width: 10rem;
    padding: unset;

    .ol-scale-line-inner {
      border-color: $navbar-dark-color;
      color: $navbar-dark-color;
    }
  }
}
