// Overrides for select2
.select2-container {
  // Single select2
  &.select2-dropdown-open .select2-choice {
    box-shadow: none;
  }

  .select2-choice {
    // sass-lint:disable-block no-extends, placeholder-in-extend
    @extend .form-control;
    background-image: none;
    height: $input-height;
    text-decoration: none !important;

    .select2-arrow {
      background-color: $input-bg;
      background-image: none;
      border-color: $input-bg;
    }
  }

  // Multiple select2
  &.select2-container-multi {
    width: 100%;

    .select2-choices {
      // sass-lint:disable-block no-extends, placeholder-in-extend
      @extend .form-control;
      background-image: none;
      min-width: 10rem;

      .select2-search-choice {
        background-color: lighten($body-bg, 5%);
        background-image: none;
        color: color-yiq(lighten($body-bg, 5%));
        margin: 0 .125rem;

        // this is an ugly style, but it's the only selector for the chip elements in a multi-select2
        div {
          max-width: 35rem;
          min-height: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .select2-search-field {
        input.select2-input {
          background: transparent;
          border: 0;
          box-shadow: none;
          color: $body-color;
          font-family: $font-family-base;
          padding: 0;

          &.select2-active {
            background: $input-bg no-repeat 100% !important;
          }

          &::placeholder {
            color: $input-placeholder-color;
            // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
            opacity: 1;
          }
        }
      }

      &.select2-container-disabled .select2-choices {
        background-color: $input-disabled-bg;
        background-image: none;

        .select2-search-choice {
          border: $input-border-color;
        }
      }
    }
  }

  &.select2-container-disabled {
    .select2-choice {
      background-color: $input-disabled-bg;
      background-image: none;
      border-color: $input-border-color;

      .select2-arrow {
        background-color: $input-disabled-bg;
        background-image: none;
      }
    }
  }
}

.select2-drop {
  background: $input-bg;
  border: $input-border-width solid $input-border-color;
  color: $input-color;
  pointer-events: all;

  // Single select2
  .select2-search input {
    // sass-lint:disable-block no-extends, placeholder-in-extend
    @extend .form-control;
    background-image: none;
  }

  // Multiple select2
  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: transparent;
  }
}

// form-control sets 'width: auto' in a form-inline, which shrinks the select2. prevent that from happening.
.form-inline {
  .select2-container {
    .select2-choice {
      width: 100%;
    }
  }
}

.select2-drop-mask {
  width: 100%;
}

.c-select2__no-padding .select2-results .select2-result-label {
  padding: 0;
}
