// Overrides for select2
.select2-container.select2-container-multi {
  width: 100%;

  // sass-lint:disable no-extends
  // sass-lint:disable placeholder-in-extend
  .select2-choices {
    @extend .form-control;
    background-image: none;
    min-width: 10rem;

    .select2-search-choice {
      margin: 1px 0 1px 5px;
    }

    // sass-lint:disable no-extends
    // sass-lint:disable placeholder-in-extend
    .select2-search-field input.select2-input {
      @extend .form-control;
      background: transparent;
      border: 0;
      line-height: $line-height-base;
      margin: 0;
      padding: 0;
      width: 100% !important;

      &::placeholder {
        color: $input-placeholder-color;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }
    }
  }
}

.select2-drop {
  background: $input-bg;
  border: $input-border-width solid $input-border-color;
  color: $input-color;
  pointer-events: all;

  .select2-results .select2-no-results,
  .select2-results .select2-searching,
  .select2-results .select2-ajax-error,
  .select2-results .select2-selection-limit {
    background: transparent;
  }
}
