// Styles for slickgrids and slicktrees
// These selectors will not conform to all of our standards as they alter the styling of elements internal to slickgrid

.slick-grid {
  // border: 1px solid $border-color;
  box-sizing: content-box;
  height: 100%;
  width: 100%;

  .even {
    background: $table-accent-bg;
  }

  .odd {
    background: $body-bg;
  }

  &.no-borders {
    .slick-cell {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  &.no-header {
    border-top: 0;
    width: 100%;

    .slick-header {
      display: none;
      height: 0;
    }
  }

  .slick-header,
  .slick-header-column {
    background: $body-bg;
    color: $body-color;
  }

  .slick-header {
    border: $table-border-color;

    .slick-header-buttons {
      cursor: pointer;
      float: right;
    }
  }

  .slick-header-column {
    border-bottom: 1px solid $table-dark-border-color;
    border-right-color: $table-dark-border-color;
    border-top: 1px solid $table-dark-border-color;
    box-sizing: content-box;
    cursor: pointer;

    .ui-state-hover {
      background: $table-hover-bg;
      border-color: $table-border-color;
      color: $body-color;
    }

    &:first-child {
      border-left: 1px solid $table-dark-border-color;
      padding-left: 3px;
    }

    &:last-child {
      border-right-color: $table-dark-border-color;
    }
  }

  .slick-resizable-handle {
    color: $table-border-color;
  }
}


.slick-row {
  @include gradient-bg($dropdown-link-hover-bg);
  @include hover {
    background: $dropdown-link-hover-bg;
    color: $dropdown-link-hover-color;
  }

  background: $body-bg;
  color: $body-color;

  &.selected {
    background: $component-active-bg;
    color: $component-active-color;

    a {
      color: $component-active-color;
    }
  }
}

.slick-sort-indicator {
  background: none;
  float: left;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  height: inherit;
  margin: 0 2px 0 0;

  &:not([class*='slick-sort-indicator-']) {
    display: none;
  }
}

.slick-column-name {
  display: inline-block;
  float: left;
}

.slick-sort-indicator-asc::after {
  content: '\f0d8';
}

.slick-sort-indicator-desc::after {
  content: '\f0dd';
}

.slick-cell {
  align-items: center;
  border-bottom-color: $table-border-color;
  border-right-color: $table-border-color;
  display: flex;
  padding: 2px;

  a {
    color: $link-color;
    padding: 0 5px;
  }

  &:first-child {
    border-left: 1px solid $table-border-color;
    padding-right: 1px;
  }

  &:last-child {
    border-right-style: solid;
  }
}

.slick-cell.color {
  text-align: center;

  > i {
    font-size: $font-size-base;
  }
}

.slick-cell-link {
  text-decoration: underline;
}

.slick-dragging {
  background: $table-accent-bg;
}

// * Editable grid styles
// ************************************************************/

.slick-grid.editable {
  // add a bottom border so it's easier to tell when there is an empty (new) row at the bottom.
  .slick-row.ui-widget-content {
    border-bottom: 1px solid #333;
  }

  .slick-cell {
    // active cell has a full border, so when not active shift text slightly so it doesn't visibly move
    &:not(.active) {
      padding-left: .5rem;
    }

    &.editable {
      // when editing a cell, make it look inset
      background: #333;
      box-shadow: inset 0 0 3px #111;

      // override bootstrap styles on the input so it fits in the cell
      input.editor-text {
        background: transparent;
        border: 0;
        box-shadow: none;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
      }
    }
  }

  // override the highlight background while editing
  .slick-row:hover .slick-cell.editable {
    background: #333;
  }
}

// * Tree styles
// ************************************************************/

.slick-tree {
  background: $body-bg;
  box-sizing: content-box;
  height: 100%;
  width: 100%;

  .slick-cell .slick-node-ui i:first-child {
    padding-left: .5rem;
  }

  .slick-header-columns {
    height: 0;
  }

  .slick-header.ui-state-default {
    border: 0;
  }

  .slick-cell {
    border: 0;
    padding: 0 .5rem;
  }

  .slick-viewport {
    overflow-x: hidden !important;
  }
}

.tree-spacer {
  display: inline-block;
  height: 1px;
}

.tree-expand-collapse {
  font-size: $font-size-base;
}

.tree-icons {
  padding-right: .5rem;
  vertical-align: text-bottom;

  i.fa {
    text-align: center;
    vertical-align: middle;
    width: $font-size-base;
  }
}
