.c-searchresults {
  bottom: 0;
  max-width: 35rem;
  right: 0;
  top: 0;
  z-index: $u-zindex-base + 1;
}

// Prevent search results from taking up too much screen space in smaller windows.
@media (max-width: map-get($grid-breakpoints, lg)) {
  .c-searchresults {
    max-width: 50%;
  }
}
