.c-searchresults {
  max-width: 35rem;
  right: 0;
  z-index: 1;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .c-searchresults  {
    max-width: 75% !important;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .c-searchresults  {
    max-width: 95% !important;
  }
}
