// Styles for slickgrids and slicktrees
// These selectors will not conform to all of our standards as they alter the styling of elements internal to slickgrid

.slick-grid {
  @include box-sizing(border-box);
  border: 1px solid #000;
  height: 100%;
  width: 100%;

  .even {
    background: #333;
  }

  .odd {
    background: #666;
  }

  .slick-cell {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  .slick-header-column {
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
  }

  &.no-header {
    border-top: 0;
    width: 100%;

    .slick-header {
      display: none;
      height: 0;
    }

    .slick-cell {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

.slick-viewport {
  overflow-x: hidden !important;

  &.ps-container {
    overflow: hidden !important;
  }
}

.slick-row {
  @include hover {
    background-color: $table-hover-bg;
  }

  background: $body-bg;
  color: $body-color;

  &.selected:not(:hover) {
    background: $component-active-bg;
    color: $component-active-color;
  }
}

.slick-sort-indicator {
  background: none;
  float: left;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  height: inherit;
  line-height: 1;
  margin: 0 2px 0 0;

  &:not([class*='slick-sort-indicator-']) {
    display: none;
  }
}

.slick-column-name {
  display: inline-block;
  float: left;
}

.slick-sort-indicator-asc::after {
  content: '\f0d8';
}

.slick-sort-indicator-desc::after {
  content: '\f0dd';
}

.slick-cell.color {
  text-align: center;

  > i {
    font-size: 14px;
  }
}

.slick-cell-link {
  text-decoration: underline;
}

.slick-dragging {
  background: #98ff98;
}

// * Editable grid styles
// ************************************************************/

.slick-grid.editable {
  // add a bottom border so it's easier to tell when there is an empty (new) row at the bottom.
  .slick-row.ui-widget-content {
    border-bottom: 1px solid #333;
  }

  .slick-cell {
    // active cell has a full border, so when not active shift text slightly so it doesn't visibly move
    &:not(.active) {
      padding-left: 2px;
    }

    &.editable {
      // when editing a cell, make it look inset
      @include box-shadow(inset 0 0 3px #111);
      background: #333;

      // override bootstrap styles on the input so it fits in the cell
      input.editor-text {
        @include box-shadow(none);
        @include box-sizing(border-box);
        background: transparent;
        border: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  // override the highlight background while editing
  .slick-row:hover .slick-cell.editable {
    background: #333;
  }
}

// * Tree styles
// ************************************************************/

.slick-tree {
  @include box-sizing(border-box);
  background: $body-bg;
  height: 100%;
  width: 100%;

  .slick-cell .slick-node-ui i:first-child {
    padding-left: 2px;
  }

  .slick-header-columns {
    height: 0;
  }

  .slick-header.ui-state-default {
    border: 0;
  }

  .slick-cell {
    border: 0;
    padding: 0 2px 5px;
  }
}

.tree-spacer {
  display: inline-block;
  height: 1px;
}

.tree-expand-collapse {
  font-size: .8em;
  width: 1.4em;
}

.tree-icons {
  padding-right: 2px;

  i.fa {
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    width: 14px;
  }
}
