// Parent Slicktree, depends on slickgrid
.c-slick-tree {
  background: $body-bg;
  box-sizing: content-box;
  flex: 1;
  width: 100%;

  &.ui-widget:not(.c-slick-tree__font-size-base) {
    font-size: $font-size-sm;
  }

  .slick-row .slick-cell .fa {
    font-size: $font-size-base;
  }

  &.no-hover {
    .slick-row:hover {
      background: inherit;
    }
  }

  .slick-cell .slick-node-ui i:first-child {
    padding-left: .5rem;
  }

  .slick-header-columns {
    height: 0;
  }

  .slick-header.ui-state-default {
    border: 0;
  }

  .slick-cell {
    align-items: center;
    border: 0;
    display: flex;
    padding: 2px;
  }

  .slick-viewport {
    overflow-x: hidden !important;
  }

  // Forms in slick trees are too tall by default
  .slick-row .form-control,
  .slick-row .custom-select {
    height: 1.3125rem !important;
    line-height: 1rem !important;
    margin: .1rem 0;
  }
}

// Slick Tree Node
.c-slick-tree-node__spacer {
  display: inline-block;
  flex-shrink: 0;
  height: 1px;
}


// Node Toggle
.c-node-toggle {
  cursor: pointer;
  flex-shrink: 0;
  font-size: $font-size-base;
}


// Node Icons
.c-node-icons {
  i.fa {
    text-align: center;
    vertical-align: middle;
    width: $font-size-base;
  }
}
