// * Timeline Panel Styles
// *******************************************
.c-timeline-panel {
  background: $body-bg;
  z-index: $u-zindex-base + 1;
}

.c-timeline-panel__buttons {
  background: $body-bg;
  border-left: 1px solid $border-color;
  border-radius: .25rem 0 0;
  border-top: 1px solid $border-color;
  margin-top: -1.5rem;
  padding: 0 .25rem;
  position: absolute;
  right: 0;
}

.c-timeline-panel__fps-slider {
  white-space: nowrap;

  .slider-container {
    display: inline-block;
    width: 5rem;
  }
}

.c-timeline-panel_animation {
  left: 0;
  position: absolute;
}
