// Overrides to Bootstrap default variables

// Buttons
$input-btn-padding-y: .1rem;
$input-btn-padding-x: .5rem;

$input-btn-padding-y-sm: .05rem;
$input-btn-padding-x-sm: .3rem;

// Navlink
$nav-link-padding-y: .2rem;

// Modals
$modal-header-padding: .5rem;
$modal-inner-padding: .5rem;
