.modal-open .c-window.modal {
  overflow-y: hidden;
}

.c-window {
  .c-window__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .modal-body {
      height: 100%;
      overflow-y: auto;
    }

    .modal-footer {
      flex-shrink: 0;
    }
  }
}
