.modal-open .c-window.modal {
  overflow-y: hidden;
}

.c-window {
  .modal-body {
    // Settings the background and color allows us to color
    background: $modal-content-bg;
    color: $body-color;
    overflow-y: auto;
  }

  .modal-footer {
    background: $modal-content-bg;
    color: $body-color;
    flex-shrink: 0;
  }
}
