.modal-open .c-window.modal {
  overflow-y: hidden;
}

.c-window {
  .modal-body {
    background: $modal-content-bg;
    border-radius: 0 0 $border-radius $border-radius;
    color: $body-color;
    overflow-y: auto;
  }

  .modal-header {
    background: darken($modal-content-bg, 5%);

    &.collapsed {
      border-radius: $border-radius;
    }
  }

  .modal-footer {
    background: darken($modal-content-bg, 5%);
    border-radius: 0 0 $border-radius $border-radius;
    color: $body-color;
    flex-shrink: 0;
  }

  // Dont show window content while resizing to speed up performance
  &.c-window__blank-resize.ui-resizable-resizing {
    * {
      display: none;
      border: 0;
    }
  }
}
